---
http_interactions:
- request:
    method: get
    uri: https://api-metrika.yandex.ru/analytics/v3/data/ga?dimensions=ga:date&end-date=2019-04-06&ids=ga:53670769&metrics=ga:users,ga:sessions,ga:pageviews&sort=ga:date&start-date=2019-01-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"kind":"analytics#gaData","id":"https://api-metrika.yandex.net/analytics/v3/data/ga?startDate=2019-01-06&endDate=2019-04-06&metrics=ga%3Ausers%2Cga%3Asessions%2Cga%3Apageviews&dimensions=ga%3Adate&sort=ga%3Adate&lang=ru&start-index=1&max-results=1000&prettyPrint=false&ids=ga%3A53670769","selfLink":"https://api-metrika.yandex.net/analytics/v3/data/ga?startDate=2019-01-06&endDate=2019-04-06&metrics=ga%3Ausers%2Cga%3Asessions%2Cga%3Apageviews&dimensions=ga%3Adate&sort=ga%3Adate&lang=ru&start-index=1&max-results=1000&prettyPrint=false&ids=ga%3A53670769","containsSampledData":false,"sampleSize":"0","sampleSpace":"0","query":{"ids":"ga:53670769","dimensions":["ga:date"],"metrics":["ga:users","ga:sessions","ga:pageviews"],"sort":["+ga:date"],"start-date":"2019-01-06","end-date":"2019-04-06","start-index":1,"max-results":1000},"itemsPerPage":1000,"totalResults":0,"columnHeaders":[{"name":"ga:date","columnType":"DIMENSION","dataType":"STRING"},{"name":"ga:users","columnType":"METRIC","dataType":"FLOAT"},{"name":"ga:sessions","columnType":"METRIC","dataType":"FLOAT"},{"name":"ga:pageviews","columnType":"METRIC","dataType":"FLOAT"}],"totalsForAllResults":{"ga:users":"0","ga:sessions":"0","ga:pageviews":"0"},"rows":[]}'
  recorded_at: Mon, 06 Jul 2020 21:00:00 GMT
[...]
