---
http_interactions:
- request:
    method: get
    uri: https://api-metrika.yandex.ru/analytics/v3/data/ga?dimensions=ga:date&end-date=2014-08-01&ids=ga:7915231&metrics=ga:users,ga:sessions,ga:pageviews&sort=ga:date&start-date=2014-05-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"kind":"analytics#gaData","id":"https://api-metrika.yandex.ru/analytics/v3/data/ga?startDate=2014-05-01&endDate=2014-08-01&metrics=ga%3Ausers%2Cga%3Asessions%2Cga%3Apageviews&dimensions=ga%3Adate&sort=ga%3Adate&lang=ru&start-index=1&max-results=1000&prettyPrint=false&ids=ga%3A7915231","selfLink":"https://api-metrika.yandex.ru/analytics/v3/data/ga?startDate=2014-05-01&endDate=2014-08-01&metrics=ga%3Ausers%2Cga%3Asessions%2Cga%3Apageviews&dimensions=ga%3Adate&sort=ga%3Adate&lang=ru&start-index=1&max-results=1000&prettyPrint=false&ids=ga%3A7915231","containsSampledData":false,"sampleSize":"2827937","sampleSpace":"2827937","query":{"ids":"ga:7915231","dimensions":["ga:date"],"metrics":["ga:users","ga:sessions","ga:pageviews"],"sort":["+ga:date"],"start-date":"2014-05-01","end-date":"2014-08-01","start-index":1,"max-results":1000},"itemsPerPage":1000,"totalResults":93,"columnHeaders":[{"name":"ga:date","columnType":"DIMENSION","dataType":"STRING"},{"name":"ga:users","columnType":"METRIC","dataType":"INTEGER"},{"name":"ga:sessions","columnType":"METRIC","dataType":"INTEGER"},{"name":"ga:pageviews","columnType":"METRIC","dataType":"INTEGER"}],"totalsForAllResults":{"ga:users":"771209","ga:sessions":"2827851","ga:pageviews":"19420328"},"rows":[["20140501","17483","27901","196855"],["20140502","17589","28204","196659"],["20140503","18603","29894","203351"],["20140504","19259","31432","213646"],["20140505","17553","27594","183657"],["20140506","16978","26603","173947"],["20140507","16497","25759","166272"],["20140508","16965","26503","178521"],["20140509","17126","26996","179684"],["20140510","18760","30155","204070"],["20140511","19463","31680","213332"],["20140512","17173","27041","176312"],["20140513","16732","26173","166184"],["201[...]
[...]
