@import mixins/ellipsis2
@import mixins/responsive

.p-tests-news
  .b-link_button
    span
      font-weight: normal
      padding-right: 12px
      font-size: 18px

  .sections
    flex-basis: 66%
    flex-direction: column
    display: flex
    flex-direction: row
    margin: 30px -10px 0

    .section
      flex-basis: 25%
      padding: 0 10px

  .fc-2-3-m .f-column.b-news_wall
    margin: 0

    .b-news_wall-topic
      +gte_ipad
        flex-basis: 50%

  .b-topic
    .b-status-line
      flex-wrap: nowrap
      margin: 0

      &:not(:last-child)
        margin-bottom: 8px

      .section
        &:after
          display: none

        &:not(:first-child):before
          // content: ''
          // display: inline
          // border-left: 1px solid #acb1b4
          // margin-left: 15px
          // padding-left: 14px

      .section.about
        +ellipsis2

      .section.created_at,
      .section.changed_at
        display: none

      .section.additional
        margin-left: auto
        padding-left: 30px
