@import mixins/date
@import mixins/ellipsis2
@import mixins/responsive

.p-tests-news
  .b-link_button
    span
      font-weight: normal
      padding-right: 12px
      font-size: 18px

  .sections
    display: flex

    +iphone
      flex-direction: column
      margin: #{30px - 10px} 0 -10px

    +gte_ipad
      margin: 30px -10px 0

    .section
      +iphone
        padding: 10px 0

      +gte_ipad
        padding: 0 10px
        flex-basis: 25%

    .seasons
      display: flex
      margin: 0 -10px

      .season
        flex-basis: 50%
        padding: 0 10px

        .b-link_button
          min-width: 0

  .fc-2-3-m .f-column
    .b-news_wall .b-news_wall-topic
      +gte_ipad
        flex-basis: 50%

  .generated-news
    min-width: 0 // neeed to allow overflow ellipsis inside of flex item

    +iphone
      display: none

  .generated-news-line
    display: flex
    min-height: 50px // to prevent height flickering when anime poster is loading
    margin-bottom: 18px

    .poster
      flex-shrink: 0
      line-height: 0
      margin-left: auto
      padding-left: 10px

      img
        width: 32px

    .info
      +ellipsis2

      .name
        +ellipsis2
        display: block
        font-size: 15px
        font-weight: bold
        line-height: 1
        margin-bottom: 8px

      .status-time
        display: flex
        line-height: 17px
        align-items: baseline

        .kind
          color: #123
          display: inline-block
          margin-right: 7px

        .b-anime_status_tag
          margin-right: 7px

        .time
          +date

      .tag
        display: inline-block

        &:not(:last-child)
          margin-right: 5px

      .b-add_to_list
        margin-top: 7px

  .b-topic
    .b-status-line
      flex-wrap: nowrap
      margin: 0

      &:not(:last-child)
        margin-bottom: 8px

      .section
        &:after
          display: none

        &:not(:first-child):before
          // content: ''
          // display: inline
          // border-left: 1px solid #acb1b4
          // margin-left: 15px
          // padding-left: 14px

      .section.about
        +ellipsis2

      .section.created_at,
      .section.changed_at
        display: none

      .section.additional
        margin-left: auto
        padding-left: 30px
