@import compass/typography/text/ellipsis
@import mixins/column
@import mixins/link
@import mixins/menu-blocks
@import mixins/responsive
@import mixins/selected
@import mixins/marker

.p-dashboards-show
  .midheadline
    h2
      font-size: inherit
      font-weight: inherit
      display: inline-block

    .b-link
      +bordered-link
      font-size: 11px
      font-weight: normal
      margin-left: 10px
      padding-right: 0
      text-transform: none
      vertical-align: middle

      &:before
        display: none

  .cc-ongoings
    +cc

    +gte_ipad
      margin-bottom: $block-offset * 2

    +iphone
      margin-bottom: $block-offset

    .c-column
      +gt_laptop
        +column(8, 1/8, 1%)

      +laptop
        +column(7, 1/7, 1.5%)
        &.item-7
          display: none

      +ipad
        +column(6)
        &.item-6, &.item-7
          display: none

      +iphone_landscape
        +column(3)
        &.item-3, &.item-4, &.item-5, &.item-6, &.item-7
          display: none

      +iphone_portrait
        +column(2)
        &.item-2, &.item-3, &.item-4, &.item-5, &.item-6, &.item-7
          display: none

  .cc-second
    +cc

    +gte_ipad
      margin-bottom: $block-offset * 2

      .cc-inner
        +cc
        +column(3, 3/4)
        margin-bottom: 0

        .c-content
          float: right
          padding-left: 5.5%
          width: 66.6666%

        .c-my_list
          width: 33.3333%
          float: left

      .c-forum
        +column(3, 1/4)

    +iphone
      margin-bottom: $block-offset

      .c-content
        +column(1)
        margin-bottom: $block-offset

    +iphone_landscape
      .c-my_list
        +column(2)
        margin-right: 4% !important

      .c-forum
        +column(2)

    +iphone_portrait
      .c-my_list
        +column_bm(1)

      .c-forum
        +column(1)

  .cc-news
    +clear_left

    .c-user_news
      +gte_ipad
        +column_bm(2, 2/3)

      +iphone
        +column_bm(1, 1)

      .b-topic
        border-top-width: 5px

        +gte_ipad
          margin-bottom: $block-offset * 2

        +iphone
          margin-bottom: $block-offset

        &:last-child
          margin-bottom: 0

        .name-date a
          font-size: 16px !important

    .c-generated_news
      +gte_ipad
        +column_b(2, 1/3, 6%)

      +iphone
        display: none

      &>.container
        width: 100%
        min-height: 400px
        max-height: 600px
        margin-bottom: 60px

      .b-topic
        border-top-color: #ccc
        padding-top: 10px
        .name-date a
          font-size: 14px !important

  .c-my_list
    background: #e9f7fb
    border: 1px solid rgba(144, 213, 236, 0.45)
    padding: 5px 10px 8px

  .c-content
    .options
      margin-bottom: 5px
      margin-top: -3px

      .option
        +js-link
        font-weight: bold
        display: inline-block
        margin-right: 22px

        &.selected
          +selected

    .slides .reviews
      .b-catalog_entry
        margin-bottom: 0 !important

  .forums
    .section
      .link
        +link
        font-size: 13px
        font-weight: bold

      .threads
        color: $gray-2
        float: right
        font-size: 12px

  .contests .contest
    +menu-block-with-text-link

    a
      +ellipsis

      &:after
        right: 2px

    .finished
      color: $gray-1

    .started
      color: $gray-3

    .can-vote
      color: #307a3d

  .user-rate
    +menu-block-with-image
    min-height: 42px

    img
      max-height: 40px
      margin-bottom: 0
