@import mixins/ellipsis2
@import mixins/responsive
@import mixins/shikimori
@import mixins/link
@import mixins/flex_column

.p-dashboards-show .v2
  .b-link_button
    span
      font-size: 18px
      font-weight: normal
      padding-right: 12px

  .headline
    // headline must be upper to flex container with negative margins below
    position: relative
    z-index: 1

    .buttons
      margin-left: auto

      .options
        +link_color(#4bf)
        cursor: pointer

        &:before
          +shikimori('\e84e')
          font-size: 18px

  .headline.orange a
    +link_color(#ff8a3c)

  .fc-main
    $gutter-desktop: 25px
    +fcolumn-responsive($columns: 4, $ipad-columns: 3, $gutter-desktop: $gutter-desktop)

    .f-column
      min-height: 172px

      &.anime
        +ipad
          +fcolumn-size(11.5/30, $gutter-desktop)

        +laptop
          +fcolumn-size(0.29, $gutter-desktop)

        +gt_laptop
          +fcolumn-size(0.265, $gutter-desktop)

      &.manga-ranobe
        +ipad
          +fcolumn-size(8.5/30, $gutter-desktop)

        +laptop
          +fcolumn-size(0.21, $gutter-desktop)

        +gt_laptop
          +fcolumn-size(0.235, $gutter-desktop)


      &.socials
        +ipad
          display: none

    .my-list
      .headline
        display: flex

        .misc-links
          margin-left: auto

    .fc-seasons
      +fcolumn-responsive($columns: 2, $gutter: 10px, $offset: 10px, $selector: '.b-link_button')

      .b-link_button
        min-width: 0

    .shiki-socials
      background-image: asset_url('/assets/globals/socials@2x.png')
      background-repeat: no-repeat
      background-size: contain
      display: block
      height: 100%

      +iphone-portrait
        display: none

  .news_wall
    +fcolumn-responsive($ipad-columns: 2, $desktop-columns: 3, $selector: '.b-news_wall-topic, .b-postloader')

    &.latest-news
      +lte_ipad
        .b-news_wall-topic:last-child
          display: none

    &.other-news
      +gte_laptop
        .b-news_wall-topic:first-child
          display: none

    .b-postloader
      width: 100%
