@import "globals";

.files {
  position: relative;

  .collapsed {
    margin-bottom: 0;
  }

  .b-options-floated {
    right: 27px;
    &.right-zero {
      right: 10px;
    }
  }
  .search {
    @include clearfix;
    margin-bottom: 30px;

    /*&>div {*/
      /*margin-bottom: 30px;*/
    /*}*/
  }
  .subtitles {
    @include clearfix;
    margin-bottom: 30px;
  }
  .search {
    margin-bottom: 30px;
    margin-top: 40px;

    &:first-child {
      margin-top: 0;
    }

    .toshokan, .rutracker {
      float: left;
      margin-right: 30px;
      width: 355px;

      a {
        @include normal-link;
        display: block;
        line-height: $line-height;
      }
      .content {
        margin-left: 5px;
      }
      &.rutracker {
        margin-right: 0;
        margin-top: 0;
      }
    }
  }
  table {
    font-size: 12px;
    a {
      @include ellipsis;
      @include normal-link;
    }
    th {
      font-size: 13px;

      &.num {
        text-align: left;
        width: 50px;
      }
    }
    td {
      &:first-child {
        padding-left: 5px;
      }
      &.name.other-torrents a {
        width: 490px;
      }
      &.name.subtitles a {
        width: 655px;
      }
      &.name.full-subtitles a {
        width: 705px;
      }
      &.num {
        text-align: left;
        width: 50px;
      }
    }
  }
}
