@import "globals";

.images {
  position: relative;

  .search-tag {
    @include transition(color, 0.2s);
    @include link-color(#123);
    cursor: pointer;
  }
  .danbooru-suggest {
    clear: both;
    display: none;
    margin: -5px 0 5px 0;

    .tag-suggest {
      margin: 3px 0 0 5px;
      padding-left: 3px;
      width: 225px;
    }
    .item-save {
      @include icon-button('\e817');
      float: right;
      margin: 1px 5px 0 15px;
      visibility: hidden;
      &:before {
        padding-right: 5px;
      }
    }
  }
}
.danbooru {
  display: none;
  position: relative;
  margin: 0 5px 0 5px;

  /*.images-list {*/
    /*width: 980px;*/
  /*}*/
  .postloader {
    clear: left;
  }
  .postloader-progress {
    clear: left;
    width: 875px;
    img {
      margin: 10px 0 0 0!important;
    }
  }
  &.positioned {
    .postloader, .postloader-progress {
      width: 705px;
    }
  }
}
