@import globals
@import mixins/comma_separated
@import mixins/block
@import mixins/column
@import compass/utilities/general/clearfix

.p-animes .info, .p-mangas .info
  //+clearfix

  // columns media
  .c-image
    +gte_ipad
      +bcolumn(2)
      width: 30.5%

    +iphone-portrait
      +column(1)

    +iphone-landscape
      +column(2)

  .c-about
    +gte_ipad
      +column(2)
      width: 65.5%
      z-index: 1 // без этого нижний блок с description перекрывает текущий

    +iphone-portrait
      +column(1)

    +iphone-landscape
      +column(2)

    .c-info, .c-rating
      +column(2, 0.5, 6%)

      +iphone
        +column(1)

    &:after
      display: block
      clear: left

  .c-description
    margin-left: 33.3%
    padding-top: 1px // из-за странной баги в фаерфоксе

    +iphone
      clear: both
      margin-left: 0

  .one-video
    +gte_ipad
      .c-screenshots
        +column(2, 0.75)

      .c-videos
        +column(2, 0.25)

      .c-screenshot
        +column(3)

        &.entry-4, &.entry-5
          display: none

      .c-video
        +column(1)

        &.entry-2, &.entry-3, &.entry-4, &.entry-5
          display: none

  .two-videos
    +gte_ipad
      .c-screenshots, .c-videos
        +column(2)

    +widescreen
      .c-screenshot, .c-video
        +column(2)
        &.entry-3, &.entry-4, &.entry-5
          display: none

    +ipad
      .c-screenshot, .c-video
        +column(3)
        &.entry-4, &.entry-5
          display: none

  .c-screenshot, .c-video
    img
      max-width: 100%

    +gte_ipad
      +column(5, 1/5, 1.5%)

    +iphone-portrait
      +column(2)
      &.entry-3, &.entry-4, &.entry-5
        display: none

    +iphone-landscape
      +column(3)
      &.entry-4, &.entry-5
        display: none

  .four-characters
    +gte_ipad
      .c-characters, .c-people
        +column(2)

      .c-character, .c-person
        +column(4)

  .five-characters
    +gte_ipad
      .c-characters
        +column(2, 5/8)

      .c-people
        +column(2, 3/8)

      .c-character
        +column(5)

      .c-person
        +column(3)

  .six-characters
    +gte_ipad
      .c-characters
        +column(2, 6/8)

      .c-people
        +column(2, 2/8)

      .c-character
        +column(6)

      .c-person
        +column(2)

  .c-character, .c-person
    +gte_ipad
      +bcolumn(7)
    +iphone-portrait
      +bcolumn(3)
    +iphone-landscape
      +bcolumn(5)

  .b-catalog-entry
    +gte_ipad
      +bcolumn(7)
    +iphone-portrait
      +bcolumn(3)
      &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7)
        display: none

    +iphone-landscape
      +bcolumn(5)
      &:nth-child(6), &:nth-child(7)
        display: none

  .comments .b-options-floated
    +iphone-portrait
      margin-bottom: 10px
      position: initial
      text-align: right

  .anime-image
    margin-bottom: 5px

    img
      max-width: 100%

  .anime-info
    .other-names.click-loader
      +plashka
      height: 15px
      line-height: 15px
      margin-top: 5px
      padding: 0 17px 0 13px
      position: absolute
      text-align: center
      span
        margin-top: -4px
        margin-left: -3px
        position: absolute
      img
        margin: 0 -10px 2px -2px

  .watch-online
    +ellipsis
    text-align: center

    +gte_ipad
      font-size: 13px
      line-height: $line-height
      margin: 6px 0 10px 0

    span, a
      +normal-link
      +gte_ipad
        &:before
          line-height: 20px

  .additional-links
    +clearfix
    max-width: 230px

    .key
      float: left
      margin-left: 5px
      color: $gray-color

    .link-reviews, .link-comments, .link-comment-reviews
      +comma_separated
      +normal-link
      float: left
      margin-left: 5px

  .being-translated
    margin-top: 2px

  .related-shower
    +plashka
    border: 1px solid #F2F2F2
    clear: left
    margin: -5px 0 $block-offset 0

  .related-hidden
    display: none

  .b-catalog-entry
    .image-decor
      padding: 0

  .video_screen_previews
    +clearfix

  .images-list, .videos-list
    height: 111px

    .image-container
      margin-right: 12px
      padding: 3px 3px 0
      img, a
        height: 95px
      &:last-child
        margin-right: 0
      &.vk
        img
          height: 128px
          margin-top: -16px
        .video-marker
          margin-top: -37px

  .images-list .image-container
    background: #E5E5E5

  .videos-list .video
    position: relative
    width: auto

  .people-container
    clear: none
    //&.p0, &.c0
      //width: 100%
    //&.t2, &.t3, &.t4, &.t5, &.t6
      //margin-bottom: 0

      //&.first
        //float: left
        //margin-right: 30px

      //.item-block
        //height: 175px

      //.person-block-wide
        //width: 123px
        //.image
          //max-height: 102px

    //&.second.s1, &.first.v1, &.first.v2
      //.image-container
        //background: transparent

    //// блоки с персонажами
    //&.first
      //clear: both
      //&.c1.p1, &.c1.p2, &.c2.p1, &.c2.p2, &.t4.c2
        //width: 369px
      //&.c2.p3
        //width: 340px
      //&.t5.c4
        //width: 495px
    //&.t6.c2, &.t6.c3, &.t6.c4, &.t6.c5
      //.item-block
        //width: 118px !important

    //// блоки с видео
    //&.s0
      //float: right
    //&.first.v1, &.s1.v1, &.s0.v1
      //width: 170px
      //.image-container
        //padding: 0 2px 0 0
    //&.first.v2, &.s1.v2, &.s0.v2
      //width: 355px
      //.image-container
        //padding: 0 1px 0 0
        //&.vk
          //padding: 0
    //&.v1, &.v2
      //&.first
        //float: left
        //margin-right: 30px
    //&.v1.first
      //width: 540px

  .studio-logo
    max-width: 195px

  .anime-rate
    width: auto
    margin-bottom: $block-offset

    .add-to-list
      +normal-link

    .buttons
      position: absolute
      right: 0

    .expand-options
      +icon-button('\006d')
      margin-top: 3px

    .expanded-options
      +transition(height 0.3s ease)
      display: none

    .rate-container
      +transition(height 0.3s ease)
      margin-right: 5px
      overflow: hidden

    .item-edit
      margin-top: 3px
      color: $gray-color-0

    .rate-show
      margin-bottom: 5px

      .rate-number
        float: right

        .b-input
          display: inline

        label
          display: none

        input
          text-align: center
          width: 25px

        .item-add
          margin-left: 10px

      .status
        margin-bottom: 10px

      .note
        color: $gray-color-0
        margin-top: 5px

      .rate-block
        width: 195px

        .scores-label-description
          margin-right: 5px

    .rate-edit
      display: none

      .b-input.integer input
        width: 45px

      .remove
        +clearfix
        margin-bottom: 10px

        a
          +normal-link
          float: right

      textarea
        width: 195px
