.screenshots {
  width: 740px;

  .subblock-title {
    margin-bottom: 10px;
  }
  .image-container {
    margin: 0 5px 10px 5px;

    /*&:nth-child(4n) {*/
      /*margin-right: 0;*/
    /*}*/
    img {
      margin: 0;
    }
  }
  .image-drag-placeholder {
    border: 1px dashed #bbb;
    height: 93px;
    width: 168px;
    background-color: #f5f5f5;
    display: inline-block;
  }
  .contributors {
    float: right;
  }
  h2 {
    margin-bottom: 10px;
  }
}
.screenshots-title {
  margin-top: -5px;
  margin-bottom: 5px;
}
