---
http_interactions:
- request:
    method: get
    uri: https://anidb.net/?Accept=text/html,application/xhtml%2Bxml,application/xml%3Bq=0.9,image/webp,*/*%3Bq=0.8&Accept-Encoding=gzip,%20deflate&Accept-Language=en-US,en%3Bq=0.8,ru%3Bq=0.6,ja%3Bq=0.4&Origin=http://anidb.net&Referer=http://anidb.net/perl-bin/animedb.pl?show=login&User-Agent=Mozilla/5.0%20(Macintosh%3B%20Intel%20Mac%20OS%20X%2010_11_6)%20AppleWebKit/537.36%20(KHTML,%20like%20Gecko)%20Chrome/55.0.2883.95%20Safari/537.36
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html>\n<html lang=\"en\" prefix=\"og: http://ogp.me/ns#\">\n\t<head>\n\t\t<meta
        http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\"/>\n\t\t<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\t\t<title>AniDB
        AntiLeech - AniDB</title>\n\t\t<meta property=\"og:description\" name=\"description\"
        content=\"Looking for information about AniDB AntiLeech? AniDB is the right
        place for you. AniDB is a not-for-profit anime database providing you with
        all infor...\"/>\n\t\t<meta name=\"robots\" content=\"index, follow\"/>\n\t\t<link
        rel=\"stylesheet\" href=\"https://cdn-eu.anidb.net/css/anidbstyle3/anidbstyle3.css?v=2021-04-09T09-33-51\"
        type=\"text/css\" title=\"Style\"/>\n\t\t<link rel=\"apple-touch-icon\" sizes=\"180x180\"
        href=\"https://cdn-eu.anidb.net/css/icons/touch/apple-touch-icon.png?v=6APwgP3EOy\"/>\n\t\t<link
        rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"https://cdn-eu.anidb.net/css/icons/touch/favicon-32x32.png?v=6APwgP3EOy\"/>\n\t\t<link
        rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"https://cdn-eu.anidb.net/css/icons/touch/favicon-16x16.png?v=6APwgP3EOy\"/>\n\t\t<link
        rel=\"manifest\" href=\"https://cdn-eu.anidb[...]
- request:
    method: post
    uri: https://anidb.net/perl-bin/animedb.pl
    body:
      encoding: UTF-8
      string: show=main&xuser=naruto1452&xpass=Wy6F27yNuDFB&xdoautologin=on&do.auth=Login
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
      Location:
      - https://anidb.net/
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>302 Found</title>
        </head><body>
        <h1>Found</h1>
        <p>The document has moved <a href="https://anidb.net/">here</a>.</p>
        </body></html>
  recorded_at: Wed, 21 Apr 2021 16:37:28 GMT
- request:
    method: get
    uri: https://anidb.net/?Accept=text/html,application/xhtml%2Bxml,application/xml%3Bq=0.9,image/webp,*/*%3Bq=0.8&Accept-Encoding=gzip,%20deflate&Accept-Language=en-US,en%3Bq=0.8,ru%3Bq=0.6,ja%3Bq=0.4&Origin=http://anidb.net&User-Agent=Mozilla/5.0%20(Macintosh%3B%20Intel%20Mac%20OS%20X%2010_11_6)%20AppleWebKit/537.36%20(KHTML,%20like%20Gecko)%20Chrome/55.0.2883.95%20Safari/537.36
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:[...]
