- unless @itemtype
  .block.logo
    center: a href="#{@resource.url}" title="#{localized_name @resource}"
      img[
        src="#{cdn_image @resource, :original}"
        title="#{localized_name @resource}"
        alt="#{localized_name @resource}"
      ]

/- if user_signed_in?
  /.block.actions
    /div
      /.subheadline Действия
      /ul.block-list

        /li.comment
          /span Комментировать

        /li.fav-add style="#{'display: none;' if @resource.seyu_favoured?}"
          /span.favourite-add data-remote="true" action="#{favourites_seyu_path @resource.object.class.name, @resource.id}" data-method="post" data-type="json" Добавить в избранное

        /li.fav-remove style="#{'display: none;' unless @resource.seyu_favoured?}"
          /span.favourite-remove data-remote="true" action="#{favourites_seyu_path @resource.object.class.name, @resource.id}" data-method="delete" data-type="json" Удалить из избранных

        //li.edit-entry
          /span Редактировать персонажа

= render 'blocks/favoured', favoured: @resource.favoured, url: favoured_seyu_url(@resource)
