.b-oauth_application.c-column[
  class=local_assigns[:content_by]
]
  a.name-logo[
    href=oauth_application_url(oauth_application)
    title=oauth_application.name
  ]
    img.logo[
      src=cdn_image_url(oauth_application, local_assigns[:content_by] == :mini ? :x48 : :x160)
      srcset="#{cdn_image_url oauth_application, local_assigns[:content_by] == :mini ? :x96 : :x320} 2x"
      alt=oauth_application.name
    ]
    .name
      = oauth_application.name
