header.head
  h1 Настройка уведомлений
  p.notice Вы отписаны от уведомлений о личных сообщениях на почту.
p Изменить прочие настройки умедомлений можно на <a class="link-color" href="#{user_settings_url(current_user)}">странице настроек вашего профиля</a>.
