= render layout: 'page' do
  .subheadline = og.headline
  .to-process[
    data-dynamic='topic'
    data-faye=@resource.main_comments_view.faye_channel.to_json
  ]
    = render 'topics/comments',
      comments_view: @resource.main_comments_view,
      commentable: @resource
