@import mixins/flex_column
@import mixins/responsive

$height: 45px + 12px
.p-dashboards-show .v2
  .fc-content-updates
    overflow: hidden
    position: relative

    .inner
      +fcolumn-responsive($portrait-columns: 1, $landscape-columns: 2, $ipad-columns: 2, $desktop-columns: 2, $offset: 12px, $selector: '.b-news_line-topic')

      +iphone
        flex-direction: column
        height: $height * 4
        margin-left: 0

        .b-news_line-topic
          flex-shrink: 0
          margin-left: 0

          +iphone-portrait
            width: calc(100vw - 20px)

          +iphone-landscape
            width: calc(50vw - 25px)

          +iphone
            margin-top: 0px !important // overriders margin-top set by swiper
