@import mixins/ellipsis2
@import mixins/flex_column
@import mixins/link
@import mixins/responsive

.p-dashboards-show .v2
  .content-updates
    // +fcolumn-responsive($portrait-columns: 1, $landscape-columns: 2, $ipad-columns: 3, $desktop-columns: 3)
    +fcolumn-responsive($portrait-columns: 1, $landscape-columns: 2, $ipad-columns: 2, $desktop-columns: 2)

    a.title
      +link(#456)
      font-size: 15px
      display: block

    .title
      font-size: 14px
      font-weight: bold
      line-height: 24px
      margin-bottom: 4px
      color: #456

      &.contests
        +iphone-portrait
          margin-top: 18px

        +gte_iphone-landscape
          margin-top: 8px // equal to b-link margin-bottom

  .links
    .b-link
      align-items: center
      display: flex
      overflow: hidden
      font-size: 13px
      line-height: 20px

      &:not(:last-child)
        margin-bottom: 8px

      span:not(.poster)
        +ellipsis2

      &.moderation
        color: $red

      &.misc
        color: $purple

      .poster
        background-size: 100%
        flex-shrink: 0
        height: 20px
        margin-right: 5px
        width: 20px


    // .f-column
    //   min-width: 0
    //
    //   +iphone-portrait
    //     padding: 5px 0
    //
    //     .b-link_button.maxi
    //       font-size: 15px
    //       padding: 8px 20px
    //
    //     .b-link
    //       &:nth-child(4),
    //       &:nth-child(5)
    //         display: none
    //
    //   +iphone-landscape
    //     padding: 10px 10px
    //     width: 50%
    //
    //   +gte_ipad
    //     padding: 0 15px
    //     width: 25%
    //

