@import globals
@import mixins/dash_separated
@import mixins/date
@import mixins/ellipsis2
@import mixins/link

.p-dashboards-show .v2
  .my-list
    background: #e9f7fb
    border: 1px solid rgba(144, 213, 236, 0.45)
    padding: 5px 10px 8px

    .label
      align-items: baseline
      color: #123
      display: flex
      font-size: 14px
      font-weight: 500
      margin-bottom: 8px

      .misc-links
        margin-left: 8px

        a
          +link
          +dash_separated
          font-weight: normal
          display: inline
          font-size: 11px
          line-height: 1
          text-transform: none

    .history
      display: flex

      &:not(:last-child)
        margin-bottom: 18px

      &:hover .title
        color: inherit

      .content
        +ellipsis2

      img
        margin-right: 10px
        width: 48px

      .title
        +ellipsis2
        font-size: 14px
        font-weight: bold
        line-height: 1
        margin-bottom: 8px

      .action
        +ellipsis2
        color: #333
        font-size: 12px
        line-height: 1
        margin-bottom: 2px

      time
        +date
