@import globals
@import mixins/date
@import mixins/ellipsis2

.p-dashboards-show .v2
  .my-list
    .midheadline
      align-items: baseline
      display: flex

      .misc-links
        margin-left: auto
        line-height: 1

    .history
      display: flex

      &:not(:last-child)
        margin-bottom: 18px

      &:hover .title
        color: inherit

      .content
        +ellipsis2

      img
        margin-right: 10px
        width: 48px

      .title
        +ellipsis2
        font-size: 14px
        font-weight: bold
        line-height: 1
        margin-bottom: 8px

      .action
        +ellipsis2
        color: #333
        font-size: 12px
        line-height: 1
        margin-bottom: 2px

      time
        +date
