.b-rate.rateable(
  data-notices= t("activerecord.attributes.user_rate.scores")
)
  .stars-container
    .hoverable-trigger
    .stars.score(class="score-#{score}")
    .stars.hover
    .stars.background
  .text-score
    .score-value(class="score-#{score}")
      = score

    .score-notice
      if score > 0
        = t("activerecord.attributes.user_rate.scores." + score)
      else
        | &nbsp;
