div
  .b-add_to_list(class= user_rate.status)
    form(data-remote='true' data-type='true')
      input(type='hidden' name='frontend' value='1')
      input(type='hidden' name='user_rate[user_id]' value= user_id)
      input(type='hidden' name='user_rate[target_id]' value= user_rate.target_id)
      input(type='hidden' name='user_rate[target_type]' value= user_rate.target_type)
      input(type='hidden' name='user_rate[status]' value= user_rate.status)

      .trigger
        .trigger-arrow

        if user_rate.id
          .edit-trigger(data-remote='true' data-type='html' data-action="#{edit_url})
            .edit
            .text
              span.status-name(data-text= t("frontend.enumerize.user_rate.status." + user_rate.status))
              if user_rate.score > 0
                span
                  | &nbsp;&nbsp;&ndash;&nbsp;&nbsp;
                  = user_rate.score

        else
          .text.add-trigger(data-status="#{UserRate.statuses[:planned]}")
            .plus
            span.status-name(data-text= t('frontend.user_rates.user_rate.add_to_list'))
