span.review-votes_count[
  itemscope
  itemprop='aggregateRating'
  itemtype='http://schema.org/AggregateRating'
]
  meta itemprop='bestRating' content='10'
  meta[
    itemprop='ratingValue'
    content=(review.cached_votes_up * 10.0 / (review.cached_votes_down + review.cached_votes_up)).round(1)
  ]
  meta[
    itemprop='ratingCount'
    content=(review.cached_votes_up + review.cached_votes_down)
  ]
  = render 'reviews/votes', review: review
