**.orig
*.bz2
*.rbc
*.sassc
.DS_Store
.bundle
.project
.rspec
.rvmrc
.sass-cache
/.bundle
/coverage/
/db/*.sqlite3
/log/*
/public/system/*
/public/assets/*
/spec/tmp/*
/tmp/*
/vendor/bundle
capybara-*.html
config/initializers/secret_token.rb
db/*.sqlite3
dump.rdb
log
log/*.log
pickle-email-*.html
public/stylesheets/compiled
rerun.txt
tmp/**/*
tmp/restart.txt
tmp/rspec_guard_result
tmp/tags
