@import "globals";

.list_history {
  a {
    @include normal-link;
  }
  .history-interval {
    margin-bottom: 25px;
    margin-left: 5px;

    &:last-child {
      margin-bottom: 0;
    }
    .date {
      @include date;
      font-size: 12px;
      float: right;
    }
  }
  .b-postloader {
    margin-top: -20px;
  }
}
