@import globals
@import blocks/menu-block
@import mixins/dash-separated
@import mixins/hover_underlined

.profile
  // в меню фильтры по своему списку не отображаем
  .mylist-block
    display: none

  .image-links a
    margin-right: 11px !important

    &:last-child
      margin-right: 0px !important
    img
      padding: 1px !important

  .left-block
    float: left
    margin: 10px 15px 35px 0
    padding: 0 15px 0 0
    width: 160px

    .user-menu-container
      position: relative
      .b-options-floated
        line-height: 20px
        right: -590px
        margin-top: -179px
        a, span
          margin-left: 5px

    .slider-control a
      display: block
    .unread-count
      font-weight: bold
      float: right

  .right-block
    float: right
    margin: 10px 0 30px 0
    padding-left: 15px
    width: $menu-width

    .history-block
      .entry
        +menu-block-with-image

    .groups-block
      img
        width: 43px

  .middle-block
    margin-right: 244px
    margin-left: 190px

  .website
    +normal-link

  .favourites-block
    height: 100px

  .user-info
    overflow: hidden
    // чтобы clear: left у дочерних элементов не захватывал слишком много - а надо дял фаерфокса
    .summary
      font-size: 12px
      line-height: 17px
      margin-bottom: 20px
      p
        font-size: inherit
        line-height: inherit
      .last-online
        font-size: 11px
        color: #888

    .stat
      clear: left
      padding-top: 0
      min-height: 50px
      margin-bottom: 25px
      line-height: 16px

      &:last-child
        margin-top: -16px

      &:first-child
        margin-top: 0

      .compatibility
        font-size: 11px
        position: relative

        a
          +hover_underlined
          position: absolute
          right: 0
          top: 2px
          white-space: nowrap

        .text
          &.zero
            +link-color($gray-color)
          &.weak
            +link-color(#6ea36e)
          &.moderate
            +link-color(#40a540)
          &.high
            +link-color(#18ca18)
          &.full
            +link-color(#0092ff)
        .rate
          font-weight: bold

      .klass-caption
        +text-font
        +hover_underlined
        display: inline-block
        font-weight: bold
        line-height: 18px

      .stat-bar
        height: 13px
        line-height: 13px
        overflow: hidden
        position: relative

        .total-bar
          +text-font
          background: #79A9CF
          color: white
          cursor: default
          float: left
          font-size: 10px
          height: 13px
          line-height: 13px
          text-align: center

          .completed-bar
            background: #4682b4
            cursor: default
            display: block
            float: left
            font-weight: normal
            height: inherit

          .dropped-bar
            background: #aaa
            cursor: default
            display: block
            float: right
            font-weight: normal
            height: inherit

          &.manga
            background: #edacd9

            .completed-bar
              background: #b78bc7

      .stat-names
        +text-font
        font-size: 11px
        line-height: 12px
        margin: 2px 0 0 2px

        li
          +dash-separated
          float: left

          a
            +link_color_hover_underlined(#112233)

    .favourites-block
      clear: left
