@import globals
@import mixins/float_column
@import mixins/frame_form
@import mixins/hide_mobile_menu

.p-topics-new,
.p-topics-edit,
.p-topics-create,
.p-topics-update,
.p-articles-new,
.p-articles-edit,
.p-articles-create,
.p-articles-update
  +hide_mobile_menu

  .topic-video
    .video
      line-height: 0

      .b-video
        margin-bottom: 0

    .remove-form
      +frame_form

    .form
      +frame_form

      .name-kind
        display: flex
        align-items: center

        .b-input
          margin-bottom: 0

        .video-name
          margin-right: $block-offset * 0.75
          flex-grow: 1

      .errors
        color: $red
        display: none
        margin-bottom: $block-offset / 2
