body
  font-family: "Helvetica Neue",Arial,Verdana,sans-serif
  line-height: 1.65

h1
  font-size: 20px

svg
  border: 1px dashed #ddd

  text
    font-size: 14px
    pointer-events: none
    display: none

    &.shadow
      stroke: #fff
      stroke-width: 3px

  image
    opacity: 0.2

  &.images
    .link
      stroke: #666
      stroke-width: 1px

      // 'adaptation', 'side_story', 'spin_off', 'sequel', 'alternative_version', 'prequel', 'other', 'summary', 'alternative_setting', 'character', 'parent_story', 'full_story'])
      &.side_story
        stroke-dasharray: 0,2 1

      &.spin_off,
      &.alternative_setting,
      &.alternative_version,
      &.other
        stroke: #ccc
        stroke-dasharray: 0,2 1

  &.circels
    path.link
      fill: none
      stroke: #666
      stroke-width: 2px

    circle
      fill: #ccc
      stroke: #333
      stroke-width: 3px
