h1
  font-size: 20px

svg
  border: 1px dashed #ddd

  image
    border: 2px solid red

  //.node
    //stroke: #fff
    //stroke-width: 1.5px

  .link
    stroke: #ddd
    stroke-opacity: .6
    stroke-width: 1px
