@import "globals";

.group .slide {
  float: left;
  margin-left: 0px;
  margin-right: 30px;
  overflow: hidden;
  width: $slide-width;
  position: relative;
}
.info {
  position: relative;

  .description .comment-block {
    margin-bottom: 30px;
    min-height: 0;
  }
  .members-list {
    @include clearfix;
    height: 75px;
    margin-bottom: 30px;
    overflow: hidden;
  }
}
.images-container {
  min-height: 77px;
  .drag-placeholder {
    min-height: 75px;
    margin-top: -2px;
  }
  .b-upload_progress.active {
    margin: -3px 7px 5px 5px;
  }
}
.user-block {
  height: 80px;
  width: 80px;
  a {
    @include normal-link;
  }
}
.images-list {
  margin-left: 5px;

  .image-container {
    float: left;
    margin-right: 5px;
    margin-bottom: 3px;
  }
  img {
    &.preload {
      /*width: 178px;*/
      height: 178px;
    }
  }
}
