aside.buttons
  .main-controls
    - unless comment.commentable_type == 'Topic' && comment.commentable.is_closed
      span.item-quote.to-process[
        title=t('actions.quote')
        data-text=t('actions.quote')
        data-dynamic='day_registered'
      ]
      span.item-reply.to-process[
        title=t('actions.reply')
        data-text=t('actions.reply')
        data-dynamic='day_registered'
      ]
    span.item-edit[
      title=t('actions.edit')
      data-text=t('actions.edit')
      data-action=edit_comment_url(comment)
      data-type='html'
      data-remote='true'
    ]
    span.item-delete[
      title=t('actions.delete')
      data-text=t('actions.delete')
    ]
    - if comment.moderatable? && current_user.can_post?
      span.item-moderation[
        title=t('actions.moderate')
        data-text=t('actions.moderate')
      ]
    span.item-cancel[
      title=t('actions.cancel')
      data-text=t('actions.cancel')
    ]

  .delete-controls
    span.item-delete-confirm[
      title=t('actions.delete')
      data-text=t('actions.delete')
      data-action=api_comment_url(comment)
      data-type='json'
      data-remote='true'
      data-method='delete'
    ]
    span.item-delete-cancel[
      title=t('actions.cancel')
      data-text=t('actions.cancel')
    ]

  .moderation-controls
    span.item-ban.b-tooltipped.unprocessed[
      title=t('actions.moderation.ban')
      data-text=t('actions.moderation.ban')
      data-action=new_moderations_ban_url(ban: { comment_id: comment.id, user_id: comment.user_id })
      data-method='get'
      data-type='html'
      data-remote='true'
      data-direction='top'
    ]

    span.item-abuse.b-tooltipped.unprocessed[
      title=(comment.not_from_club? ? t('actions.moderation.abuse') : t('actions.moderation.laws_abuse'))
      data-text=(comment.not_from_club? ? t('actions.moderation.abuse') : t('actions.moderation.laws_abuse'))
      data-action=abuse_api_v2_abuse_requests_url(comment_id: comment.id)
      data-method='post'
      data-type='json'
      data-remote='true'
      data-reason-prompt=t('actions.moderation.explain.abuse')
      data-direction='top'
    ]
    - if comment.not_from_club?
      span.item-spoiler.b-tooltipped.unprocessed[
        title=t('actions.moderation.spoiler')
        data-text=t('actions.moderation.spoiler')
        data-action=spoiler_api_v2_abuse_requests_url(comment_id: comment.id)
        data-method='post'
        data-type='json'
        data-remote='true'
        data-reason-prompt=t('actions.moderation.explain.spoiler')
        data-direction='top'
      ]
    - if comment.offtopable?
      span.item-offtopic.b-tooltipped.unprocessed[
        class=(:selected if comment.offtopic?)
        title=t('actions.moderation.offtopic')
        data-text=t('actions.moderation.offtopic')
        data-text-alt=t('actions.moderation.not_offtopic')
        data-confirm-add=t('actions.markers.offtopic.confirm_add')
        data-confirm-remove=t('actions.markers.offtopic.confirm_remove')
        data-action=offtopic_api_v2_abuse_requests_url(comment_id: comment.id)
        data-method='post'
        data-type='json'
        data-remote='true'
        data-direction='top'
      ]

    - if comment.moderatable?
      span.item-moderation-cancel[
        title=t('actions.cancel')
        data-text=t('actions.cancel')
      ]
