aside.buttons
  .main-controls
    span.item-quote title="Цитировать"
    span.item-reply[
      title="Ответить"
      data-action="#{comment_url comment}"
      data-type="json"
      data-remote="true"
    ]

    - if comment.can_be_edited_by? current_user
      span.item-edit[
        title="Изменить"
        data-action="#{edit_comment_path comment}"
        data-type="html"
        data-remote="true"
      ]

    - if comment.can_be_deleted_by? current_user
      span.item-delete title="Удалить"

    span.item-moderation title="Пожаловаться"
    span.item-cancel title="Отмена"

  - if comment.can_be_deleted_by?(current_user) && comment.respond_to?(:commentable)
    .delete-controls
      span.item-delete-confirm[
        title="Удалить"
        data-action="#{comment_url comment}"
        data-type="json"
        data-remote="true"
        data-method="delete"
      ]
      span.item-delete-cancel title="Отмена"

  .moderation-controls
    - if current_user.moderator?
      span.item-ban[
        title="Забанить"
        data-action="#{new_comment_ban_path comment}"
        data-method="get"
        data-type="html"
        data-remote="true"
      ]
    - else
      span.item-abuse.b-tooltipped.unprocessed[
        title="Нарушение правил"
        data-action="#{abuse_comment_abuse_requests_url comment}"
        data-method="post"
        data-type="json"
        data-remote="true"
        data-reason-prompt="Уточните, что за нарушение (заполнять не обязательно)"
        data-direction="top"
      ]
      span.item-spoiler.b-tooltipped.unprocessed[
        title="Спойлер"
        data-action="#{spoiler_comment_abuse_requests_url comment}"
        data-method="post"
        data-type="json"
        data-remote="true"
        data-reason-prompt="Уточните, что именно является спойлером (заполнять не обязательно)"
        data-direction="top"
      ]

    span.item-offtopic.b-tooltipped.unprocessed[
      class="#{:selected if comment.offtopic?}"
      title="Оффтопик"
      data-action="#{offtopic_comment_abuse_requests_url comment}"
      data-method="post"
      data-type="json"
      data-remote="true"
      data-direction="top"
    ]

    - if comment.respond_to?(:commentable) && comment.commentable.class == AniMangaComment
      span.item-review.b-tooltipped.unprocessed[
        class="#{:selected if comment.review?}"
        title="Отзыв"
        data-action="#{review_comment_abuse_requests_url comment}"
        data-method="post"
        data-type="json"
        data-remote="true"
        data-direction="top"
      ]

    span.item-moderation-cancel title="Отмена"
