= render layout: 'page' do
  .b-db_entry
    .c-image.cc
      .c-poster
        center
          img[
            src="#{attachment_url @resource.image}"
            title="#{localized_name @resource}"
            alt="#{localized_name @resource}"
          ]

      .c-actions
        a.new_comment.b-tooltipped.unprocessed[
          title="#{t '.actions.comment'}"
          data-direction='top'
          data-text="#{t '.actions.comment'}"
          data-dynamic='authorized'
        ]

        - if @resource.main_role?(:producer) || @resource.producer_favoured?
          a.fav-add.b-tooltipped.unprocessed.to-process[
            href="#{favourites_producer_url @resource.object.class.name, @resource}"
            style="#{'display: none;' if @resource.producer_favoured?}"
            title="#{t '.actions.add_to_favorites'}"
            data-remote='true'
            data-method='post'
            data-type='json'
            data-kind='producer'
            data-direction='top'
            data-text="#{t '.actions.add_to_favorites'}"
            data-dynamic='authorized'
          ]
          a.fav-remove.b-tooltipped.unprocessed.to-process[
            href="#{favourites_producer_url @resource.object.class.name, @resource}"
            style="#{'display: none;' unless @resource.producer_favoured?}"
            title="#{t '.actions.remove_from_favorites'}"
            data-remote='true'
            data-method='delete'
            data-type='json'
            data-kind='producer'
            data-direction='top'
            data-text="#{t '.actions.remove_from_favorites'}"
            data-dynamic='authorized'
          ]

        - if @resource.main_role?(:mangaka) || @resource.mangaka_favoured?
          a.fav-add.b-tooltipped.unprocessed.to-process[
            style="#{'display: none;' if @resource.mangaka_favoured?}"
            href="#{favourites_mangaka_url @resource.object.class.name, @resource}"
            title="#{t '.actions.add_to_favorites'}"
            data-remote='true'
            data-method='post'
            data-type='json'
            data-kind='mangaka'
            data-direction='top'
            data-text="#{t '.actions.add_to_favorites'}"
            data-dynamic='authorized'
          ]
          a.fav-remove.b-tooltipped.unprocessed.to-process[
            style="#{'display: none;' unless @resource.mangaka_favoured?}"
            href="#{favourites_mangaka_url @resource.object.class.name, @resource}"
            title="#{t '.actions.remove_from_favorites'}"
            data-remote='true'
            data-method='delete'
            data-type='json'
            data-kind='mangaka'
            data-direction='top'
            data-text="#{t '.actions.remove_from_favorites'}"
            data-dynamic='authorized'
          ]

        - if @resource.main_role?(:seyu) || @resource.seyu_favoured?
          a.fav-add.b-tooltipped.unprocessed.to-process[
            href="#{favourites_seyu_url @resource.object.class.name, @resource}"
            style="#{'display: none;' if @resource.seyu_favoured?}"
            title="#{t '.actions.add_to_favorites'}"
            data-remote='true'
            data-method='post'
            data-type='json'
            data-kind='seyu'
            data-direction='top'
            data-text="#{t '.actions.add_to_favorites'}"
            data-dynamic='authorized'
          ]
          a.fav-remove.b-tooltipped.unprocessed.to-process[
            href="#{favourites_seyu_url @resource.object.class.name, @resource}"
            style="#{'display: none;' unless @resource.seyu_favoured?}"
            title="#{t '.actions.remove_from_favorites'}"
            data-remote='true'
            data-method='delete'
            data-type='json'
            data-kind='seyu'
            data-direction='top'
            data-text="#{t '.actions.remove_from_favorites'}"
            data-dynamic='authorized'
          ]

        - if !(@resource.main_role?(:seyu) || @resource.main_role?(:producer) || @resource.main_role?(:mangaka)) || @resource.person_favoured?
          a.fav-add.b-tooltipped.unprocessed.to-process[
            href="#{favourites_person_url @resource.object.class.name, @resource}"
            style="#{'display: none;' if @resource.person_favoured?}"
            title="#{t '.actions.add_to_favorites'}"
            data-remote='true'
            data-method='post'
            data-type='json'
            data-kind='person'
            data-direction='top'
            data-text="#{t '.actions.add_to_favorites'}"
            data-dynamic='authorized'
          ]
          a.fav-remove.b-tooltipped.unprocessed.to-process[
            href="#{favourites_person_url @resource.object.class.name, @resource}"
            style="#{'display: none;' unless @resource.person_favoured?}"
            title="#{t '.actions.remove_from_favorites'}"
            data-remote='true'
            data-method='delete'
            data-type='json'
            data-kind='person'
            data-direction='top'
            data-text="#{t '.actions.remove_from_favorites'}"
            data-dynamic='authorized'
          ]
        a.edit.b-tooltipped.unprocessed.to-process[
          href="#{@resource.edit_url}"
          title="#{t '.actions.edit'}"
          data-direction='top'
          data-text="#{t '.actions.edit'}"
          data-dynamic='authorized'
        ]

    .c-about
      .cc
        - if @resource.credentials?
          .c-info-left
            .subheadline = t 'information'
            .b-entry-info
              - if @resource.credentials?
                = info_line t('in_english'), @resource.name
                = info_line t('in_japanese'), @resource.japanese
                = info_line Person.human_attribute_name(:birthday), formatted_date(@resource.birthday, true) if @resource.birthday
                = info_line Person.human_attribute_name(:website), @resource.website_html

        .c-info-right
          .subheadline = t ".positions_in_#{@resource.occupation}"
          .b-entry-info
            - @resource.groupped_roles.each do |role,times|
              = info_line role, times

    .c-description.m0
      .subheadline.m10
        .linkeable data-href="#{works_person_url @resource}" = t 'best_works'
      .c-works
        = render @resource.best_works, cover_notice: :role

  - if user_signed_in? || @resource.preview_thread.comments_count > 0
    .subheadline.m3
      - if @resource.preview_thread.comments_count > 0
        .linkeable data-href="#{comments_person_url @resource}" = i18n_i 'Discussion'
      - else
        = i18n_i 'Discussion'
    div
      .b-topic.unprocessed data-faye="#{@resource.preview_thread.faye_channel}"
        = render 'topics/comments', topic: @resource.preview_thread
