@import "globals";

.statistics {
  .social {
    float: right;
    margin-top: 10px;
  }
  .new-header {
    h1 {
      @include new-header-font;
    }
  }
  .group {
    margin-bottom: 20px;
    position: relative;

    .forum-nav {
      margin-bottom: 0;
      float: right;

      .sections {
        top: 0;
        right: 10px;
      }
    }
  }
  .description {
    color: #333;
    margin-bottom: 15px;
    margin-left: 1px;
    line-height: 18px;
  }
  #by_genre_all {
    margin-bottom: 20px!important;
  }
  #image_placeholder {
    img {
      margin: 0 auto;
      display: block;
    }
  }
}
