@import "globals";

.half-column-left {
  float: left;
  width: 312px;
  padding: 0 10px 0 0;
  /*border-right: 1px dotted #CCCCCC;*/
}
.half-column-right {
  float: left;
  width: 313px;
  padding: 0 0 0 15px;
}
.half-column-right .rsslink,
.half-column-left .rsslink {
  display: inline;
}
.half-column-right h2,
.half-column-left h2,
.half-column-right .block-title,
.half-column-left .block-title {
  margin-bottom: 5px;
}
.block-list.updates {
  margin-bottom: 10px;
}
/*************************************************/
/* right menu */
.menu-right {
  border-left: 1px solid #BBBBBB;
  float: right;
  margin-left: 15px;
  padding-left: 15px;
  width: 290px;

  .follow-twitter {
    width: 290px;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  .block-title {
    margin-bottom: 8px;
  }
  .ongoings {
    h2 {
      margin-bottom: 10px;
    }
    .more {
      margin-top: -26px;
    }
    .block-title {
      margin-bottom: 10px;
    }
    .related-all {
      right: 10px;
    }
  }
  .subblock-title {
    font-size: 13px;
    margin-bottom: 0px;
    margin-left: 5px;
  }
  .forum {
    h2 {
      margin-bottom: 5px;
    }
    .block-list li {
      margin-left: 5px;
    }
    .related-all {
      right: 10px;
    }
  }

  .social {
    width: 265px;
    padding-left: 25px;
    height: 25px;
    margin-bottom: 15px;

    #vk_like {
      float: left!important;
      width: 95px!important;
    }
    .fb-like {
      float: left!important;
      width: 95px!important;
    }
    .g-plusone, #___plusone_0 {
      float: left!important;
      width: 75px!important;
    }
  }
}
.releases .entry,
.ongoing-next {
  img {
    float: left;
    margin: 2px 10px 5px 2px;
  }
  span {
    display: block;
    margin-bottom: -2px;
  }
  .anons {
    color: #307A3D;
  }
  .release {
    color: #ca4929;
  }
  .anons, .release {
    display: inline;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 1px;
  }
  span.what-is-it {
    color: $orange;
    display: inline;
    padding-right: 1px;
  }
  .title {
    @include ellipsis;
    font-weight: bold;
  }
}
.menu-right .ongoing-next:first-child {
  margin-top: -5px;
}
.releases {
  clear: left;
  width: 315px;
  line-height: 130%;

  h2 {
    margin-bottom: 5px;
  }
  ul {
    li {
      float: left;
      width: 310px;
      margin: 0;

      &:first-child {
        margin: 0;
      }
    }
  }
}

/*************************************************/
/* slider */
.main-title {
  @include header-font;
  /*font: bold 16px/90% "Century Schoolbook",Georgia,Times,serif;*/
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 1px solid #BBBBBB;
  /*padding-bottom: 1px;*/

  .right {
    /*margin-top: 4px;*/

    p.selected {
      color: #333333!important;
      font-weight: bold;

      &:hover {
        cursor: default;
        color: inherit;
        text-decoration: none;
      }
    }
    a {
      color: inherit;
      text-decoration: inherit;
    }

    .more {
      float: left;
      margin-left: 15px;
      padding-top: 0px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.main-gallery {
  @include border-radius(5px);
  background: #333333;/*url(/images/bg_transparent.png) repeat;*/
  height: 224px;
  overflow: hidden;
  margin: -5px auto 25px;
  padding: 5px;
  width: 961px;

  .view-port {
    height: 100%;
  }

  /*.slide:first-child .image {*/
    /*display: none;*/
  /*}*/
  .entry {
    background: #101B1E;
    float: left;
    height: 224px;
    margin-left: 5px;
    overflow: hidden;
    position: relative;
    width: 156px;

    &:first-child {
      margin-left: 0;
    }
    .image {
      display: none;

      .img {
        height: 224px;
        width: 156px;
      }
    }
    .title {
      background: url(/images/bg-gray.png) repeat scroll 0 0 transparent;
      color: #FFFFFF;
      font-family: arial,sans-serif;
      font-size: 1.05em;
      height: auto;
      overflow: hidden;
      position: absolute;
      top: 234px;
      width: 156px;
      z-index: 1;

      a {
        color: inherit;
      }
      h3 {
        background: none repeat scroll 0 0 #FFFFFF;
        border-bottom: none;
        color: #333333;
        display: block;
        font-family: arial,sans-serif;
        font-weight: 700;
        margin-bottom: 5px;
        line-height: 1.2em!important;
        padding: 3px 2px 2px;
        text-align: center;
        white-space: normal;
        width: 152px;

        &.f15 {
          padding: 4px 2px 3px;
          margin-bottom: 5px;
        }
      }
      p {
        line-height: 16px;
        margin-bottom: 3px;
        padding: 0 5px;

        &:last-child {
          margin-bottom: 5px;
        }
      }
    }
  }
  .slide {
    margin-bottom: 5px;
    height: 234px;
  }
}
.anime-tracker {
  height: 105px;
  width: 650px;

  h2 {
    margin-bottom: 2px;
  }
}
.site-news {
  /*height: 90px;*/
  width: 650px;

  h2 {
    margin-bottom: 5px;
  }
}
/*.why-this-site {*/
  /*margin-bottom: 10px;*/
  /*width: 650px;*/

  /*.image-author {*/
    /*float: left;*/
    /*margin-right: 5px;*/
    /*margin-top: 3px;*/
  /*}*/
  /*h2 {*/
    /*[>border-bottom: 1px solid #BBBBBB;<]*/
    /*margin-bottom: 5px;*/
  /*}*/
  /*p {*/
    /*margin-bottom: 3px;*/
    /*text-indent: 15px;*/
    /*&:first-child {*/
      /*text-indent: 0px;*/
    /*}*/
  /*}*/
/*}*/
