@import mixins/block
@import mixins/clear_left
@import mixins/column
@import mixins/comma_separated
@import mixins/dash_separated
@import mixins/responsive

.p-achievements
  .b-entry-info
    .value.thresholds span
      +comma_separated

.p-achievements-index
  .level
    color: $gray-3
    display: inline-block
    padding-left: 5px

.p-achievements-group
  .incomplete
    &:not(:empty):before
      content: attr(data-label)
      display: block
      color: $red

    .incomplete-achievement
      font-size: 12px

      .label
        display: inline-block
        padding-right: 5px

    .field
      +comma_separated(5px)
      display: inline-block

.p-achievements-show
  .b-entry-info .level
    display: none

.p-achievements-franchise
  background: red
  .cc-badges
    +clear_left

    .b-badge
      +column(7, 1/7, 1%)

.p-achievements
  .cc-achievements
    +cc

    .b-achievement
      +gte_ipad
        +column(2)

      +iphone
        +column(1)

      //+gt_laptop
        //+column(4)
      //+gt_laptop
        //+column(4)

      //+ipad_laptop
        //+column(3)

      //+iphone_landscape
        //+column(2)

      //+iphone_portrait
        //+column(1)

  .cc-badges
    +clear_left

    .b-badge
      +column(4, 1/4, 1%)

  .cc-genres, .cc-creators
    +clear_left
    +block

    .b-achievement
      +column(1)


  //.cc-special-badges
    //+clear_left
    //+block

    //.b-badge
      //+column(2)
      //+gt_laptop
