//= require_directory ./p-animes
@import mixins/column

.p-animes, .p-mangas
  .c-character, .c-person
    +gte_ipad
      +bcolumn(7)
    +iphone-portrait
      +bcolumn(3)
    +iphone-landscape
      +bcolumn(5)

  .c-screenshot, .c-video
    img
      max-width: 100%

    +gte_ipad
      +column(5, 1/5, 1.5%)

    +iphone-portrait
      +column(2)
      &.entry-3, &.entry-4, &.entry-5
        display: none

    +iphone-landscape
      +column(3)
      &.entry-4, &.entry-5
        display: none
