@import globals
@import compass/utilities/general/clearfix
@import mixins/responsive
@import mixins/column
@import mixins/input
@import mixins/block

.p-animes_collection, .p-mangas_collection, .p-recommendations
  .b-catalog-entry
    +gte_ipad
      +bcolumn(4)

    +iphone-landscape
      +bcolumn(3)

    +iphone-portrait
      +bcolumn(2)

  .b-postloader
    clear: left

  .l-menu
    .filter
      position: absolute
      right: 2px

    .menu-block > .filter
      margin-top: 2px


    .addthis_toolbox
      margin: -5px 0 30px 30px

  .pagination
    clear: both
    color: #333
    font-size: 11px
    font-weight: bold
    line-height: 20px
    margin-bottom: 15px
    margin-top: -5px

    +iphone
      font-weight: normal

    &:last-child
      margin-top: 15px
      margin-bottom: 0

    .no-hover
      cursor: pointer
      display: inline-block
      margin: 0 10px

      input
        +input
        padding: 0
        margin: 0
        text-align: center
        width: 40px

      span
        padding: 0 3px

      .link-current
        border-bottom: 1px solid #333

    .link
      +normal-link
      display: inline-block

      &.disabled
        color: #999

        &:hover
          cursor: default
          text-decoration: none
