@import compass/utilities/general/clearfix
@import mixins/responsive
@import mixins/column
@import mixins/input
@import mixins/block
@import mixins/link

.p-animes_collection-index, .p-mangas_collection-index, .p-recommendations-index
  .b-postloader
    clear: left
    margin-bottom: 0

  .b-catalog_entry
    margin-bottom: $block_offset !important

  .pagination
    clear: both
    color: #333
    font-size: 11px
    font-weight: bold
    line-height: 20px
    margin-bottom: 15px
    margin-top: -5px

    +iphone
      font-weight: normal

    &:last-child
      margin-top: 15px
      margin-bottom: 0

    .no-hover
      cursor: pointer
      display: inline-block
      margin: 0 10px

      input
        +input
        font-weight: normal
        margin: 0
        padding: 0
        text-align: center
        width: 44px

      span
        padding: 0 3px

      .link-current
        border-bottom: 1px solid #333

    .link
      +link
      display: inline-block

      &.disabled
        color: #999

        &:hover
          cursor: default
          text-decoration: none
