@import globals/variables
@import mixins/shiki_check

.p-anime_video_authors
  .anime_video_author
    margin-bottom: 2px

    .url
      font-size: 11px
      color: $gray-3

.p-anime_video_authors-index
  .b-collection_search .clear
    display: block

  .is-verified, .not-verified
    cursor: pointer

    &:hover
      text-decoration: none

  .is-verified
    +shiki_check($green-check)

  .not-verified
    +shiki_check($red-check)
