@import globals
@import compass/utilities/general/clearfix
@import mixins/responsive
@import mixins/column
@import mixins/input

.p-animes_collection, .p-mangas_collection
  .b-catalog-entry
    +gte_ipad
      +bcolumn(4)

    +iphone-landscape
      +bcolumn(3)

    +iphone-portrait
      +bcolumn(2)

  .b-postloader
    clear: left

  .l-menu
    .filter
      position: absolute
      right: 0

    .menu-block > .filter
      margin-top: 2px
      margin-right: 3px

  .pagination
    border-bottom: 1px solid #D5D6D7
    border-top: 1px solid #D5D6D7
    height: 32px
    margin: -5px 10px 15px 0px
    color: #555555

    &:last-child
      margin-top: 20px
      margin-bottom: 0

    .links
      margin: 7px 10px 5px 10px
      line-height: 17px

    .no-hover
      cursor: pointer

    li
      font-size: 11px
      font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Helvetica,sans-serif

      &.first
        float: left

      &.last
        float: right

      &.middle
        margin-left: auto
        margin-right: auto
        width: 310px

        input
          +input
          padding: 0
          margin: 0
          text-align: center
          width: 40px

        .link-current
          border-bottom: 1px solid #333
    a
      color: inherit
      cursor: inherit

    .middle div
      margin: 0 5px
      display: inline

    .link
      +default-link

    .disabled
      color: #CCCCCC

      &:hover
        background-color: white
        cursor: default
