@import mixins/brackets_surrounded

.p-collections-index
  .b-topic > .inner aside.buttons
    display: none

.p-collections-new,
.p-collections-create,
.p-collections-edit,
.p-collections-update
  .remove-coauthor
    +brackets_surrounded($padding: 2px)
    font-size: 11px

  .collection-state-hint
    font-size: 12px

  .page-reload-hint
    font-size: 11px
    color: $red
