@import mixins/dash_separated
@import mixins/link

.p-messages
  .mass-actions
    float: right
    margin-top: -24px
    z-index: 1 // to fix some custom styles

    .action
      display: inline-block
      +dash_separated
      font-size: 11px
