@import ./p-profiles/*

.p-profiles
  header.head
    .misc
      margin-left: 1px

      +iphone
        display: block

      span, a
        +dash_separated(5px)
        padding: 0

      .banned
        color: $red
