@import compass/css3/transition
@import mixins/image_editable
@import mixins/pretty_list

.p-recommendations-index
  .b-options-floated
    right: 20px !important

  .mylist-block
    display: none

  .b-catalog_entry
    +image_editable
    .mark-ignored
      line-height: 16px
      right: 6px
      top: 6px

    &.entry-ignored
      +transition(opacity 0.4s ease)
      cursor: default !important
      opacity: 0.3

      a
        cursor: default !important

      .content
        display: none !important

  .no-rankings
    .fail
      color: $red

    ul
      +pretty_list
