@import "globals";

.index-list {
  .index-item {
    height: 155px;

    .image-name {
      .image {
        height: auto;
        max-height: 126px;
        max-width: 81px;
        width: auto;
      }
      .name {
        border-bottom: 1px solid #eee;
        display: block;
        margin-left: 94px;
        padding-left: 0;
        padding-top: 0;
        width: 240px;
      }
    }
    .info {
      margin-left: 94px;

      .block-list {
        float: left;
        width: 240px;
      }

      .char-ani-block {
        margin-top: -15px;
        float: right;

        .item-block {
          float: right;
          margin-left: 5px;
          margin-right: 5px;
          width: 110px;
        }
      }
    }
  }
  .postloader-progress {
    clear: both;
  }
}
.left-column {
  .avatar img {
    max-width: 215px;
    margin-bottom: 20px;
  }
  .site-link {
    @include ellipsis;
  }
  .item-apply {
    margin-right: -14px;
  }
  .item-save {
    margin-right: -5px;
  }
  .item-content-editor {
    margin-top: -17px;
    margin-left: 2px;
    input {
      width: 130px;
    }
  }
}
.char-ani-block {
  height: 160px;
  .ani-block {
    float: right;
  }
}
.person-line {
  height: 155px;
}
.anime-line {}
.manga-line {
  clear: both;
}
.images {
  .danbooru .images-list {
    width: 740px;
  }
}
