@import "globals";

.studios {
  .studio {
    border-bottom: 1px dashed #DDD;
    margin-bottom: 5px;
    padding-bottom: 5px;
    /*float: left;*/
    height: 65px;
    /*margin-right: 30px;*/
    /*width: 460px;*/

    &:last-child {
      border-bottom: none;
    }
    .logo {
      float: right;
      max-height: 58px;
      margin: 3px;
    }
    .name {
      @include normal-link;
      font-size: 14px;
      font-weight: bold;
      line-height: $line-height;
      color: #123;
      padding: 7px 0 0 0;
    }
    .animes, .years {
      color: darken($gray-color-0, 10%);
      font-size: 11px;
      line-height: 19px;

      .num {
        color: darken($gray-color-2, 10%);
      }
    }
  }
}
