@import globals

.studios
  .studio
    border-bottom: 1px dashed #DDD
    height: 65px
    margin-bottom: 5px
    padding-bottom: 5px

    &:last-child
      border-bottom: none

    .logo
      float: right
      max-height: 58px
      margin: 3px

    .name
      +normal-link
      color: #123
      display: block
      font-size: 14px
      font-weight: bold
      line-height: $line-height

    .animes, .years
      color: darken($gray-color-0, 10%)
      font-size: 11px
      line-height: 19px
      padding-left: 2px

      .num
        color: darken($gray-color-2, 10%)

