@import "globals";

.head .notice a {
  @include normal-link;
}
.menu-left {
  float: left;
  width: $menu-width-narrow;
  margin-right: 30px;

  .filter {
    float: right;
    margin-left: 0;
  }
}
.common-title {
  margin-bottom: 10px;

  .legend-container {
    color: #EDA012;
    cursor: pointer;
    float: right;
    font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    margin-top: 5px;
  }
}
.legend {
  padding: 5px 0;
}
.comparer {
  margin-left: $menu-width-narrow + 30px;
  position: relative;

  table {
    width: 99%;

    .selectable {
      @include selectable-decor;
    }
    a {
      @include ellipsis;
      display: block;
      color: #333;
    }
    .name {
      padding-left: 5px;
      a {
        @include normal-link;
      }
    }
    .notice {
      font-size: 11px;
      color: $gray-color-2;
    }
    .num {
      width: 90px;
    }
  }
}
.comparer table, .legend {
  .exact-same {
    background-color: #e6ffe6;
  }
  .almost-same {
    background-color: #f2fff2;
  }
  .slightly-difr {
    background-color: #fff2f2;
  }
  .abslt-difr {
    background-color: #ffe6e6;
  }
}
