/ .field-changes
/   .changes
/     .change
/       .label #{t '.before'}:
/       - if field == 'image'
/         code.b-code_inline image
/       - else
/         == h(version.old_value(field)).gsub("\n", "<br>")
/ 
/     .change
/       .label #{t '.after'}:
/       == h(version.new_value(field)).gsub("\n", "<br>")
/ 
/   - if version.old_value(field).present? && version.new_value(field).present?
/     .diff
/       .label Diff:
/       .value[
/         data-old_value=version.old_value(field)
/         data-new_value=version.new_value(field)
/       ]
