.achievement(
  class=achievement.event
)
  img.image(
    src=achievement.image
  )
  .title
    = I18n.t('frontend.achievements.title.' + achievement.event)

  .name
    .icon
    a(
      href='/achievements/' + achievement.neko_id
    )= achievement.label
    if achievement.level
      span.level ур. #{achievement.level}
