@import compass/typography/text/ellipsis
@import compass/utilities/general/clearfix
@import mixins/block
@import mixins/dash_separated
@import mixins/hover_underlined
@import mixins/link

.p-profiles .c-head
  +block
  +clearfix

  .brief
    +block

    .avatar
      float: left
      margin: 0 $block_offset $block_offset 0

    header
      overflow: hidden

      h1
        margin-bottom: 0

        &.aliases:after
          color: #333
          content: '\e816'
          cursor: pointer
          float: right
          font-family: 'shikimori'
          font-size: 12px
          margin-left: 8px
          margin-top: 16px

      .notice
        font-size: 12px
        line-height: 17px
        clear: left
        margin-top: 0

        span
          &:after
            color: $gray-color-0
            content: '/'
            padding: 0 5px

          &:last-child:after
            content: ''

      .banned
        color: red

  .lifetime
    margin-top: 15px
    clear: both

    .first, .second, .third
      +ellipsis

      span
        +ellipsis
        padding: 0 5px

    .third
      text-align: right

  //.mylist-block
    //.item-add
      //display: none !important

  //.image-links a
    //margin-right: 11px !important

    //&:last-child
      //margin-right: 0px !important
    //img
      //padding: 1px !important

  //.left-block
    //float: left
    //margin: 10px 15px 35px 0
    //padding: 0 15px 0 0
    //width: 160px

    //.user-menu-container
      //position: relative
      //.b-options-floated
        //line-height: 20px
        //right: -590px
        //margin-top: -179px
        //a, span
          //margin-left: 5px

    //.slider-control a
      //display: block
    //.unread-count
      //font-weight: bold
      //float: right

  //.right-block
    //float: right
    //margin: 10px 0 30px 0
    //padding-left: 15px
    //width: $menu-width

    //.history-block
      //.entry
        //+menu-block-with-image

    //.groups-block
      //img
        //width: 43px

  //.middle-block
    //margin-right: 244px
    //margin-left: 190px

  //.website
    //+normal-link

  //.favourites-block
    //height: 100px

  .lists-info
    clear: left
    overflow: hidden
    // чтобы clear: left у дочерних элементов не захватывал слишком много - а надо дял фаерфокса

    .summary
      font-size: 12px
      line-height: 17px
      margin-bottom: 20px

      p
        font-size: inherit
        line-height: inherit

      .last-online
        font-size: 11px
        color: #888

    .b-stat_bar
      clear: left

      .compatibility
        +clearfix

        a
          +hover_underlined
          font-size: 11px
          float: right

        .text
          &.zero
            +link_color($gray-color)
          &.weak
            +link_color(#6ea36e)
          &.moderate
            +link_color(#40a540)
          &.high
            +link_color(#18ca18)
          &.full
            +link_color(#0092ff)
        .rate
          font-weight: bold

      .stat-names
        font-size: 11px
        line-height: 12px
        margin: 2px 0 0 2px

        li
          +dash_separated
          float: left

          a
            +link_color(#112233)

            cursor: pointer

            &:hover
              text-decoration: underline

    //.favourites-block
      //clear: left
