@import compass/typography/text/ellipsis
@import mixins/clear_left
@import mixins/column

.p-profiles-show
  .profile-content
    overflow: hidden // без этого в фаерфоксе появляется отступ в $block_offset пикселей между .profile-head и .profile-content

  .lifetime
    +block

    .title
      line-height: $line_height
      width: 100%

      .value
        font-size: 12px
        float: right
        margin-top: 1px

    .times
      .time
        +ellipsis
        color: $gray-color
        display: inline-block
        font-size: 11px
        text-align: center
        width: 20%

        &.checked
          color: #456

          &:before
            color: $green
            content: '\e817'
            font-family: 'shikimori'
            font-size: 11px
            margin-right: 4px

    .bar
      height: 5px
      line-height: 5px

    .cuts
      position: relative
      .cut
        background: white
        height: 5px
        position: absolute
        width: 1px

        &.week
          left: 10%
        &.month
          left: 30%
        &.month_3
          left: 50%
        &.month_6
          left: 70%
        &.year
          left: 90%

  .cc-friends
    +clear_left

    .b-user
      margin-bottom: 6px

      +gte_ipad
        +column(6, 1/6, 3%)

      +iphone_landscape
        +column(6, 1/6, 3%)

      +iphone_portrait
        +column(5, 1/5, 3%)

        &.item-10, &.item-11
          display: none

  .cc-clubs
    +clear_left

  .cc-favourites
    +clear_left

    .c-column
      +gte_ipad
        +column(8, 1/8, 2%)

      +iphone_landscape
        +column(8, 1/8, 2%)

      +iphone_portrait
        +column(6, 1/6, 2%)

        &.item-6, &.item-7
          display: none

      .title
        display: none

  .activity
    +gte_ipad
      +block

    +iphone
      +block_m

    .title
      color: #456
      font-weight: bold
      margin-bottom: 5px

    .graph
      height: 140px

  .b-comments .item-moderation
    display: none
