a.b-badge[
  class=(:unavailable if local_assigns[:unavailable])
  class=('b-tooltipped unprocessed' unless local_assigns[:no_badge])
  class=("level-#{achievement.level}")
  title=achievement.title(current_user, ru_host?)
  href=achievement_url(achievement.group, achievement.neko_id)
  data-direction='top'
  data-tipsy-size=(local_assigns[:tipsy_size])
  data-progress=achievement.progress
]
  - if achievement.image.present?
    img src=achievement.image loading='lazy'
  - else
    .no-image
