@import compass/css3/opacity
@import mixins/block
@import mixins/column
@import mixins/link

.b-clubs-menu
  .members
    .b-user
      margin-bottom: 6px

      +gte_ipad
        +column(6)

      +iphone_landscape
        +column(6)

      +iphone_portrait
        +column(5)

        &:nth-child(11), &:nth-child(12)
          display: none

      img
        max-width: 100%

  .admin .b-user
    margin-bottom: 15px

  .b-catalog_entry
    margin-bottom: 5px !important

  .actions
    li
      &:hover
        color: $link-hover
        a

    .send-invite
      background: transparent
      border: none
      line-height: 18px
      margin: -1px 0 0 1px
      outline: none
      padding: 2px 0 1px
      width: 180px

    .upload
      input
        display: none

    .upload label,
    .invite span,
    .join a,
    .leave a,
      +js-link
      border-bottom-color: transparent
      color: inherit
      vertical-align: middle

    .upload:hover label,
    .invite:hover span,
    .join:hover a,
    .leave:hover a,
      border-bottom-color: $link-border-hover

  &>.invite
    display: none

    .b-input
      input
        width: 100%
      label
        display: none
