$line-height: 1.65

// высота меню
$menu-height: 31px
// ширина слайда
$slide-width: 755px
// ширина меню
$menu-width: 230px
// ширина узкого меню
$menu-width-narrow: 160px

// стандартный отступ
$block-offset: 30px

// цвета
$selected-color: #176093
$hover-color: #1d78b7
$hover-color-0: #2b8acc
$active-color: #155785 !important

$gray-color-0: #acb1b4
$gray-color: #9da2a8
$gray-color-2: #7b8084
$gray-color-3: #4e5257

// даты
$date-color: #acb1b4

// adaptive
/*320px for common smartphones including iPhone at portrait orientation*/
/*480px and below for iPhones at landscape orientation and many of the HTC handsets*/
/*768px – 980px for iPad and other tablets*/
/*980px and upwards for desktop monitors*/
/*1200px and upwards for larger desktop monitors*/
$phone: 320px
$iphone: 480px
$ipad: 768px
$desktop: $ipad + 1px
$widescreen: 1025px

// Cool

$aqua:  #7FDBFF
$blue:  #0074D9
$navy:  #001F3F
$teal:  #39CCCC
$green: #2ECC40
$olive: #3D9970
$lime:  #01FF70

// Warm

$yellow:  #FFDC00
$orange:  #FF851B
$red:     #FF4136
$fuchsia: #F012BE
$purple:  #B10DC9
$maroon:  #85144B

// Gray Scale

$white:  #fff
$silver: #ddd
$gray:   #aaa
$black:  #111
