@import globals/variables

=brackets_surrounded
  &:before
    font-family: $font-family
    color: $gray-1
    content: '('

  &:after
    font-family: $font-family
    color: $gray-1
    content: ')'
