@import compass/css3/box-sizing
@import mixins/responsive
@import mixins/block

=column($columns, $total_columns)
  +column_with_gutter($columns, $total_columns, 4%)

=column_with_gutter($columns, $total_columns, $gutter)
  @if $total_columns == 1
    $gutter: 0%

  +box-sizing(border-box)
  +block
  float: left
  margin-right: $gutter
  position: relative
  width: 100% / $total_columns * $columns - $gutter

  &:first-child:last-child
    width: 100% - $gutter

  &:last-child
    margin-right: 0
    width: 100% / $total_columns * $columns

  &>.block:last-child, &>.subcontent:last-child
    margin-bottom: 0
