@import compass/css3/box-sizing
@import mixins/responsive
@import mixins/block

=column($columns, $gutter: 4%)
  @if $columns == 1
    $gutter: 0%

  +box-sizing(border-box)
  float: left
  margin-right: $gutter
  position: relative
  width: 100% / $columns - $gutter * ($columns - 1) / $columns

  &:nth-child(#{$columns}n)
    margin-right: 0

  &:last-child
    margin-right: 0

    &.block
      margin-bottom: 0

  &>.block:last-child, &>.subcontent:last-child
    margin-bottom: 0

// колонка, состоящая из блока+колонки
=bcolumn($columns, $gutter: 4%)
  +block
  +column($columns, $gutter)
