@import mixins/responsive

=hide_mobile_menu
  +lte_ipad
    .menu-slide-outer
      overflow: visible

      .menu-slide-inner
        width: 100%

      .l-content
        width: 100%
        float: none

      .l-menu
        display: none

    .menu-toggler
      display: none
