@import mixins/link
@import mixins/responsive

// кнопочки иконочные
=icon($content, $font-size: 14px)
  cursor: pointer

  +responsive(desktop)
    margin-left: 15px

  +responsive(tablet)
    margin-left: 35px

  +responsive(narrow-phone)
    margin-left: 30px

  &:before
    content: $content
    cursor: pointer
    display: inline-block
    font-family: 'shikimori'
    font-size: $font-size
    line-height: 20px
    text-align: center
    width: 20px

  +lte_ipad
    white-space: nowrap
    //margin-bottom: 10px

    &:before
      font-size: 22px
      line-height: 30px
      width: 30px

=menu_icon($content)
  +icon($content)
  +responsive(desktop)
    margin-left: 0

  +responsive(tablet)
    margin-left: 0

  +responsive(narrow-phone)
    margin-left: 0

  &:before
    float: left
    margin-right: 2px

=icon_button($content)
  +icon($content, 13px)
  +link_color(#444444)

  &.selected
    +link_color

=headline_icon_button($content)
  +icon_button($content)
  +link_color(#666666)
  cursor: pointer
  font-size: 12px
  font-weight: normal
  margin: 3px 10px 0

=icon_expandable($content)
  +link_color(#123)
  display: block
  margin-left: 0
  margin-bottom: 5px

  &:after
    content: $content
    display: inline-block
    font-size: 22px
    line-height: 30px
    margin-left: 11px
