@import compass/css3/border-radius

=input
  +border-radius(0)
  -webkit-appearance: none
  background-color: #fcfcfc
  border-color: #ddd
  color: #333
  line-height: 14px
  margin: 0
  padding-left: 5px
  width: 375px
