@import globals
@import mixins/css4
@import mixins/responsive

/* цвет, становящийся ссылковым по наведению
=link_color($color: $link)
  //transition: color 0.2s ease
  color: $color

  +gte_laptop
    &:hover
      +css4
        color: var(--link-hover-color)

  &:active
    +css4
      color: var(--link-active-color)

/* голубая ссылка без подчёркивания
=link($color: $link)
  +link_color($color)
  cursor: pointer

  +gte_laptop
    &:hover
      text-decoration: underline
      +css4
        border-bottom-color: var(--link-border-hover-color)

  &:active
    +css4
      border-bottom-color: var(--link-border-active-color)

/* голубая ссылка аяксового действия
//=ajax_link
  +link_color
  border-bottom: 1px dotted $link
  cursor: pointer
  transition: color 0.2s ease, border-bottom-color 0.2s ease

  //&:hover
    border-bottom-color: $link-3

  //&:actibe
    border-bottom-color: $link-2


/* голубая ссылка с подчёркиванием
=link_underlined($color: $link)
  +link($color)
  text-decoration: underline

=js-link
  +link
  +css4
    border-bottom: 1px dotted var(--link-border-color)
  display: inline-block
  line-height: 1
  user-select: none

  +gte_laptop
    &:hover
      +css4
        border-bottom-color: var(--link-border-hover-color)
      text-decoration: none !important

  &:active
    +css4
      border-bottom-color: var(--link-border-active-color)
    text-decoration: none !important

  &.active
    font-weight: bold

=bordered-link
  +js-link
  border-bottom-style: solid
