@import compass/css3/transition
@import globals/variables

/* цвет, становящийся ссылковым по наведению
=link_color($color: $link)
  +transition(color, 0.2s)
  color: $color

  &:hover
    color: $link_hover

  &:active
    color: $link_active

/* голубая ссылка без подчёркивания
=link
  +link_color
  cursor: pointer

  &:hover
    text-decoration: underline

/* голубая ссылка с подчёркиванием
=link_underlined
  +link
  text-decoration: underline
