@import globals/variables
@import mixins/bracket_action
@import mixins/date
@import mixins/link
@import mixins/spoiler

=log_entry
  line-height: $line_height

  span
    padding-right: 5px

  .date
    +date
    padding-right: 8px

  a,.link
    +link

  .id-label
    padding-right: 1px
    color: #777

  .status
    padding-left: 5px

  .avatar
    position: absolute
    margin-top: 2px

  .nickname
    padding-left: 21px

  .spoiler
    +spoiler

    &.collapsed
      +bracket_action

    &.collapse, &.collapsed
      font-size: 11px
      margin: 0 5px
      float: right

      span
        +bracket_action

  .quoteable
    font-weight: bold

    span.name
      font-weight: normal
      padding-left: 5px

  .comment-block
    border-top: none
    min-height: 0

    blockquote
      margin-left: 5px
    del
      color: red
    ins
      color: $link

  .moderation
    float: right
    font-size: 12px

    a
      +bracket_action
      text-decoration: underline

  .screenshots-compare
    .before
      width: 170px
    .after
      margin-left: 200px
      position: absolute
      width: 170px
    img
      display: block
      margin-bottom: 10px
