@import globals/variables
@import mixins/bracket_action
@import mixins/date
@import mixins/link
@import mixins/spoiler
@import mixins/shiki_button

=log_entry
  display: flex
  line-height: 1.85
  align-items: baseline
  flex-wrap: wrap

  & > span
    padding-right: 5px

  .date
    +date
    padding-right: 8px

    &.normal
      padding-right: 5px

  a,.link
    +link

    &:hover .id-label
      color: $link-hover

  .id-label
    padding-right: 1px
    color: #777

  .b-user16
    margin-right: 0

  .avatar
    position: absolute
    margin-top: 2px

  .nickname
    padding-left: 21px

  .spoiler
    +spoiler

    &.collapse,
    &.collapsed
      font-size: 11px
      margin: 0 0 0 auto

      span
        +js_link
        font-size: 11px
        margin-left: 10px
        padding: 0

    &.target
      flex-basis: 100%

  .quoteable
    font-weight: bold

    span.name
      font-weight: normal
      padding-left: 5px

  .comment-block
    border-top: none
    min-height: 0

    blockquote
      margin-left: 5px
    del
      color: $red
    ins
      color: $link

  .moderation
    display: flex
    font-size: 12px
    justify-content: flex-end
    margin: 15px 0 15px 0

    a
      +shiki_button

      &:not(:first-child)
        margin-left: 10px

      &:hover
        text-decoration: none
