@import compass/css3/box-sizing

=marker($content, $width, $color, $hover_color, $active_color)
  +box-sizing(border-box)
  float: right
  font-size: 10px
  letter-spacing: 0.8px
  line-height: 1.5
  margin: 1px 0 0 15px
  width: $width

  &:before
    +transition(all, 0.25s)
    +transition(opacity, 0.75s)
    background-color: $color
    color: white
    content: $content
    position: absolute
    text-align: center
    width: $width

  &.active
    cursor: pointer

    &:hover:before
      background-color: $hover_color

    &:active:before
      background-color: $active_color
