@import mixins/responsive

=marker($width, $color, $hover_color, $active_color)
  float: right
  margin: -1px 0 2px 15px
  width: $width

  +gte_laptop
    transition: all 0.25s ease

  &:before
    background-color: $color
    border: 1px solid darken($color, 1.5%)
    color: #fff
    content: attr(data-text)
    font-size: 11px
    font-family: var(--font-alt)
    letter-spacing: var(--font-alt-text-letter-spacing)
    line-height: 14px
    position: absolute
    text-align: center
    width: $width - 2px

  &.active
    cursor: pointer

    +gte_laptop
      &:hover:before
        background-color: $hover_color
        border-color: darken($hover_color, 1.5%)

      &:active:before
        background-color: $active_color
        border-color: darken($active_color, 1.5%)

  &.off
    &:before
      color: $gray-3
      border-color: rgba($active_color, 0.5)
      background-color: transparent

    +gte_laptop
      &:hover:before
        color: white
        background-color: $hover_color
        border-color: darken($hover_color, 1.5%)

    &:active:before
      background-color: $active_color
      border-color: darken($active_color, 1.5%)
