@import globals/variables
@import mixins/static_marker

=marker($content, $width, $color, $hover_color, $active_color)
  +static_marker(white, $color)
  float: right
  margin: 1px 0 0 15px
  width: $width

  &:before
    content: $content
    font-size: 11px
    line-height: 1.2
    padding: 0
    position: absolute
    width: $width - 2px

  &.active
    cursor: pointer

    &:hover:before
      background-color: $hover_color
      border-color: darken($hover_color, 1.5%)

    &:active:before
      background-color: $active_color
      border-color: darken($active_color, 1.5%)

  &.off
    &:before
      color: $gray-3
      border-color: $gray-1
      background-color: transparent

    &:hover:before
      color: white
      background-color: $hover_color
      border-color: darken($hover_color, 1.5%)

    &:active:before
      background-color: $active_color
      border-color: darken($active_color, 1.5%)
