@import globals

// второстепенный текст в меню
=menu-block-misc-text
  +ellipsis
  +clearfix
  color: $gray-color-2 !important
  display: block
  font-size: 11px
  line-height: 19px

  &.date
    color: $date-color !important

// дефолтный блок меню с картинкой и текстом
=menu-block-with-image
  +clearfix
  border-top: 1px dashed #DDD
  padding-top: 7px
  margin-bottom: 4px

  &:first-child
    border-top: none
    margin-top: -5px
    padding-top: 0

  &:hover .title
    text-decoration: underline

  //a
    +normal-link

  img
    float: left
    margin: 2px 10px 5px 2px
    height: 52px

  .title
    +ellipsis
    display: block
    font-weight: bold
    font-size: 14px

  .anons
    color: #307A3D

  .release
    color: #ca4929

  .anons, .release, .ongoing
    display: inline
    padding-left: 5px
    padding-right: 1px

  .anons:first-child, .release:first-child, .ongoing:first-child
    padding-left: 0

  .misc
    +menu-block-misc-text

// блок в меню с текстом и ссылкой
=menu-block-with-text-link
  +clearfix
  padding: 1px 3px 0 5px
  border-top: 1px dashed #DDD
  padding-top: 5px
  margin-top: 2px
  display: block

  &:first-child
    border-top: none
    padding-top: 0
    margin-top: 0

  &:hover .title
    color: $link_hover
    text-decoration: underline

    &:after
      color: $link_hover

  &:active .title
    color: $link_active

    &:after
      color: $link_active

  .title
    +ellipsis
    //+normal-link
    display: block
    font-size: 14px
    font-weight: bold
    padding-right: 20px

    &:after
      color: $gray-color
      content: "\e81c"
      cursor: pointer
      font-family: "shikimori"
      line-height: 24px
      position: absolute
      right: 10px

    &:hover
      color: $link_hover

      &:after
        color: $link_hover

    &:active
      color: $link_active

      &:after
        color: $link_active

  .notice
    +ellipsis
    color: $gray-color
    display: block
    font-size: 11px
    margin-top: -2px

  .misc
    +menu-block-misc-text

=menu-block-show-more
  +link-color(#333333)
  cursor: pointer
  margin-left: 5px
  margin-top: 2px
  font-size: 11px
