@import compass/css3/transition
@import compass/typography/text/ellipsis
@import compass/utilities/general/clearfix
@import globals
@import mixins/forum_entry
@import mixins/responsive

$comment_border: 1px dashed #ddd

=shiki_comment
  +forum_entry
  border-top: $comment_border
  margin-bottom: 15px

  &:first-child
    border-top-width: 0

  &:last-child
    margin-bottom: 0

  aside.moderation-ban
    margin: 20px 0 15px 15px
    display: none

    +gte_ipad
      float: right
      margin-top: 0
      margin-top: 0

      .b-input input
        width: 140px

    +iphone
      margin-bottom: 30px
      margin-right: 20px

      .b-input input
        width: 100%

  .inner
    min-height: 58px

    .name-date
      a.name
        .normal
          color: #123
          font-size: 13px

    .body
      .ban
        .b-user16
          margin-right: 0
        .resolution
          color: $red

          a
            color: $red
            text-decoration: underline

  // раскрытое меню в мобильной версии
  &.aside-expanded
    +lte_ipad
      aside.buttons
        border-top: $comment_border
      aside.markers
        position: absolute
        top: 0
        right: 50px

  // удаляемый комментарий
  &.animated-height
    +transition(all 0.5s ease)
    min-height: 0
    margin: 0
    padding: 0

  &.ajax_request
    +opacity(0.4)
