@import mixins/brackets_surrounded
@import mixins/font_shikimori

=shiki_check($check-color)
  +brackets_surrounded
  +font_shikimori
  display: inline-block
  color: $check-color

  &:before
    padding-right: 2px

  &:after
    padding-left: 2px
