@import globals/variables
@import mixins/responsive

=static_marker($color, $background)
  background-color: $background
  border: 1px solid darken($background, 1.5%)
  color: $color
  display: inline-block
  font-size: 12px
  letter-spacing: 0.25px
  line-height: 1.4
  padding: 0 5px
  text-align: center

  +gt_ipad
    transition: all 0.25s ease

  &[data-text]
    &:before
      content: attr(data-text)

  &:not([href])
    cursor: default
