@import globals/variables

=tag
  color: #333
  margin: 0 4px 3px
  float: left
  border-bottom: 1px dashed $hover-color-0
  cursor: pointer
  line-height: 16px

  &:hover
    margin: 0 2px 4px
    padding: 0 2px
    color: #fff
    border: none
    background-color: $hover-color-0
  &:active
    background-color: $hover-color

