@import compass/css3/transition
@import globals/variables

=tag
  +transition(none)
  border-bottom: 1px dashed $link_hover_light
  color: #123
  cursor: pointer
  display: inline-block
  line-height: 16px
  margin: 0 5px 3px

  &:hover
    margin: 0 2px 4px
    padding: 0 3px
    color: #fff
    border: none
    background-color: $link_hover_light

  &:active
    background-color: $link_hover

  a
    +transition(none)
