---
http_interactions:
- request:
    method: get
    uri: https://rutube.ru/api/play/trackinfo/fb428243861964d3c9942e31b5f5a43a?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Clock:
      - '0.0625'
      Allow:
      - GET, HEAD, OPTIONS
      X-Request-Time:
      - '0.0962841510773'
      X-Variti-Ccr:
      - '1992588940:1'
    body:
      encoding: ASCII-8BIT
      string: '{"video_url": "https://rutube.ru/video/fb428243861964d3c9942e31b5f5a43a/",
        "html": "<iframe width=\"720\" height=\"405\" src=\"//rutube.ru/play/embed/6797624\"
        frameborder=\"0\" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>",
        "is_licensed": false, "gpmd_id": 8, "gpmd_puid1": 3, "author": {"url": "https://rutube.ru/video/person/24058/",
        "accounts": [{"net": 2, "uid": "2419756", "is_deleted": false}], "logo": null,
        "id": 24058, "name": "\u0420\u043e-\u041c\u0430-\u041d-\u0423\u043b\u043a\u0438\u043d"},
        "size": 0, "posting_author_id": null, "has_video": true, "captions": [], "duration":
        92578, "cuepoints": [], "tags": [{"id": 1059, "name": "Timelapse \u0432\u0438\u0434\u0435\u043e"},
        {"id": 1090, "name": "\u041e\u043b\u0438\u043c\u043f\u0438\u0439\u0441\u043a\u0438\u0439
        \u0421\u043e\u0447\u0438"}, {"id": 4188, "name": "\u0420\u0435\u0434\u0430\u043a\u0446\u0438\u044f
        \u0440\u0435\u043a\u043e\u043c\u0435\u043d\u0434\u0443\u0435\u0442"}], "category":
        {"id": 11, "category_url": "https://rutube.ru/video/category/11/", "name":
        "\u041f\u0443\u0442\u0435\u0448\u0435\u0441\u0442\u0432\u0438\u044f \u0438
        \u043f\u0440\u0438\u0440\u043e\u0434\u0430", "short_name": "travel"}, "thumbnail_url":
        "https://pic.rutube.ru/video/d2/81/d281c126ac608e6f66642009f1be59e0.jpg",
        "is_livestream": false, "pg_rating": {"age": 12, "logo": "https://pic.rutube.ru/agerestriction/99/0e/990e87f25d8689833de24c0eb7eaec81.png"},
        "allow_snavod": true, "id": "fb428243861964d3c9942e31b5f5a43a", "title": "\u041f\u0435\u0440\u0432\u044b\u0439
        \u043e\u043b\u0438\u043c\u043f\u0438\u0439\u0441\u043a\u0438\u0439 \u0440\u0430\u0441\u0441\u0432\u0435\u0442
        \u0432 \u0421\u043e\u0447\u0438 \u0437\u0430 90 \u0441\u0435\u043a\u0443\u043d\u0434",
        "is_adult": false, "is_hidden": false, "track_id": 6797624, "is_external":
        false, "pepper": null}'
  recorded_at: Wed, 29 Aug 2018 16:38:36 GMT
recorded_with: VCR 4.0.0
