@import compass/css3/border-radius
@import compass/css3/box-shadow
@import compass/css3/transition

.p-anime_video-index
  .previews
    margin: 0 auto

    .item
      +border-radius(3px)
      +box-shadow(#aeaeae 0 2px 10px)
      background-color: #fdfdfd
      float: left
      height: 310px
      margin: 0 40px 30px 0
      overflow: hidden
      position: relative
      width: 204px

      a
        color: #2c3e50

      .cover
        padding: 20px
        position: absolute

        .title
          font-weight: bold
          height: 20px
          margin-top: 4px
          overflow: hidden
          width: 160px

        .episode
          font-size: 12px

          &:before
            color: #aaaaaa
            content: 'Последний эпизод: '

      .info
        height: 300px
        position: absolute
        opacity: 0

        .title
          margin-bottom: 4px
          font-weight: bold

        .date
          &:before
            color: #aaaaaa
            content: 'Обновление: '
            font-weight: normal

      &:hover
        .info
          +border-radius(3px)
          +transition(opacity 0.3s ease)
          background-color: white
          margin: 2px
          opacity: 0.97
          padding: 8px

          .b-info
            font-size: 13px

            .label
              display: inline-block
              font-size: 11px
              font-weight: normal
