.p-anime_video-show

  .title
    font-size: 36px
    margin: 14px 0

  img
    margin-bottom: 10px

  .description
    .prgrph
      margin-bottom: 2px

  .source
    margin-bottom: 4px

  .nav-video
    margin: 10px 0
    span.caret
      margin-left: 4px
      border-top-color: #333333

    // зеленая кнопка с галочкой - ссылку почему-то раздувает
    .nav > li > a
      padding: 5px 10px

    // фикс бутстрапа для цвета кнопки просмотрено
    .nav > li.ok > a:hover, .nav > li.ok > a:focus
      background-color: #47a447

    .btn-group.episodes
      margin-right: 10px

      .dropdown-menu
        font-size: 13px
        & > li > a
          line-height: 1.33

        span.num
          margin-right: 8px
          font-size: 14px
          font-weight: bold

        span.kinds
          margin-right: 6px

        span.hostings
          color: #999

      .active
        span.hostings
          color: #fff

    .btn-group.video
      .kind
        margin: 0 4px

      .hosting
        font-weight: bold

      .author
        margin-left: 8px
        color: #999

  .top_player
    color: #999
    font-size: 13px

    .uploader
      display: inline-block
      margin-bottom: 4px
      img
        margin: 0 2px 3px 4px

    .watch_view_count
      float: right
      margin-bottom: 4px

  .video-player
    iframe
      border: none
      width: 100%

  .reviews
    margin-top: 10px
    .badge
      margin-left: 10px
      vertical-align: middle

  .reviews_blank
    height: 100px
