.p-anime_video_show

  img
    &.anime-image

  .info
    .key
      display: inline-block
      color: #aaa
      margin-right: 10px

    .value
      display: inline-block


  .reviews
    margin-top: 20px
