.p-anime_video-show

  .title
    font-size: 36px
    margin: 14px 0

  img
    margin-bottom: 10px

  .description
    .prgrph
      margin-bottom: 2px

  .source
    display: inline-block
    margin-bottom: 6px

  .nav-video
    margin: 16px 0
    span.caret
      margin-left: 4px
      border-top-color: #333333

    .nav > li > a
      padding: 6px 12px

    // фикс бутстрапа для цвета кнопке просмотрено
    .nav > li.ok > a:hover, .nav > li.ok > a:focus
      background-color: #47a447

    .btn-group.episodes
      margin-right: 10px

      .dropdown-menu
        font-size: 13px
        & > li > a
          line-height: 1.33

        span.num
          margin-right: 8px
          font-size: 14px
          font-weight: bold

        span.kinds
          margin-right: 6px

        span.hostings
          color: #999

      .active
        span.hostings
          color: #fff

    .btn-group.video
      .kind
        margin: 0 4px

      .hosting
        font-weight: bold

      .author
        margin-left: 8px
        color: #999

  .uploader
    font-size: 13px
    margin-bottom: 4px

    &:before
      content: 'Видео добавлено: '
      color: #999

    img
      margin-bottom: 3px
      margin-right: 2px

  .video-player
    iframe
      border: none
      width: 100%

  .reviews
    margin-top: 10px
    .badge
      margin-left: 10px
      vertical-align: middle
