= render layout: 'animes/page' do
  = simple_form_for @video, url: video_online_index_url(@resource) do |f|
    - if @video.errors.any?
      .b-errors
        .subheadline Ошибки
        .block
          == @video.errors.full_messages.join('<br>')

    .subheadline Новое видео
    .block
      = f.input :anime_id, as: :hidden
      = f.input :source, as: :hidden
      = f.input :episode
      = f.input :url
      = f.input :author, hint: 'Не обязательно'
      = f.input :kind, as: :select, include_blank: false, collection: AnimeVideo.kind.options.delete_if {|v| v[1] == 'unknown' }

    .block
      .button.preview Проверить

    .block
      = f.submit 'Сохранить'
      a.cancel href="#{video_online_index_url @resource}" Отмена

    /input.hidden#continue name="continue" type="hidden" value=""

    /- unless @video.errors.blank?
      /.alert.alert-danger = @video.errors.full_messages.join ', '

    /.form-group
      /= f.input_field :episode, class: 'form-control', placeholder: 'Эпизод'
    /.form-group
      /= f.input_field :url, class: 'form-control', placeholder: 'URL на видео, например: http://vk.com/video_ext.php?oid=-14132580&id=167827617&hash=769bc0b7ba8453dc&hd=1'
      /a href='#{help_anime_online_anime_videos_url}' как правильно получить ссылку
    /.form-group
      /= f.input_field :author, class: 'form-control', placeholder: 'Автор озвучки (может быть пустым)', value: (@video.author ? @video.author.name : '')
    /.form-group
      /label.radio-inline
        /= f.radio_button :kind, :fandub, value: :fandub
        /= t '.kind.fandub'
      /label.radio-inline
        /= f.radio_button :kind, :subtitles, value: :subtitles
        /= t '.kind.subtitles'
      /label.radio-inline
        /= f.radio_button :kind, :raw, value: :raw
        /= t '.kind.raw'
    /.form-group
      /.alert.alert-info
        /a.btn.btn-primary.check Проверить
        /| Перед сохранением необходимо проверить корректность введенного URL на видео, чтобы не добавлять видео, которое не работает.
      /p.load.hidden Подождите...
      /button.btn.btn-success.hidden.save.continue type='submit' Видео работает, сохранить и добавить еще
      /button.btn.btn-success.hidden.save type='submit' Видео работает, сохранить
    /.form-group
      /iframe.hidden

