@import mixins/clear_left
@import mixins/comma_separated
@import mixins/link

.p-animes-staff, .p-mangas-files
  .person
    +clear_left
    border-top: 1px dashed #DDD
    margin-bottom: 10px
    padding-top: 2px

    &:first-child
      border-top: none
      padding-top: 0

    .image
      float: left
      margin-top: 5px

      img
        width: 32px

    .name-role
      margin-left: 42px
      line-height: $line_height

      .name
        font-weight: bold

      a
        +link

      .roles span
        +comma_separated
