aside.buttons
  .main-controls
    span.item-ignore.to-process[
      title=t('actions.ignore')
      data-text=t('actions.ignore')
      data-action=api_v2_topics_ignore_url(topic_view.id)
      data-dynamic='authorized'
      data-method='POST'
      data-remote='true'
      data-type='json'
    ]
    / - if !topic_view.topic.is_closed? && topic_view.topic_type_policy.commentable_topic? && \
         !(params[:forum] == 'critiques' && controller.action_name == 'index')
    - if !topic_view.topic.is_closed? && topic_view.topic_type_policy.commentable_topic?
      span.item-quote.to-process[
        title=t('actions.quote')
        data-text=t('actions.quote')
        data-dynamic='day_registered'
      ]
      - if topic_view.is_mini || !topic_view.show_comments?
        a.item-reply.to-process[
          title=t('actions.reply')
          data-text=t('actions.reply')
          data-dynamic='day_registered'
          href=topic_view.urls.reply_url
        ]
      - else
        span.item-reply.to-process[
          title=t('actions.reply')
          data-text=t('actions.reply')
          data-dynamic='day_registered'
        ]
    a.item-edit[
      href=topic_view.urls.edit_url
      data-text=t('actions.edit')
      title=t('actions.edit')
      data-remote=(topic_view.topic_type_policy.review_topic? && topic_view.review_author_details?).to_s
      data-type='html'
    ]
    - if topic_view.deletable?
      span.item-delete[
        title=t('actions.delete')
        data-text=t('actions.delete')
      ]
    - if topic_view.moderatable?
      span.item-moderation[
        title=t('actions.moderate')
        data-text=t('actions.moderate')
      ]
    span.item-cancel[
      title=t('actions.cancel')
      data-text=t('actions.cancel')
    ]

  - if topic_view.deletable?
    .delete-controls
      span.item-delete-confirm[
        title=t('actions.delete')
        data-text=t('actions.delete')
        data-action=topic_view.urls.destroy_url
        data-type='json'
        data-remote='true'
        data-method='DELETE'
      ]
      span.item-delete-cancel[
        title=t('actions.cancel')
        data-text=t('actions.cancel')
      ]

  - if topic_view.moderatable?
    .moderation-controls
      span.item-ban.b-tooltipped.unprocessed[
        title=t('actions.moderation.ban')
        data-text=t('actions.moderation.ban')
        data-action=new_moderations_ban_url(ban: { topic_id: topic_view.id, user_id: topic_view.user_id })
        data-method='get'
        data-type='html'
        data-remote='true'
        data-direction='top'
      ]
      span.item-abuse.b-tooltipped.unprocessed[
        title=t('actions.moderation.abuse')
        data-text=t('actions.moderation.abuse')
        data-action=abuse_api_v2_abuse_requests_url(topic_id: topic_view.id)
        data-method='post'
        data-type='json'
        data-remote='true'
        data-reason-prompt=t('actions.moderation.explain.abuse')
        data-direction='top'
      ]
      span.item-spoiler.b-tooltipped.unprocessed[
        title=t('actions.moderation.spoiler')
        data-text=t('actions.moderation.spoiler')
        data-action=spoiler_api_v2_abuse_requests_url(topic_id: topic_view.id)
        data-method='post'
        data-type='json'
        data-remote='true'
        data-reason-prompt=t('actions.moderation.explain.spoiler')
        data-direction='top'
      ]
      - if topic_view.topic_type_policy.review_topic?
        span.item-summary.b-tooltipped.unprocessed[
          title=t('actions.moderation.not_review')
          data-text=t('actions.moderation.not_review')
          data-confirm=t('actions.markers.review.convert_to_comment')
          data-action=convert_review_api_v2_abuse_requests_url(topic_id: topic_view.id)
          data-method='post'
          data-type='json'
          data-remote='true'
          data-direction='top'
        ]
      span.item-moderation-cancel[
        title=t('actions.cancel')
        data-text=t('actions.cancel')
      ]
