---
http_interactions:
- request:
    method: get
    uri: https://rutube.ru/api/play/trackinfo/3599097?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Clock:
      - '0.046875'
      Allow:
      - GET, HEAD, OPTIONS
      X-Request-Time:
      - '0.0530669689178'
      X-Proxy-Country:
      - RU
      X-Variti-Ccr:
      - '105200542:1'
    body:
      encoding: ASCII-8BIT
      string: '{"video_url": "https://rutube.ru/video/ef370e68cd9687a30ea67a68658c6ef8/",
        "html": "<iframe width=\"720\" height=\"405\" src=\"https://rutube.ru/play/embed/3599097\"
        frameborder=\"0\" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>",
        "is_licensed": false, "gpmd_id": 2, "gpmd_puid1": 2, "author": {"url": "https://rutube.ru/video/person/71394/",
        "logo": null, "id": 71394, "name": "mika6817"}, "size": 111832263, "posting_author_id":
        null, "has_video": true, "captions": [], "duration": 1374956, "cuepoints":
        [], "tags": [], "category": {"id": 7, "category_url": "https://rutube.ru/video/category/7/",
        "name": "\u041c\u0443\u043b\u044c\u0442\u0444\u0438\u043b\u044c\u043c\u044b",
        "short_name": "cartoons"}, "thumbnail_url": "https://pic.rutube.ru/video/26/8b/268bfe8c2845481e9606bbc99b660dd3.jpg",
        "is_livestream": false, "pg_rating": {"age": 12, "logo": "https://pic.rutube.ru/agerestriction/99/0e/990e87f25d8689833de24c0eb7eaec81.png"},
        "allow_snavod": true, "id": "ef370e68cd9687a30ea67a68658c6ef8", "title": "\u041b\u0435\u0433\u0435\u043d\u0434\u0430
        \u043e\u0434\u043d\u043e\u0439 \u043a\u043e\u043c\u043d\u0430\u0442\u044b
        - 01 \u0440\u0443\u0441 \u0441\u0430\u0431\u044b [2010]/ The Tatami Galaxy
        / Yojouhan Shinwa Taikei / C\u043a\u0430\u0437 \u043e \u0447...", "is_adult":
        false, "is_hidden": false, "track_id": 3599097, "is_external": false, "pepper":
        null}'
  recorded_at: Thu, 13 Feb 2020 18:23:32 GMT
recorded_with: VCR 4.0.0
