@import compass/typography/text/ellipsis
@import mixins/block
@import mixins/clear_left
@import mixins/column
@import mixins/link
@import mixins/responsive

.p-contests-edit
  .variants

    .variant
      +ellipsis

      a
        float: none

  .contest_actions
    +block_m

    a
      line-height: $line_height

  .action-misc
    color: #9da2a8
    display: block
    font-size: 11px
    line-height: $line_height

    &.warn
      color: $red

  .grid
    +link
