//@import compass/typography/text/ellipsis
//@import compass/utilities/general/clearfix
//@import globals/variables
@import mixins/link
@import mixins/clear_right

.p-contests .l-menu
  .block
    +clear_right

  .b-catalog_entry
    margin-bottom: 5px !important

    //.image-cutter
      max-height: 65px

  //float: right
  //width: $menu-width
  //margin: 0 0 30px 30px

  //.addthis_toolbox
    //margin-top: -5px
    //width: 220px

  //.block
    //+clearfix

  //.status .subcontent
    //+clearfix

  .results, .grid a,
    +link
    float: right

  //.prior-results
    //.prior-votes
      //padding: 0 5px
    //.prior-votes-group-title
      //color: $gray-color-2
      //float: right
      //line-height: 17px
      //display: none
    //a
      //+link
      //+ellipsis
      //display: block

    //.menu-match-link
      //+link_color($gray-color)
      //margin-left: 5px
      //float: right
