@import mixins/links
@import mixins/date

.p-contests-index
  .contest
    margin: 0

    a, span
      padding-left: 7px

    a
      +link

    .date
      +date
      display: inline
      padding-left: 7px
