.p-contests-users
  .subheadline
    padding-right: 35px

  .voter
    margin: 0 5px 4px 0
    display: inline-block
    line-height: 0

    img
      height: 34px
      padding: 1px
      width: 34px
