@import "globals";

.contests {
  .contest {
    margin: 0;
  }
  a, span {
    padding-left: 7px;
  }
  a {
    @include normal-link;
  }
  .date {
    @include date;
    display: inline;
    padding-left: 7px;
  }
}
