@import "globals";

.menu-right {
  float: right;
  width: $menu-width;
  margin: 0 0 30px 30px;

  .addthis_toolbox {
    margin-top: -5px;
    width: 220px;
  }

  .menu-block {
    @include clearfix;
  }
  .status .subcontent {
    @include clearfix;
  }
  .results, .grid a,  {
    @include text-font;
    @include normal-link;
    float: right;
  }
  .prior-results {
    .prior-votes {
      padding: 0 5px;
    }
    .prior-votes-group-title {
      color: $gray-color-2;
      float: right;
      /*color: #123;*/
      /*margin-bottom: 2px;*/
      line-height: 17px;
      display: none;
    }
    .prior-votes-group {
      /*clear: both;*/
      /*margin-bottom: 10px;*/
      /*margin-left: 10px;*/

      /*&:first-child {*/
        /*margin-left: 0;*/
      /*}*/
    }
    a {
      @include text-font;
      @include normal-link;
      @include ellipsis;
      display: block;
    }
    .menu-match-link {
      @include link-color($gray-color);
      margin-left: 5px;
      float: right;
    }
  }
  .image-links {
    a {
      float: left;
      margin: 0 9px 5px 0;

      &:nth-child(4n) {
        margin-right: 0;
      }
      img {
        @include image-selectable-decor;
        padding: 2px;
      }
    }
  }
}
