@import globals

.contest.swiss .results
  .group
    width: 8px !important
    margin-left: 2px !important

    .letter
      display: none

.contest .results
  .rounds
    float: right
    width: 220px

    & > p
      font-size: 12px
      font-weight: bold
      color: #444

    .match-day
      margin-top: 0
      .match
        +ellipsis
        p
          display: inline
      .group
        position: initial

    a
      +normal-link

    .match-link
      display: inline

      &:hover
        text-decoration: none
        .group
          text-decoration: underline
      .group
        color: $gray-color-2
        display: inline-block
        float: none
        font-size: inherit
        line-height: inherit
        margin: 0 7px 0 4px
        width: 22px
        .letter
          padding-left: 5px

  .b-catalog-entry
    margin-bottom: 40px
