@import "globals";

$horizontal-offset: 90px;
$centered-block-offset: 283.5px;

.contest {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;

  &.swiss {
    .group {
      display: none;

      .title {
        display: none;
      }
    }
  }
  .warning {
    @include text-font;
    display: none;
    margin-top: -20px;

    .red-warning {
      color: red;
    }
  }
  .contest-description {
    min-height: auto;
    padding-right: 0;
    margin-bottom: 15px;
  }
  .match-container {
    min-height: 300px;

    .ajax-loading {
      height: 300px;
    }
  }
  .animes {
    @include clearfix;
    margin-bottom: 15px;

    .entry-block {
      margin-right: 0;
    }
    .match-member {
      @include opacity(0.4);
      @include transition(opacity, 0.3s);

      &.voted, &.hovered {
        @include opacity(1);
      }
      &.unhovered {
        @include opacity(0.4);
      }
      &:first-child {
        margin-left: $horizontal-offset;

        &.centered {
          margin-left: $centered-block-offset;
        }
      }
    }
    .vs {
      color: darken($gray-color-2, 10%);
      float: left;
      font-size: 64px;
      width: 217px;
      margin-top: 72px;
      text-align: center;

      .help, .next, .finish, .refrain, .refrained {
        @include text-font;
        color: $gray-color-2;
        font-size: 11px;

        &.success, &.refrained {
          display: none;
        }
      }
      .finish {
        color: darken($gray-color-2, 10%);
        display: none;
      }
      .next {
        @include normal-link;
        display: none;
      }
      .refrain {
        @include normal-link;
        display: block;
      }
      &.empty {
        margin-top: 125px;
        width: 100%;
      }
    }
  }
  .vote-graph {
    @include default-text-field;
    clear: both;
    display: block;
    line-height: 18px;
    margin: 0 $horizontal-offset 15px;
    padding: 0;

    .left-part {
      background-color: #4682b4;
      color: white;
      cursor: pointer;
      overflow: hidden;
      height: 18px;
      width: 100%;

      span {
        padding: 0 5px;
      }
      &:hover {
        background-color: #79a9cf;
        .right-part {
          background-color: #edacd9;
          &:before {
            border-right: 30px solid #edacd9;
          }
        }
      }
    }
    .right-part {
      background-color: #b78bc7;
      color: white;
      float: right;
      height: 18px;
      position: relative;
      text-align: right;

      &:before {
        border-right: 30px solid #b78bc7;
        border-top: 70px solid transparent;
        content: '';
        left: -30px;
        position: absolute;
      }
    }
  }
  .match-losers {
    @include clearfix;
    clear: both;
    margin: -5px $horizontal-offset 15px;

    .left-part {
      float: left;
      width: 170px;
    }
    .right-part {
      float: right;
      width: 170px;
    }
    .center-part {
      width: 170px;
      margin-left: $centered-block-offset - $horizontal-offset;
    }
    .title {
      color: #333;
      margin-bottom: 3px;
    }
    a {
      float: left;
      margin: 0 8px 5px 0;

      &:nth-child(4n) {
        margin-right: 0;
      }
      img {
        @include image-selectable-decor;
        padding: 1px;
        width: 34px;
      }
    }
  }
  .related-block {
    border-top: none;
    .description {
      padding-right: 0;
    }
    .year, .type {
      display: none;
    }
  }
  .rating {
    @include text-font;
    margin-bottom: 30px;
    padding-left: 5px;

    .member {
      @include clearfix;
      @include ellipsis;
      height: 22px;

      .index {
        float: left;
        padding-right: 5px;
        color: $gray-color-2;
      }
      a {
        @include normal-link;
      }
    }
  }
}
