@import globals

.contest
  overflow: hidden
  position: relative
  margin-bottom: 30px

  &.swiss
    span.group
      display: none
      .title
        display: none

  .warning
    display: none
    margin-top: -20px
    margin-bottom: 20px

    .red-warning
      color: red

  .contest-description
    min-height: auto
    padding-right: 0
    margin-bottom: 15px

  .match-container
    +clearfix
    margin-bottom: 15px
    min-height: 300px

    .ajax-loading
      height: 300px

  .related-block
    border-top: none

    .description
      padding-right: 0

    .year, .type
      display: none

  .rating
    margin-bottom: 30px
    padding-left: 5px

    .member
      +clearfix
      +ellipsis
      height: 22px

      .index
        float: left
        padding-right: 5px
        color: $gray-color-2
      a
        +normal-link
