- cover_by ||= (json? || user_signed_in?) ? :link : :linkeable
- content_by ||= :tooltip
- cover_notice ||= :none
- cover_title ||= :present
- cover_derivative ||= :preview

= render partial: 'animes/anime',
  object: ranobe,
  locals: {\
    cover_title: cover_title,
    cover_derivative: cover_derivative,
    cover_by: cover_by,
    content_by: content_by,
    cover_notice: cover_notice,
    anime_counter: defined?(manga_counter) ? manga_counter : nil,
  }
