.p-statistics
  .uploaders
    padding-left: 24px

    li
      height: 110px
      position: relative
      a
        position: absolute
        &.avatar
          top: 18px
        &.name
          font-weight: bold
