.p-statistics
  .uploaders
    padding-left: 24px

    li
      height: 200px
      position: relative
      a
        position: absolute
        &.avatar
          top: 4px
        &.name
          font-weight: bold
          left: 170px
          font-size: 20px
