---
http_interactions:
- request:
    method: get
    uri: http://api-metrika.yandex.ru/stat/traffic/summary?date1=20130702&date2=20131002&group=day&id=7915231
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-yametrika+json
      Authorization:
      - Bearer c751573157874acea30ba2ec46b9f6db
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-yametrika+json
    body:
      encoding: UTF-8
      string: '{"date2":"20131002","min":{"denial":0.1239,"visits":16406,"new_visitors_perc":0.341,"page_views":107937,"visit_time":424,"depth":6.4202,"new_visitors":3699,"visitors":10328},"max":{"denial":0.1428,"visits":23442,"new_visitors_perc":0.538,"page_views":169086,"visit_time":506,"depth":7.5039,"new_visitors":6152,"visitors":14429},"data":[{"wday":2,"denial":0.1426,"visits":18907,"new_visitors_perc":0.3462,"page_views":129360,"date":"20131002","visit_time":424,"depth":6.8419,"new_visitors":4164,"visitors":12029,"id":"20131002"},{"wday":1,"denial":0.1373,"visits":18361,"new_visitors_perc":0.3446,"page_views":127196,"date":"20131001","visit_time":444,"depth":6.9275,"new_visitors":4089,"visitors":11867,"id":"20131001"},{"wday":0,"denial":0.1389,"visits":19936,"new_visitors_perc":0.3619,"page_views":134937,"date":"20130930","visit_time":444,"depth":6.7685,"new_visitors":4576,"visitors":12645,"id":"20130930"},{"wday":6,"denial":0.1249,"visits":23442,"new_visitors_perc":0.3762,"page_views":169086,"date":"20130929[...]
[...]
