@import mixins/brackets_surrounded
@import mixins/column
@import mixins/responsive

.p-characters-show
  .c-image
    +gte_ipad
      +column_b(2)
      width: 30.5%

    +iphone-portrait
      +column_b(1)

    +iphone-landscape
      +column_b(2)

    img
      max-width: 100%

  .c-about
    +gte_ipad
      +column(2)
      width: 65.5%
      z-index: 1 // без этого нижний блок с description перекрывает текущий

    +iphone-portrait
      +column(1)

    +iphone-landscape
      +column(2)

    .c-info, .c-seyu
      +column_bm(2, 0.5, 6%)

      +iphone
        +column(1)

    .c-seyu
      .subheadline span
        +brackets_surrounded
        font-weight: normal

      .c-person
        +column(3)

  .c-description
    +block_m
    margin-left: 34.6%
    padding-top: 1px // из-за странной баги в фаерфоксе

    +iphone
      clear: both
      margin-left: 0
