@import "globals";
@import "susy";

.adaptive {
  $total-columns: 12;
  $column-width: 54px;
  $gutter-width: 30px;
  $grid-padding: 10px;

  // misc buttons
  @media screen and (max-width: $tablets-break) {
    .to-top, .feedback-hover-activator, .feedback {
      display: none;
    }
  }
  .page {
    // main layout
    @include container;
    .menu-right {
      @include span-columns(3 omega, $total-columns);
    }
    .forum-block {
      @include span-columns(9 alpha, $total-columns);
      float: none;
    }

    // mobile
    @include at-breakpoint($tablets-break) {
      .forum-nav {
        .title {
          @include ellipsis;
        }
      }
    }
    @include at-breakpoint(0px $total-columns $tablets-break) {
      @include container($total-columns);

      // layout
      .menu-right {
        display: none;
      }
      .forum-block {
        @include span-columns($total-columns);
      }
      .forum-nav {
        margin-bottom: 0;
        .sections {
          display: none;
        }
      }

      // comments
      .height-shortener, .last-block {
        margin-left: 42px!important;
      }
      .comments {
        margin-left: 25px!important;
      }
      blockquote {
        margin-left: 25px!important;
        overflow: hidden;
      }
      .topic-block {
        .image-name img {
          width: 32px!important;
          margin-bottom: 4px!important;
        }
        .title {
          margin-left: 0!important;
        }
      }
    }
    @include at-breakpoint(0px 520px) {
      footer {
        display: none;
      }
    }

    @include at-breakpoint(0px 510px) {
      .welcome-gallery, .welcome-gallery-loader {
        display: none;
      }
    }
    @include at-breakpoint(510px 665px) {
      .gallery-body {
        width: 478px;
      }
    }
    @include at-breakpoint(665px 840px) {
      .gallery-body {
        width: 640px;
      }
    }
    @include at-breakpoint(840px 996px) {
      .gallery-body {
        width: 800px;
      }
    }
  }
}
