@import globals
@import mixins/responsive

body
  .page
    margin: 0 auto
    max-width: $site-body-width

    .l-menu
      float: right
      margin-left: 3%
      max-width: 240px
      position: relative
      width: 24%

      +ipad
        display: none

    .l-content
      float: left
      position: relative
      width: 73%

      +ipad
        width: 100%

    footer
      clear: both

    +ipad
      .l-content
        .sections
          display: none

      .forum-nav
        .title
          +ellipsis

      // comments
      .height-shortener, .last-block
        margin-left: 42px !important

      .comments
        margin-left: 25px !important

      blockquote
        margin-left: 0
        overflow: hidden

      .topic-block
        .image-name img
          width: 32px !important
          margin-bottom: 4px !important

        .title
          margin-left: 0 !important

      .welcome-gallery, .welcome-gallery-loader
        display: none
