@import globals
@import mixins/responsive
@import mixins/column

body
  .page
    margin: 0 auto
    max-width: $site-body-width

    .l-menu
      +column(1, 2)
      margin-right: 0
      float: right
      width: 24%

      +lte_ipad
        display: none

    .l-content
      +column(1, 2)
      width: 73%
      margin-right: 3%

      +lte_ipad
        width: 100%

    footer
      clear: both

    +lte_ipad
      .l-content
        .sections
          display: none

      .forum-nav
        .title
          +ellipsis

      // comments
      .height-shortener, .last-block
        margin-left: 42px !important

      .comments
        margin-left: 25px !important

      blockquote
        margin-left: 0
        overflow: hidden

      .topic-block
        .image-name img
          width: 32px !important
          margin-bottom: 4px !important

        .title
          margin-left: 0 !important

      .welcome-gallery, .welcome-gallery-loader
        display: none
