@import compass/utilities/text/ellipsis
@import mixins/responsive
@import mixins/column

+gt_ipad
  .l-content
    +column(2, 75/100, 3%)

+lte_ipad
  .l-content
    +column(2, 97/100, 4%)

  .l-top_menu, .l-footer
    margin-right: 3.5%

  // TODO: разнести это по локальным файлам стилей
  .sections
    display: none

  .forum-nav
    .title
      +ellipsis

  // comments
  .height-shortener, .last-block
    margin-left: 42px !important

  .comments
    margin-left: 25px !important

  blockquote
    margin-left: 0
    overflow: hidden

  .topic-block
    .image-name img
      width: 32px !important
      margin-bottom: 4px !important

    .title
      margin-left: 0 !important

  .welcome-gallery, .welcome-gallery-loader
    display: none
