@import compass/css3/transition
@import mixins/column
@import mixins/responsive
@import mixins/retina

.l-menu
  +gte_ipad
    +column(2, 23/100, 3%)

  +iphone-landscape
    +column(2, 32/100, 3%)

  +iphone-portrait
    +column(2, 41.5/100, 3%)

.l-content
  +transition(margin 0.25s ease) // возможно надо отключить, чтобы не тормозило

  +gte_ipad
    +column(2, 77/100, 3%)

  +iphone-landscape
    +column(2, 67/100, 3%)

  +iphone-portrait
    +column(2, 58.5/100, 3%)

.l-top_menu, .menu-slide-outer
  &:after
    clear: both
    display: block
    content: ' '

//.menu-slide-outer//.l-top_menu
  //+ipad
    //padding-right: 3%

  //+iphone-landscape
    //padding-right: 5%

  //+iphone-portrait
    //padding-right: 8%

.l-footer, .l-menu, .l-page > .head, .l-page > .pagination
  +ipad
    margin-right: 3%

  +iphone-landscape
    margin-right: 5%

  +iphone-portrait
    margin-right: 8%

.l-page
  &.menu-expanded .l-content
    +ipad
      margin-left: -24.5%
    +iphone-landscape
      margin-left: -33.5%
    +iphone-portrait
      margin-left: -45%

  +lte_ipad
    .menu-slide-outer
      width: 100%
      overflow: hidden

  .menu-slide-inner
    //+iphone
      +transition(width 0.5s ease)

    +iphone-landscape
      width: 152.5%

    +iphone-portrait
      width: 175%

    +ipad
      width: 132%

.l-page
  $toggler_height: 60px
  .menu-toggler
    +background-inline-retina('/layouts/l-top_menu/noise', 'png', auto, auto, repeat)
    cursor: pointer
    //height: 100%
    height: $toggler_height
    position: absolute
    -webkit-overflow-scrolling: touch
    right: 0
    top: 0
    width: 31px
    z-index: 2

    +ipad
      width: 3%
    +iphone-landscape
      width: 5%
    +iphone-portrait
      width: 8%

    +gt_ipad
      display: none

    .toggler
      //right: 0
      //top: 47%
      //position: absolute
      text-align: center
      margin-top: ($toggler_height - 34px)/2


      //+ipad
        //width: 3%
      //+iphone-landscape
        //width: 5%
      //+iphone-portrait
        //width: 8%

      &:after
        +transition(color 0.5s ease)
        font-family: shikimori
        content: '\e83e'
        color: #777

        +ipad
          font-size: 32px
        +iphone-landscape
          font-size: 30px
        +iphone-portrait
          font-size: 28px

    &:hover .toggler:after
      color: #bbb

    &:active .toggler:after
      color: #999

  &.menu-expanded
    .menu-toggler .toggler:after
      content: '\e83f'
