@import compass/css3/transition
@import mixins/column
@import mixins/responsive
@import mixins/retina

.l-menu
  +gte_ipad
    +column(2, 23/100, 3%)

  +iphone-landscape
    +column(2, 32/100, 3%)

  +iphone-portrait
    +column(2, 41.5/100, 3%)

.l-content
  +transition(margin 0.25s ease) // возможно надо отключить, чтобы не тормозило

  +gte_ipad
    +column(2, 77/100, 3%)

  +iphone-landscape
    +column(2, 67/100, 3%)

  +iphone-portrait
    +column(2, 58.5/100, 3%)

.l-top_menu, .menu-slide-outer
  &:after
    clear: both
    display: block
    content: ' '

.l-footer, .l-menu, .l-page > .head, .l-page > .pagination
  margin-right: 15px

.l-page
  &.menu-expanded .l-content
    +ipad
      margin-left: -24.5%
    +iphone-landscape
      margin-left: -33.5%
    +iphone-portrait
      margin-left: -45%

  +lte_ipad
    .menu-slide-outer
      width: 100%
      overflow: hidden

  .menu-slide-inner
    //+iphone
      +transition(width 0.5s ease)

    +iphone-landscape
      width: 152.5%

    +iphone-portrait
      width: 175%

    +ipad
      width: 132%

.l-page
  $toggler_height: 60px
  .menu-toggler
    cursor: pointer
    height: $toggler_height
    position: absolute
    -webkit-overflow-scrolling: touch
    right: 0
    top: 10px
    width: auto
    z-index: 2

    +lte_ipad
      width: 26px

    +gt_ipad
      display: none

    .toggler
      text-align: center
      overflow: hidden

      &:before
        -moz-transform: rotate(270deg)
        -ms-transform: rotate(270deg)
        -o-transform: rotate(270deg)
        -webkit-transform: rotate(270deg)
        transform: rotate(270deg)
        content: 'меню'
        display: block
        filter: none // for text-rotate in IE 9
        font-family: Arial
        letter-spacing: 0.7px
        margin-bottom: 10px
        margin-top: 20px

      &:after
        +transition(color 0.5s ease)
        color: #123
        content: '\e83e'
        font-family: shikimori
        font-size: 18px

  &.menu-expanded
    .menu-toggler .toggler:after
      content: '\e83f'
