@import compass/css3/images
@import mixins/retina

.l-menu-toggler
  //background: red
  //height: 100%
  //float: right

  .background
    +background-inline-retina('/layouts/l-menu-toggler/noise', 'png', auto, auto, repeat)
    cursor: pointer
    height: 100%
    position: fixed
    right: 0
    top: 0
    width: 31px
    //z-index: 2
