@import globals/variables
@import mixins/responsive
@import mixins/column

.l-page
  background: white
  clear: both
  margin: 0 auto
  padding: 15px 10px 0 10px
  +gt_laptop
    padding: 15px 15px 0 15px

  position: relative
  z-index: 1

  .x1200 &
    max-width: $site-body-width

  .x1000 &
    max-width: 1000px

  +gt_ipad
    .bordered &
      &:before, &:after
        background: rgba(255,255,255,0.3)
        content: ""
        height: 100%
        position: absolute
        top: 0
        width: 20px

      &:before
        left: -20px

      &:after
        display: block!important
        right: -20px
