@import globals

.l-static
  .page
    margin: 0 auto
    width: $site-body-width - 20

  .forum-nav
    width: $slide-width

  .menu-right
    float: right
    margin-left: 15px
    padding-left: 15px
    width: $menu-width
