@import globals
@import mixins/responsive
@import mixins/retina

.l-top_menu-v2
  align-items: center
  background: #343434
  border-bottom: 1px solid #444
  display: flex
  position: relative
  z-index: 10
  padding: 0 20px 0 13px

  &.is-fullscreen-mode
    z-index: -1

  .logo-container
    height: $menu_height
    margin-right: 30px
    display: flex
    align-items: center

    .glyph
      +background-inline-retina('/assets/layouts/l-top_menu-v2/glyph', 'png')
      background-size: contain !important
      height: 30px
      margin-right: 3px
      margin-top: 3px
      width: 30px

    .logo
      +background-inline-retina('/assets/layouts/l-top_menu-v2/logo', 'png')
      background-size: contain !important
      height: 30px
      margin-top: -1px
      width: 145px

  .userbox-container
    margin-left: auto
    justify-content: center
    display: flex

    .avatar
      height: 30px
