@import globals
@import mixins/ellipsis2
@import mixins/icons
@import mixins/margins
@import mixins/responsive
@import mixins/retina

=top_menu_icon($content)
  +icon($content, $menu-icon-size)
  line-height: inherit !important

  &:before
    line-height: $menu_height
    vertical-align: middle

// $menu_link_color: #e1e7f2
$menu_link_color: #fff
$top_menu-background_color: #343434
$top_menu_background_hover: $gray-4
$top_menu_background_active: lighten($gray-4, 4%)

@import ./l-top_menu-v2/menu
@import ./l-top_menu-v2/submenu
@import ./l-top_menu-v2/mobile

.l-top_menu-v2
  align-items: center
  background: $top_menu-background_color
  border-bottom: 1px solid #444
  color: #fff
  display: flex
  height: $menu_height
  position: relative
  z-index: 10

  &.is-fullscreen-mode
    z-index: -1

  .logo-container
    align-items: center
    display: flex
    height: $menu_height
    padding: 0 5px

    +gte_ipad
      margin: 0 25px 0 8px

    .glyph
      +background-inline-retina('/assets/layouts/l-top_menu-v2/glyph', 'png')
      background-size: contain !important
      height: 30px
      margin-right: 3px
      margin-top: 2px
      width: 30px

      +iphone-s
        display: none

    .logo
      +background-inline-retina('/assets/layouts/l-top_menu-v2/logo', 'png')
      background-size: contain !important
      height: 30px
      margin-top: -1px
      width: 145px

  .submenu
    width: 100%

    +iphone
      display: none !important

  .mobile
    margin-left: auto

    +gt_ipad
      display: none

    .forum
      +top_menu_icon('f')

    .top_menu-toggler
      +top_menu_icon('m')

    .search-toggler
      +top_menu_icon('s')

  .userbox
    margin-left: auto
    margin-right: 10px

    +iphone
      display: none

    .mail > a
      +top_menu_icon('\e81f')

    .avatar
      & > a
        +gte_ipad
          min-width: 200px
          max-width: 300px

        img
          height: 30px
          pointer-events: none

// +gt_ipad
//   .l-top_menu-v2
//     .menu-search
//       & > .entry
//         color: $menu_link_color
//         cursor: pointer
//         line-height: $menu_height
//         padding: 0 20px
//         transition: backround-color 0.3s ease
