@import "globals";
@import "mixins/input";
@import "mixins/button";
@import "mixins/hover_underlined";

$page-offset: 40px;

// TODO: выпилить этот файл и всё его содержимое
/*************************************************/
/* common page */

/*.h1 {*/
  /*-moz-binding: url('/bindings.xml#ellipsis');*/
  /*@include h1-font;*/
  /*@include ellipsis;*/
  /*color: #333333;*/
  /*padding-right: 10px;*/
  /*margin-bottom: 0;*/
  /*border-bottom: none;*/
/*}*/
/*h2,*/
.h2 {
  @include header-font;
  border-bottom: 1px solid #DDDDDD;
  color: #333333;
  margin-bottom: 15px;
  white-space: nowrap;
}
h2.no-border {
  border-bottom: none;
  margin-bottom: 5px;
}
h3 {
  @include subheader-font;
  color: #333333;
  white-space: nowrap;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 10px;
}

.prgrph {
  margin-bottom: 5px !important;
  a {
    @include hover_underlined;
  }
  /*text-indent: 5px;*/
  /*a {*/
    /*@include normal-link;*/
  /*}*/
}
.right-text {
  text-align: right;
}
/* заголовок, стилизованный по-новому */
.middle-highlighted {
  /*background-color: #FFFFFF;*/
  color: #555555;

  @include transition(all, 1s);
  &:hover {
    background-color: #EEEEEE;
    color: black;
  }
  &:active {
    background-color: #E7E7E7;
  }
}
.chrome .middle-highlighted {
  @include transition(all, 0.15s);
}

.block-list {
  li {
    @include selectable-decor;
    @include ellipsis;
    background-color: transparent;
    color: #555555;
    cursor: pointer;
    font-family: helvetica,arial,sans-serif;
    font-size: 12px;
    line-height: 20.34px;
    margin: 1px 0 2px;
    overflow: hidden;
    padding: 1px 3px 0 3px;

    &:hover {
      color: black;
    }
    &.selected {
      background-color: #e5e5e5;
      color: #123;
    }
    &.sub {
      margin-left: 15px;
    }
    input {
      margin-right: 5px;
      display: inline-block;
    }
    a, span {
      @include ellipsis;
    }
    a {
      color: #555555;
      display: block;
    }

    @include lte_ipad {
      line-height: 30px;
      font-size: 16px;

      input {
        margin-right: 10px;
      }
    }
  }
}
.block-list-alt {
  @extend .block-list;
  li {
    background-color: inherit;

    &:hover {
      background-color: inherit;
    }
    &:active {
      background-color: inherit!important;
    }
  }
  a {
    @include link-color(#333);
  }
}

// разделитель
.sep {
  color: $gray-color-0;
  padding: 0 5px;

  &:last-child {
    display: none;
  }
  &.zero {
    padding: 0;
  }
  &.inline {
    display: inline!important;
  }
}

.normal {
  font-weight: normal;
}
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}
.clearfix {
  clear: both;
}
.clearfix-full {
  clear: both;
  font-size: 0;
  overflow: hidden; /* тройной презерватив для IE */
}
.left {
  float: left!important;
}
img.left {
  margin-bottom: 5px;
  margin-right: 5px;
}
.right {
  float: right!important;
  margin-top: -1px;
}
img.right {
  margin-bottom: 5px;
  margin-left: 5px;
}
.hidden {
  display: none!important;
}
.grey-hint {
  color: #666;
  font-style: italic;
}
.related-all {
  color: #999999;
  cursor: pointer;
  font-family: helvetica,arial,sans-serif;
  font-size: 11px;
  line-height: 12px;
  padding-top: 2px;
  position: absolute;
  right: 0;
  text-decoration: none;

  a {
    @include link-hover;

    display: block;
    /*margin-top: 3px;*/
  }
  .link {
    @include default-link;

    color: #666;
    display: block;
  }
}

.strong {
  font-weight: bold;
  color: #333333;
}
.inline {
  display: inline;
}
.solid {
  line-height: 0;
}
.shortened {
  overflow: hidden;
  margin-bottom: 0!important;
}

div.title {
  margin-top: 0;
}
.title p.notice {
  color: #555555;
  margin-bottom: 5px;
  text-align: center;
}
/*************************************************/
/* report button */
/*.report {*/
  /*height: 10px;*/
  /*position: fixed;*/
  /*right: 0;*/
  /*top: 35%;*/
  /*background-image:url(/images/report.png);*/
  /*background-position: -36px 0;*/
  /*background-repeat: no-repeat;*/
  /*cursor: pointer;*/
  /*display: block;*/
  /*height: 179px;*/
  /*width: 35px;*/
/*}*/
/*.report:hover {*/
  /*background-position: 0 0;*/
/*}*/

/*************************************************/
/* input */
input.common {
  @include input;
}
.form-cancel {
  @include normal-link;
  display: inline-block;
  margin-left: 10px;
}

input[type=submit] {
  @include button;
}
// TODO: выпилить
.button {
  @include button;
}
