.b-user16
  a[
    href=profile_url(user)
    title=user.nickname
  ]
    img[
      src=user.avatar_url(16)
      srcset="#{user.avatar_url 32} 2x"
      alt=user.nickname
    ]
    span = user.nickname
