---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/video.get?access_token=USER_ACCESS_TOKEN_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&v=5.73&videos=98023184_165811692
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Frontend:
      - front512003
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":1,"items":[{"can_comment":1,"can_like":1,"can_repost":1,"can_subscribe":1,"can_add_to_faves":1,"can_add":1,"comments":122,"date":1374189566,"description":"","duration":232,"photo_130":"https:\/\/sun9-65.userapi.com\/c514511\/u98023184\/video\/s_297a36bb.jpg","photo_320":"https:\/\/sun9-24.userapi.com\/c514511\/u98023184\/video\/l_81cce630.jpg","width":960,"height":720,"id":165811692,"owner_id":98023184,"title":"SAO
        AMV Sword Art Online (skillet-rise)","player":"https:\/\/vk.com\/video_ext.php?oid=98023184&id=165811692&hash=6d9a4c5f93270892&__ref=vk.api&api_hash=16008669621dc28990300f5ef473_GEZTMOBVGIZTS","views":10578}]}}'
  recorded_at: Wed, 23 Sep 2020 13:16:02 GMT
recorded_with: VCR 6.0.0
