@import mixins/shiki_check

.p-moderations-show.p-authors-show
  .b-collection_search
    .b-button
      width: 120px
      padding: 0
      margin-top: 15px

    .clear
      display: block

  .is-verified,
  .not-verified
    cursor: pointer
    margin-left: 6px

    &:hover
      text-decoration: none

  .is-verified
    +shiki_check($green-check)

  .not-verified
    +shiki_check($red-check)
