@import mixins/responsive
@import mixins/font_shikimori

.p-moderations-index
  .date-filter
    max-width: 97px

.p-moderations-index.p-users-index,
.p-moderations-show.p-roles-show
  .b-user
    border-bottom: none
    height: auto

    .info
      float: none
      width: 100%

    .image-name .image
      height: 48px
      margin-right: 6px
      width: 48px

    .last-online
      color: $gray-3

      .b-button
        margin-right: 10px

    .moderation
      display: flex
      font-size: 9px
      line-height: 1

      .id
        color: $gray-4
        margin-left: 1px
        margin-right: 8px

        &:before
          content: 'ID: '

      .read_only_at
        color: $red

        &:before
          +font_shikimori('\e80a')
          padding-right: 3px

.p-moderations_genres-index.p-studios-index
  .check
    +font_shikimori

    &.yes:before
      color: $green
      content: '✓'

    &.no:before
      color: $red
      content: '✕'
