@import globals/variables

.p-moderations-missing_videos
  .missing-video
    .details
      color: $gray-1
      display: inline-block
      font-size: 11px

      span
        color: #333
        padding: 0 5px
