@import compass/css3/border-radius
@import compass/css3/transition
@import globals
@import mixins/icons
@import mixins/link
@import mixins/placeholder

.anime-filter,.manga-filter
  display: none
  float: left
  margin: 0 30px 30px 0
  width: $menu-width-narrow

  .genres,.ratings
    .collapse
      margin-top: -20px

  .filter
    float: right
    margin-left: 0

.ani-manga-list
  position: relative

  .order-control
    cursor: pointer
    +link_color(#333333)
    &.active
      text-decoration: underline
    &:hover
      text-decoration: underline

  h2
    margin-bottom: 5px

  .anime-status-selector
    display: none
    float: right

  .filter + header, .anime-status-selector + header
    margin-top: 5px

  table
    margin-left: 5px
    margin-right: 0px
    margin-bottom: 0
    width: 98.5%

    .selectable:hover
      background-color: #f5f5f5

    tr
      &.editable
        cursor: pointer

      &.edit-form
        form
          +transition(height, 0.25s)
          background: #e2f3e2
          border-bottom: 1px solid #afc9af
          border-top: 1px solid #afc9af
          display: block
          margin: 5px 0
          overflow: hidden
          padding: 5px 25px 10px 35px

        .b-input
          display: inline-block
          margin-right: 30px

          &.integer input
            width: 45px

          &.user_rate_text
            display: block

          &.text
            margin-right: 0

            textarea
              width: 100%

        .remove
          float: right

      .index
        color: $gray-color
        padding-right: 5px
        width: 30px
        text-align: center

        a
          color: inherit

      .num
        text-align: center
        width: 70px

      .name a
        +link_color

        &:hover
          text-decoration: underline

      td
        vertical-align: top

        a
          color: #333333
          display: inline-block
          line-height: 22px

        .anime-remove
          +icon_button("\e813")
          display: none
          margin-left: 0px !important

        .ongoing, .anons, .rewatches
          font-size: 11px
          padding-left: 6px

        .ongoing
          color: $green

        .anons
          color: $orange

        .rewatches
          color: $blue

        .rate-text
          color: $gray-color-3
          font-size: 12px
          line-height: 15px

          div
            margin-bottom: 5px

        .episodes_total
          color: #333
          font-size: 11px

          &:before
            content: '('
            color: $gray-color-0
            padding-left: 5px

          &:after
            content: ')'
            color: $gray-color-0

        .anime-status
          +menu_icon("\e814")
          +link_color(#112233)
          display: none
          float: right

        .new-value
          display: none

          input
            +border-radius(4px)
            border-color: #C3C3C3
            font-size: 12px
            padding: 0
            text-align: center
            width: 40px

          .item-add
            margin-left: 15px !important

            &:before
              position: absolute
              margin: 3px 0 0 -15px

        &:first-child a
          +ellipsis
          max-width: 371px

    .summary
      td
        color: $gray-color-2
        font-family: Tahoma
        font-size: 12px
        padding-top: 5px

        .stat-value
          color: #123

    .total td
      padding-top: 0px
      text-align: center

  header
    margin-top: 30px

    &.summary
      margin-top: 20px

      h2
        margin: 0 5px 3px
        border-bottom: 1px solid #eeeeee !important

  .b-postloader, .postloader-progress
    margin-top: 10px !important

  .episodes
    color: #555555
    font-family: 'Arial Black','Arial',sans-serif
    font-size: 15px
    position: absolute
    right: 55px
    text-align: center
    top: 46px
    width: 90px

  .related-block:first-child .episodes
    top: 41px

  .score
    color: #555555
    font-family: 'Arial Black','Arial',sans-serif
    font-size: 22px
    position: absolute
    right: 5px
    text-align: center
    top: 45px
    width: 30px

  .related-block:first-child .score
    top: 40px

  .description
    padding-right: 145px

  .related-anime
    position: relative

  .filter
    margin: 0px 25px 0 0

    input
      border: none
      font-size: 13px
      padding: 10px
      width: 100%

      +placeholder
        color: $gray-color-3

  .collapsed
    margin-bottom: 0
