@import "globals";

.favourites {
  .subblock-title {
    margin-bottom: 10px;
  }

  .persons-container {
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
  }

  .animes-container, .mangas-container {
    clear: both;
    margin-bottom: 30px;
    overflow: hidden;
  }
  .item-block {
    width: 109px;

    &:last-child {

    }
    &.c1, &.c2, &.c3, &.c4, &.c5 {
      height: 270px;
      width: 197px;

      .image {
        height: 240px;
      }
    }
    &.c6 {
      height: 225px;
      width: 164px;

      .image {
        height: 195px;
      }
    }
    &.c7 {
      height: 190px;
      width: 140px;
      .image {
        height: 160px;
      }
    }
  }
}
