#import_form {
  #import_phase_1 img {
    cursor: pointer;
    &:last-child {
      margin-left: 10px;
    }
  }
  #anime_planet {
    margin-bottom: 2px;
  }
}
#import_form-placeholder {
  left: -46px;
  position: relative;
  top: 25px;
}
#private-message-form {
  width: 900px;
  left: auto!important;
  margin-left: auto!important;
  margin-right: auto!important;
}
