- if !user_signed_in? || current_user.admin?
  .to-process[
    data-dynamic="desktop_ad"
    data-html="<div class='block2'><center><iframe src='#{adwise_240x400_sponsors_url}' width='240px' height='400px'></center></div>"
  ]
