html
  body style='margin: 0; padding: 0'
    - if Rails.env.development? || Rails.env.test?
      #placeholder style="box-sizing: border-box; width: 240px; height: 400px; background: #ddd; border: 1px solid #aaa;" &nbsp;
    - else
      #advertur_92129
      javascript:
        (function(w, d, n) {
          w[n] = w[n] || [];
          w[n].push({
            section_id: 92129,
            place: "advertur_92129",
            width: 240,
            height: 400
          });
        })(window, document, "advertur_sections");

        window.no_ad_loaded = function() {
          window.parent.remove_ad('sponsors_block_1');
        };
      script[
        type="text/javascript"
        src="//ddnk.advertur.ru/v1/s/loader.js"
        async
      ]
