<div class="item-block person-block<%="-wide" if role %>"
    <% if person.class == Person && role && role.include?('Director') %>itemprop="director"<% end %>
    <% if person.class == Person && role && role.include?('Producer') %>itemprop="producer"<% end %>
    <% if person.class == Character %>itemprop="actors"<% end %>
    itemscope itemtype="http://schema.org/Person"
    title="<%=person.name %>">
  <%=render partial: 'blocks/person_content', locals: { person: person,
                                                          link_to_anime: person.class == Character && defined?(link_to_anime) && link_to_anime,
                                                          link_to_character: person.class == Character && defined?(link_to_character) && link_to_character,
                                                          link_to_seyu: person.class == Person && defined?(link_to_seyu) && link_to_seyu,
                                                          role: role
                                                        }, formats: :html %>
</div>
