- raise 'url should not be defined' if defined?(url)

.b-postloader.collapsed[
  data-remote=next_url.sub(/\.json(\?|#|$)/, '\1').sub(/(\?|#|$)/, '.json\1')
  data-filter=(filter if defined?(filter))
  data-appear-top-offset='900'
  data-pages_limit=(local_assigns[:pages_limit])
  data-ignore-appear=(local_assigns[:ignore_appear] ? 'true' : false)
]
  - if defined?(prev_url) && prev_url.present?
    a.prev[
      href=prev_url.sub(/\.json(\?|#|$)/, '\1')
      rel='prev'
    ] = "← #{t 'pagination.back'}"

  - if defined?(next_url) && next_url.present?
    a.next[
      href=next_url.sub(/\.json(\?|#|$)/, '\1')
      rel='next'
    ] = "#{t 'pagination.next'} →"

  - if defined? block_text
    = block_text
  - else
    | ...
