header.head
  h1 Авторизация отключена
  p.notice OpenID авторизация через Google/Yandex провайдеров отключена по техническим причинам. Приносим свои извинения. Пожалуйста, воспользуйтесь другим способом регистрации.
  p.notice Если же вы уже были зарегистрированы ранее, то залогиньтесь по своему логину и паролю, либо воспользуйтесь <a href="new_user_password_url" class="link">формой восстановления пароля</a> для восстановления аккаунта через почту.
