header.head
  h1 Регистрация отключена
  p.notice OpenID регистрация через Google или Yandex провайдеров отключена по техническим причинам. Приносим свои извинения. Пожалуйста, воспользуйтесь другим способом регистрации.
