- guest_user = !user_signed_in?
- if guest_user
  - def self.user_signed_in?; true; end
  - def self.current_user; User.find(User::GuestID); end

.feedback-container
  .subheadline Нам интересно ваше мнение
  - if guest_user
    p.text Возможно, у вас возникла интересная идея? Или вам тут что-то не нравится и чего-то не хватает? Или, может быть, на сайте что-то неправильно работает, а вы нашли ошибку? А может быть, просто хотите что-то сказать или спросить? Напишите нам &ndash; мы постараемся вам ответить.
  - else
    .text
      p Возможно, у вас возникла интересная идея? Или вам тут что-то не нравится и чего-то не хватает? Напишите об этом в <a href="/s/10586-Pozhelaniya-po-saytu">разделе предложений</a>.
      p Или, может быть, на сайте что-то неправильно работает, и вы нашли ошибку? Сообщите об этом в <a href="/s/102-Tema-ob-oshibkah">теме ошибок</a>.
      p А может быть, просто хотите что-то сказать или спросить? Прочтите тему <a href="/s/85018-FAQ-Chasto-zadavaemye-voprosy">о часто задаваемых вопросах</a> и, если не нашли ответа, зайте вопрос там.
      p Либо же напишите нам в форме ниже, и мы постараемся когда-нибудь вам ответить.

  p.text.warn Это не комментарий к текущей странице! Данная форма предназначена для связи с администрацией сайта.
  p.post-here Нажмите на иконку для отправки сообщения</p>
  img.post-here-arrow src="/images/static/feedback-arrow.png"
  .comments-container
    = render partial: 'comments/add', locals: { options: { object: User.find(1), text: '', no_subscribe: true }, comments_path: create_messages_path }, formats: :html

- if guest_user
  - def self.user_signed_in?; false end
