doctype html
html
  head
    meta[charset="utf-8"]
    meta[name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui"]
    title
      | GraphQL playground
    = csrf_meta_tags
    = csp_meta_tag
    link[rel="stylesheet" href="//cdn.jsdelivr.net/npm/graphql-playground-react/build/static/css/index.css"]
    link[rel="shortcut icon" href="//cdn.jsdelivr.net/npm/graphql-playground-react/build/favicon.png"]
    / = stylesheet_link_tag    "graphql/playground/application", media: "all"
    script[src="//cdn.jsdelivr.net/npm/graphql-playground-react/build/static/js/middleware.js"]
    / = javascript_include_tag "graphql/playground/application"
  body
    #loading-wrapper
      / = render "layouts/graphql/playground/logo"
      .text
        | Loading
        span.dGfHfc
          | GraphQL Playground
    #root
      css:
        /*
        * This is a manifest file that'll be compiled into application.css, which will include all the files
        * listed below.
        *
        * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
        * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
        *
        * You're free to add application-wide styles to this file and they'll appear at the bottom of the
        * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
        * files in this directory. Styles in this file should be added after the last require_* statement.
        * It is generally better to create a new file per style scope.
        *
        *= require_tree .
        *= require_self
        */

        html {
          font-family: "Open Sans", sans-serif;
          overflow: hidden;
        }

        body {
          margin: 0;
          background: #172a3a;
        }

        .playgroundIn {
          -webkit-animation: playgroundIn 0.5s ease-out forwards;
          animation: playgroundIn 0.5s ease-out forwards;
        }

        @-webkit-keyframes playgroundIn {
          from {
            opacity: 0;
            -webkit-transform: translateY(10px);
            -ms-transform: translateY(10px);
            transform: translateY(10px);
          }
          to {
            opacity: 1;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
          }
        }

        @keyframes playgroundIn {
          from {
            opacity: 0;
            -webkit-transform: translateY(10px);
            -ms-transform: translateY(10px);
            transform: translateY(10px);
          }
          to {
            opacity: 1;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
          }
        }

        .fadeOut {
          -webkit-animation: fadeOut 0.5s ease-out forwards;
          animation: fadeOut 0.5s ease-out forwards;
        }

        @-webkit-keyframes fadeIn {
          from {
            opacity: 0;
            -webkit-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            transform: translateY(-10px);
          }
          to {
            opacity: 1;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
          }
        }

        @keyframes fadeIn {
          from {
            opacity: 0;
            -webkit-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            transform: translateY(-10px);
          }
          to {
            opacity: 1;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
          }
        }

        @-webkit-keyframes fadeOut {
          from {
            opacity: 1;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
          }
          to {
            opacity: 0;
            -webkit-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            transform: translateY(-10px);
          }
        }

        @keyframes fadeOut {
          from {
            opacity: 1;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
          }
          to {
            opacity: 0;
            -webkit-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            transform: translateY(-10px);
          }
        }

        @-webkit-keyframes appearIn {
          from {
            opacity: 0;
            -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
            transform: translateY(0px);
          }
          to {
            opacity: 1;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
          }
        }

        @keyframes appearIn {
          from {
            opacity: 0;
            -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
            transform: translateY(0px);
          }
          to {
            opacity: 1;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
          }
        }

        @-webkit-keyframes scaleIn {
          from {
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
          }
          to {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
          }
        }

        @keyframes scaleIn {
          from {
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
          }
          to {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
          }
        }

        @-webkit-keyframes innerDrawIn {
          0% {
            stroke-dashoffset: 70;
          }
          50% {
            stroke-dashoffset: 140;
          }
          100% {
            stroke-dashoffset: 210;
          }
        }

        @keyframes innerDrawIn {
          0% {
            stroke-dashoffset: 70;
          }
          50% {
            stroke-dashoffset: 140;
          }
          100% {
            stroke-dashoffset: 210;
          }
        }

        @-webkit-keyframes outerDrawIn {
          0% {
            stroke-dashoffset: 76;
          }
          100% {
            stroke-dashoffset: 152;
          }
        }

        @keyframes outerDrawIn {
          0% {
            stroke-dashoffset: 76;
          }
          100% {
            stroke-dashoffset: 152;
          }
        }

        .hHWjkv {
          -webkit-transform-origin: 0px 0px;
          -ms-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          -webkit-animation: scaleIn 0.25s linear forwards 0.2222222222222222s;
          animation: scaleIn 0.25s linear forwards 0.2222222222222222s;
        }

        .gCDOzd {
          -webkit-transform-origin: 0px 0px;
          -ms-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          -webkit-animation: scaleIn 0.25s linear forwards 0.4222222222222222s;
          animation: scaleIn 0.25s linear forwards 0.4222222222222222s;
        }

        .hmCcxi {
          -webkit-transform-origin: 0px 0px;
          -ms-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          -webkit-animation: scaleIn 0.25s linear forwards 0.6222222222222222s;
          animation: scaleIn 0.25s linear forwards 0.6222222222222222s;
        }

        .eHamQi {
          -webkit-transform-origin: 0px 0px;
          -ms-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          -webkit-animation: scaleIn 0.25s linear forwards 0.8222222222222223s;
          animation: scaleIn 0.25s linear forwards 0.8222222222222223s;
        }

        .byhgGu {
          -webkit-transform-origin: 0px 0px;
          -ms-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          -webkit-animation: scaleIn 0.25s linear forwards 1.0222222222222221s;
          animation: scaleIn 0.25s linear forwards 1.0222222222222221s;
        }

        .llAKP {
          -webkit-transform-origin: 0px 0px;
          -ms-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          -webkit-animation: scaleIn 0.25s linear forwards 1.2222222222222223s;
          animation: scaleIn 0.25s linear forwards 1.2222222222222223s;
        }

        .bglIGM {
          -webkit-transform-origin: 64px 28px;
          -ms-transform-origin: 64px 28px;
          transform-origin: 64px 28px;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          -webkit-animation: scaleIn 0.25s linear forwards 0.2222222222222222s;
          animation: scaleIn 0.25s linear forwards 0.2222222222222222s;
        }

        .ksxRII {
          -webkit-transform-origin: 95.98500061035156px 46.510000228881836px;
          -ms-transform-origin: 95.98500061035156px 46.510000228881836px;
          transform-origin: 95.98500061035156px 46.510000228881836px;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          -webkit-animation: scaleIn 0.25s linear forwards 0.4222222222222222s;
          animation: scaleIn 0.25s linear forwards 0.4222222222222222s;
        }

        .cWrBmb {
          -webkit-transform-origin: 95.97162628173828px 83.4900016784668px;
          -ms-transform-origin: 95.97162628173828px 83.4900016784668px;
          transform-origin: 95.97162628173828px 83.4900016784668px;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          -webkit-animation: scaleIn 0.25s linear forwards 0.6222222222222222s;
          animation: scaleIn 0.25s linear forwards 0.6222222222222222s;
        }

        .Wnusb {
          -webkit-transform-origin: 64px 101.97999572753906px;
          -ms-transform-origin: 64px 101.97999572753906px;
          transform-origin: 64px 101.97999572753906px;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          -webkit-animation: scaleIn 0.25s linear forwards 0.8222222222222223s;
          animation: scaleIn 0.25s linear forwards 0.8222222222222223s;
        }

        .bfPqf {
          -webkit-transform-origin: 32.03982162475586px 83.4900016784668px;
          -ms-transform-origin: 32.03982162475586px 83.4900016784668px;
          transform-origin: 32.03982162475586px 83.4900016784668px;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          -webkit-animation: scaleIn 0.25s linear forwards 1.0222222222222221s;
          animation: scaleIn 0.25s linear forwards 1.0222222222222221s;
        }

        .edRCTN {
          -webkit-transform-origin: 32.033552169799805px 46.510000228881836px;
          -ms-transform-origin: 32.033552169799805px 46.510000228881836px;
          transform-origin: 32.033552169799805px 46.510000228881836px;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          -webkit-animation: scaleIn 0.25s linear forwards 1.2222222222222223s;
          animation: scaleIn 0.25s linear forwards 1.2222222222222223s;
        }

        .iEGVWn {
          opacity: 0;
          stroke-dasharray: 76;
          -webkit-animation: outerDrawIn 0.5s ease-out forwards 0.3333333333333333s, appearIn 0.1s ease-out forwards 0.3333333333333333s;
          animation: outerDrawIn 0.5s ease-out forwards 0.3333333333333333s, appearIn 0.1s ease-out forwards 0.3333333333333333s;
          -webkit-animation-iteration-count: 1, 1;
          animation-iteration-count: 1, 1;
        }

        .bsocdx {
          opacity: 0;
          stroke-dasharray: 76;
          -webkit-animation: outerDrawIn 0.5s ease-out forwards 0.5333333333333333s, appearIn 0.1s ease-out forwards 0.5333333333333333s;
          animation: outerDrawIn 0.5s ease-out forwards 0.5333333333333333s, appearIn 0.1s ease-out forwards 0.5333333333333333s;
          -webkit-animation-iteration-count: 1, 1;
          animation-iteration-count: 1, 1;
        }

        .jAZXmP {
          opacity: 0;
          stroke-dasharray: 76;
          -webkit-animation: outerDrawIn 0.5s ease-out forwards 0.7333333333333334s, appearIn 0.1s ease-out forwards 0.7333333333333334s;
          animation: outerDrawIn 0.5s ease-out forwards 0.7333333333333334s, appearIn 0.1s ease-out forwards 0.7333333333333334s;
          -webkit-animation-iteration-count: 1, 1;
          animation-iteration-count: 1, 1;
        }

        .hSeArx {
          opacity: 0;
          stroke-dasharray: 76;
          -webkit-animation: outerDrawIn 0.5s ease-out forwards 0.9333333333333333s, appearIn 0.1s ease-out forwards 0.9333333333333333s;
          animation: outerDrawIn 0.5s ease-out forwards 0.9333333333333333s, appearIn 0.1s ease-out forwards 0.9333333333333333s;
          -webkit-animation-iteration-count: 1, 1;
          animation-iteration-count: 1, 1;
        }

        .bVgqGk {
          opacity: 0;
          stroke-dasharray: 76;
          -webkit-animation: outerDrawIn 0.5s ease-out forwards 1.1333333333333333s, appearIn 0.1s ease-out forwards 1.1333333333333333s;
          animation: outerDrawIn 0.5s ease-out forwards 1.1333333333333333s, appearIn 0.1s ease-out forwards 1.1333333333333333s;
          -webkit-animation-iteration-count: 1, 1;
          animation-iteration-count: 1, 1;
        }

        .hEFqBt {
          opacity: 0;
          stroke-dasharray: 76;
          -webkit-animation: outerDrawIn 0.5s ease-out forwards 1.3333333333333333s, appearIn 0.1s ease-out forwards 1.3333333333333333s;
          animation: outerDrawIn 0.5s ease-out forwards 1.3333333333333333s, appearIn 0.1s ease-out forwards 1.3333333333333333s;
          -webkit-animation-iteration-count: 1, 1;
          animation-iteration-count: 1, 1;
        }

        .dzEKCM {
          opacity: 0;
          stroke-dasharray: 70;
          -webkit-animation: innerDrawIn 1s ease-in-out forwards 1.3666666666666667s, appearIn 0.1s linear forwards 1.3666666666666667s;
          animation: innerDrawIn 1s ease-in-out forwards 1.3666666666666667s, appearIn 0.1s linear forwards 1.3666666666666667s;
          -webkit-animation-iteration-count: infinite, 1;
          animation-iteration-count: infinite, 1;
        }

        .DYnPx {
          opacity: 0;
          stroke-dasharray: 70;
          -webkit-animation: innerDrawIn 1s ease-in-out forwards 1.5333333333333332s, appearIn 0.1s linear forwards 1.5333333333333332s;
          animation: innerDrawIn 1s ease-in-out forwards 1.5333333333333332s, appearIn 0.1s linear forwards 1.5333333333333332s;
          -webkit-animation-iteration-count: infinite, 1;
          animation-iteration-count: infinite, 1;
        }

        .hjPEAQ {
          opacity: 0;
          stroke-dasharray: 70;
          -webkit-animation: innerDrawIn 1s ease-in-out forwards 1.7000000000000002s, appearIn 0.1s linear forwards 1.7000000000000002s;
          animation: innerDrawIn 1s ease-in-out forwards 1.7000000000000002s, appearIn 0.1s linear forwards 1.7000000000000002s;
          -webkit-animation-iteration-count: infinite, 1;
          animation-iteration-count: infinite, 1;
        }

        #loading-wrapper {
          position: absolute;
          width: 100vw;
          height: 100vh;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-align-items: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
        }

        .logo {
          width: 75px;
          height: 75px;
          margin-bottom: 20px;
          opacity: 0;
          -webkit-animation: fadeIn 0.5s ease-out forwards;
          animation: fadeIn 0.5s ease-out forwards;
        }

        .text {
          font-size: 32px;
          font-weight: 200;
          text-align: center;
          color: rgba(255, 255, 255, 0.6);
          opacity: 0;
          -webkit-animation: fadeIn 0.5s ease-out forwards;
          animation: fadeIn 0.5s ease-out forwards;
        }

        .dGfHfc {
          font-weight: 400;
        }
      javascript:
        window.addEventListener('load', function (event) {
          const loadingWrapper = document.getElementById('loading-wrapper');
          loadingWrapper.classList.add('fadeOut');

          const root = document.getElementById('root');
          root.classList.add('playgroundIn');

          const endpoint = '/api/graphql';
          GraphQLPlayground.init(root, {
            endpoint,
            tracing: { tracingSupported: false },
            tabs: [{
              endpoint,
              name: 'animes',
              query: `{
          # look for more query params in the documentation
          animes(search: "bakemono", limit: 1, kind: "!special") {
            id
            malId
            name
            russian
            licenseNameRu
            english
            japanese
            synonyms
            kind
            rating
            score
            status
            episodes
            episodesAired
            duration
            airedOn { year month day date }
            releasedOn { year month day date }
            url
            season

            poster { id originalUrl mainUrl }

            fansubbers
            fandubbers
            licensors
            createdAt,
            updatedAt,
            nextEpisodeAt,
            isCensored

            genres { id name russian kind }
            studios { id name imageUrl }

            externalLinks {
              id
              kind
              url
              createdAt
              updatedAt
            }

            personRoles {
              id
              rolesRu
              rolesEn
              person { id name poster { id } }
            }
            characterRoles {
              id
              rolesRu
              rolesEn
              character { id name poster { id } }
            }

            related {
              id
              anime {
                id
                name
              }
              manga {
                id
                name
              }
              relationKind
              relationText
            }

            videos { id url name kind playerUrl imageUrl }
            screenshots { id originalUrl x166Url x332Url }

            scoresStats { score count }
            statusesStats { status count }

            description
            descriptionHtml
            descriptionSource
          }
        }`
            }, {
              endpoint,
              name: 'mangas',
              query: `{
          # look for more query params in the documentation
          mangas(limit: 1) {
            id
            malId
            name
            russian
            licenseNameRu
            english
            japanese
            synonyms
            kind
            score
            status
            volumes
            chapters
            airedOn { year month day date }
            releasedOn { year month day date }
            url

            poster { id originalUrl mainUrl }

            licensors
            createdAt,
            updatedAt,
            isCensored

            genres { id name russian kind }
            publishers { id name }

            externalLinks {
              id
              kind
              url
              createdAt
              updatedAt
            }

            personRoles {
              id
              rolesRu
              rolesEn
              person { id name poster { id } }
            }
            characterRoles {
              id
              rolesRu
              rolesEn
              character { id name poster { id } }
            }

            related {
              id
              anime {
                id
                name
              }
              manga {
                id
                name
              }
              relationKind
              relationText
            }

            scoresStats { score count }
            statusesStats { status count }

            description
            descriptionHtml
            descriptionSource
          }
        }`
            }, {
              endpoint,
              name: 'chracters',
              query: `{
          # look for more query params in the documentation
          characters(page: 1, limit: 1) {
            id
            malId
            name
            russian
            japanese
            synonyms
            url
            createdAt
            updatedAt
            isAnime
            isManga
            isRanobe

            poster { id originalUrl mainUrl }

            description
            descriptionHtml
            descriptionSource
          }
        }`
            }, {
              endpoint,
              name: 'people',
              query: `{
          # look for more query params in the documentation
          people(limit: 1) {
            id
            malId
            name
            russian
            japanese
            synonyms
            url
            isSeyu
            isMangaka
            isProducer
            website
            createdAt
            updatedAt
            birthOn { year month day date }
            deceasedOn { year month day date }

            poster { id originalUrl mainUrl }
          }
        }`
            }, {
              endpoint,
              name: 'user_rates',
              query: `{
          # look for more query params in the documentation
          userRates(page: 1, limit: 5, targetType: Anime, order: { field: updated_at, order: desc }) {
            id
            anime { id name }
            createdAt
          }
        }`
            }, {
              endpoint,
              name: 'query with variables',
              query: `query($ids: [ID!]) {
          characters(ids: $ids) {
            id
            name
          }
        }`,
              variables: '{"ids": 1}'
            }]
          })
        });
