<script type="text/javascript">
  mailru_ad_client = "ad-99070";
  mailru_ad_slot = 99070;
</script>
<script type="text/javascript" src="//rs.mail.ru/static/ads-min.js"></script>
<h1>my target ad test page</h1>
