<header class="head">
  <h1>
    NOOOOOOOOOOOOO
  </h1>
</header>

<img src="/images/static/503.jpg" style="float: left; margin-right: 10px;"/>
<p>
  С сайтом случилось что-то непредвиденное &ndash; он упал с ошибкой.
</p>
<p>
  Уведомление об этом было выслано администрации, виновные будут наказаны.
</p>
<p>
  Пожалуйста, попробуйте повторить ваши действия чуть позже, наверняка все будет уже работать.
</p>
<p>
  Если же ошибка не исчезла, пожалуйста, напишите нам об этом, нажав синюю кнопочку "оставить отзыв" в левой части экрана.
</p>
<div class="clearfix m20"></div>
