doctype html
html
  head
    meta charset="utf-8"
    title 404

    link[
      href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic'
      rel='stylesheet'
      type='text/css'
    ]
    - unless Rails.env.test?
      = stylesheet_link_tag 'page404'

  body
    .dialog
      p.error-404 404
      h1 = t 'page404.title'
      == t 'page404.text'

      img.image[
        src='/images/static/404.jpg'
        srcset='/images/static/404@2x.jpg 2x'
      ]
