header.head
  h2
    a.back href=@back_url data-text=t('back')
    = og.headline
  / .notice У автора #{@resource.anime_videos.count} видео
  = render 'application/breadcrumbs'

/ = simple_form_for [:moderations, :authors] do |f|
/   .cc-2
/     .c-column
/       - if @anime
/         .b-input
/           input[
/             type="hidden"
/             name="anime_id"
/             value=@anime.id
/           ]
/           label = Anime.model_name.human
/           a.b-link.bubbled href=anime_url(@anime)
/             = localization_span @anime
/           a.clear-anime[
/             href=current_url(anime_id: nil)
/           ] отменить
/
/       - if params[:kind].present?
/         .b-input
/           input[
/             type="hidden"
/             name="kind"
/             value=params[:kind]
/           ]
/           label = AnimeVideo.human_attribute_name :kind
/           = t "enumerize.anime_video.kind.#{params[:kind]}"
/           a.clear-anime[
/             href=current_url(kind: nil)
/           ] отменить
/
/       = f.input :name, hint: 'При задании пустого имени автор будет удалён'
/       - unless @anime
/         = f.input :is_verified
/
/       .buttons
/         a.cancel href=@back_url = t 'actions.cancel'
/         = f.button :magic_submit
/
/     .c-column
/       = render 'moderations/anime_video_authors/video_groups',
/         anime_video_author: @resource,
/         scope: @scope
