#vue_app[
  data-resource_type=resource.class.name
  data-entry_id=resource.id
  data-entry_type=resource.class.base_class.name
  data-values=resource.desynced.to_json
  data-field='desynced'
]
  .block_m.b-nothing_here = t 'loading'
