@import "globals";

.new_topic, .edit_topic, .edit_anime_news, .edit_manga_news {
  .preview {
    padding-top: 5px!important;

    .body {
      margin-top: 0!important;
      .preview {
        padding-top: 0px!important;
      }
    }
  }
  .linked-suggest {
    float: left;
  }
  .action-misc {
    clear: left;
  }
  .linked-selected, .linked-selected-right {
    @include text-font;
    float: left;
    margin-left: 15px;

    a {
      @include normal-link;
    }
  }
  .linked-selected-right {
    float: right;
  }
}
