@import "globals";

.welcome-gallery-loader .ajax-loading {
  width: 100%;
  height: 267px;
}
.welcome-gallery {
  margin-bottom: 10px;

  .gallery-title {
    @include header-font;
    margin-left: 5px;
  }
  .nav {
    float: right;
    margin-bottom: 2px;
    margin-right: 5px;

    p {
      @include normal-link;
      border-right: 1px solid #CCC;
      color: #333;
      font-size: 11px;
      padding: 0 9px;
      display: inline;

      &:last-child {
        padding-right: 0;
        border-right: none;
      }
      &.selected {
        text-decoration: underline;
        color: $selected-color;
      }
    }
    .more {
      float: left;
      margin-left: 15px;
      padding-top: 0px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .gallery-body {
    background: #EEE;
    height: 224px;
    overflow: hidden;
    margin: -5px auto 0;
    padding: 5px;
    width: 961px;
    clear: both;

    .view-port {
      height: 100%;
    }

    .entry {
      background: #101B1E;
      float: left;
      height: 224px;
      margin-left: 5px;
      overflow: hidden;
      position: relative;
      width: 156px;

      &:first-child {
        margin-left: 0;
      }
      .image {
        display: none;

        .img {
          height: 224px;
          width: 156px;
        }
      }
      .title {
        background: rgba(50, 50, 50, 0.8);
        color: #FFFFFF;
        font-family: arial,sans-serif;
        font-size: 1.05em;
        height: auto;
        overflow: hidden;
        position: absolute;
        top: 234px;
        width: 156px;
        z-index: 1;

        a {
          color: inherit;
        }
        .name {
          background: #EEE;
          border-bottom: none;
          color: #333;
          display: block;
          font-family: arial,sans-serif;
          font-weight: 700;
          line-height: 1.2em!important;
          margin-bottom: 5px;
          padding: 3px 2px 2px;
          text-align: center;
          white-space: normal;
          width: 152px;

          &.f15 {
            padding: 4px 2px 3px;
            margin-bottom: 5px;
          }
        }
        p {
          color: #EEE;
          line-height: 16px;
          margin-bottom: 3px;
          padding: 0 5px;

          &:last-child {
            margin-bottom: 5px;
          }
          .bold {
            font-weight: bold;
          }
        }
      }
    }
    .slide {
      margin-bottom: 5px;
      height: 234px;
      overflow: hidden;
    }
  }
}
