@import "globals";
@import "globals/fonts";
@import "mixins/tag";

/*************************************************/
/* page container */
.page-container {
  overflow: visible!important;
}
/*************************************************/
/* title */
.page .title h1 {
  padding-left: 5px;
  padding-right: 5px;
  @include ellipsis;
}

.animes .headline, .mangas .headline {
  margin-bottom: 10px;
}
/*************************************************/
/* 2 magick columns */
.left-column-wrap  {
  margin-bottom: 0;
  border-right: none;
}
/*************************************************/
/* left menu */
.menu-left {
  ul.types, ul.seasons, ul.mylist, ul.genres {
    li {
      &.sub {
        margin-left: 12px;
      }
      a {
        display: block;
      }
    }
  }
  .collapse {
    margin-top: -18px;
  }
  .collapsed.tiny {
    padding: 0 10px 2px;
    margin-top: -3px;
  }
  &.postloaded .ajax-loading {
    height: 500px;
  }
  .addthis_toolbox {
    margin: -15px 0 21px 9px;
  }
  .filter {
    float: right;
    margin-left: 0;
  }
  .menu-block > .filter {
    margin-top: 2px;
    margin-right: 3px;
  }
}
/*************************************************/
/* anime-manga */
.animes {
  .postloader.new {
    float: left;
    width: 100%;
  }

  .ajax {
    display: inline-block;
  }
  .entry-block {
    float: left;
    height: 275px;
    margin: 0 31px 25px 0;
    width: 170px;

    a {
      @include text-font;
      @include inner-image-selectable-decor;
      @include link-color(#333);
      display: block;
      font-size: 12px;
    }
    img {
      display: block;
      height: 230px;
      margin-bottom: 5px;
      padding: 4px;
      width: 160px;

      border: 1px solid darken($default-image-background, 6%);
      &:hover {
        border: 1px solid darken($default-image-hover-background, 6%);
      }
      &:active {
        border: 1px solid darken($default-image-active-background, 9%);
      }
    }
    .title {
      @include ellipsis;
      display: block;
      font-weight: bold;
      line-height: 13px;
    }
    .misc {
      color: #555;
      font-size: 11px;
      line-height: 17px;

      .year {
        float: right;
      }
    }
    .misc.alter {
      @include ellipsis;

      span {
        padding-right: 5px;
      }
      .airing {
        float: right;
        color: #777;

        span {
          color: #444;
          font-size: 10px;
          padding: 0 3px 0 2px;
        }
      }
    }
    &.shortened {
      height: 165px;
      margin-bottom: 20px;
      margin-right: 31px;

      img {
        padding: 4px;
        height: 120px;
      }
      &:nth-child(2n) {
        margin-right: 32px;
      }
    }
    &:nth-child(4n) {
      margin-right: 0px!important;
    }

    &.in-list {
      img {
        background-color: #c2dff2;
        border: 1px solid darken(#c2dff2, 6%);
        padding: 4px;
      }
      a, img {
        &:hover img {
          background-color: darken(#c2dff2, 6%);
          border: 1px solid darken(darken(#c2dff2, 6%), 6%);
        }
        &:active img {
          background-color: darken(#c2dff2, 9%);
          border: 1px solid darken(darken(#c2dff2, 6%), 9%);
        }
      }
    }
  }
  .entry-tooltip {
    display: none;
    cursor: default;

    .data, p {
      font-size: 12px;
      line-height: 23px;

      &.name {
        line-height: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: bold;
      }
      &.text {
        line-height: 20px;
        margin-bottom: 5px;
      }
      .local-title, .key {
        color: #444;
        font-weight: bold;
      }
      .genre, .studio, .publisher {
        @include tag;
      }
    }

    .tooltip-inner {
      min-height: 20px;
      padding-top: 5px;
      padding-bottom: 0;
      width: 270px;
    }

    .rating {
      color: #444;
      float: right;
      font-family: Tahoma;
      font-size: 23px;
      line-height: 18px;
      margin: 1px 0;

      .text {
        color: #555;
        float: left;
        font-size: 11px;
        margin: 5px;
      }
    }
  }
}
