@import "globals";
@import "globals/fonts";

// TODO: выпилить тут полностью всё!
/*************************************************/
/* page container */
.page-container {
  overflow: visible!important;
}
/*************************************************/
/* title */
.page .title h1 {
  padding-left: 5px;
  padding-right: 5px;
  @include ellipsis;
}

.animes .headline, .mangas .headline {
  margin-bottom: 10px;
}
/*************************************************/
/* 2 magick columns */
.left-column-wrap  {
  margin-bottom: 0;
  border-right: none;
}
/*************************************************/
/* left menu */
.menu-left {
  ul.types, ul.seasons, ul.mylist, ul.genres {
    li {
      &.sub {
        margin-left: 12px;
      }
      a {
        display: block;
      }
    }
  }
  .collapse {
    margin-top: -18px;
  }
  .collapsed.tiny {
    padding: 0 10px 2px;
    margin-top: -3px;
  }
  &.postloaded .ajax-loading {
    height: 500px;
  }
  .addthis_toolbox {
    margin: -15px 0 21px 9px;
  }
  .filter {
    float: right;
    margin-left: 0;
  }
  .menu-block > .filter {
    margin-top: 2px;
    margin-right: 3px;
  }
}
/*************************************************/
/* anime-manga */
.animes {
  .b-postloader {
    float: left;
    width: 100%;
  }

  .ajax {
    display: inline-block;
  }
}
