= simple_form_for [:api, :v2, resource],
    remote: true,
    html: { 'data-type' => :json, class: 'b-form rate-edit' },
    authenticity_token: true do |f|

  .delete-button.top.hidden
    a.remove[
      href=api_user_rate_url(f.object, frontend: true)
      title=t('.remove_from_my_list')
      data-method="delete"
      data-remote="true"
      data-type="json"
    ] = t '.remove_from_my_list'

  = f.input :score,
    as: :select,
    collection: scores_options

  - if f.object.anime?
    = f.input :episodes,
      input_html: {\
        min: 0,
        max: f.object.target.episodes.zero? ? 999 : f.object.target.episodes,
      }

  - else
    = f.input :chapters,
      input_html: {\
        min: 0,
        max: f.object.target.chapters.zero? ? 999 : f.object.target.chapters,
      }
    = f.input :volumes,
      input_html: {\
        min: 0,
        max: f.object.target.volumes.zero? ? 999 : f.object.target.volumes,
      }

  = f.input :status,
    collection: statuses_options(f.object.target_type),
    include_blank: false
  = f.input :rewatches,
    label: UserRate.human_attribute_name(f.object.anime? ? :rewatches : :rereads),
    input_html: { min: 0 }
  = f.input :text, as: :text

  .buttons
    .b-js-link.cancel = t 'actions.cancel'
    = f.button :magic_submit

  a.remove.bottom[
    href=api_user_rate_url(f.object, frontend: true)
    title=t('.remove_from_my_list')
    data-method="delete"
    data-remote="true"
    data-type="json"
  ] = t '.remove_from_my_list'
