.b-user_rate.to-process[
  class="#{local_assigns[:target].anime? ? :anime : :manga}-#{local_assigns[:target].id}"
  data-dynamic="user_rate"
  data-entry=(UserRateEntrySerializer.new(local_assigns[:target]).to_json if local_assigns[:extended])
  data-extended=local_assigns[:extended].to_json
  data-target_id=local_assigns[:target].id
  data-target_type=(local_assigns[:target].anime? ? Anime.name : Manga.name)
  data-track_user_rate=JsExports::UserRatesExport.instance.placeholder(:user_rate, local_assigns[:target])
  data-model=UserRate.new(target: local_assigns[:target].decorated? ? local_assigns[:target].object : local_assigns[:target]).to_json
]
