.list-posters.cc-5.to-process data-dynamic='cutted_covers'
  - list.user_rates.each do |user_rate|
    .c-column.user_rate[
      data-target_id=user_rate.target_id
      data-title=user_rate.target_name
      data-text=user_rate.text
    ]
      = render user_rate.target.decorate,
        cover_notice: :year_kind,
        tooltip_predelay: profile_view.own_profile? ? 750 : 450
      .text class=(:hidden if user_rate.text.blank?)
        = user_rate.text_html
      - if profile_view.own_profile?
        .edit-user_rate[
          data-remote="true"
          data-action=edit_user_rate_path(user_rate, detailed: true)
          data-type='html'
          data-rate_url=api_v2_user_rate_path(user_rate)
        ]
