.b-input.string.optional
  label.string.optional.control-label for='reason'
    = Version.human_attribute_name :reason
  textarea#reason[
    class=local_assigns[:class]
    type='text'
    value=params[:reason]
    name='reason'
    rows='4'
  ]
  / span.hint = t 'simple_form.hints.version.reason'
