- if !user_signed_in? || !current_user.moderator? || !current_user.versions_moderator? || current_user.admin?
  - if !local_assigns[:obtrusive] || (!user_signed_in? || current_user.admin?)
    .to-process[
      data-dynamic="desktop_ad"
      data-ad_class="#{ad.container_class}"
      data-html="#{ad.html}"
    ]
