.footer-vote
  .notice Тебе нравится?
  .vote-group
    .vote.yes[
      class="#{:selected if topic_view.topic.linked.voted_yes? current_user} #{:deselected if topic_view.topic.linked.voted_no? current_user}"
      data-remote="true"
      action="#{vote_yes_url id: topic_view.topic.linked.id, type: topic_view.topic.linked.class.name}"
      data-type="json"
      data-method="post"
    ] Да
    .separator
    .vote.no[
      class="#{:selected if topic_view.topic.linked.voted_no? current_user} #{:deselected if topic_view.topic.linked.voted_yes? current_user}"
      data-remote="true"
      action="#{vote_no_url id: topic_view.topic.linked.id, type: topic_view.topic.linked.class.name}"
      data-type="json"
      data-method="post"
    ] Нет
