@import globals/variables
@import mixins/link

.p-anime_videos-new, .p-anime_videos-edit
  .hint
    a
      +link

  .video-preview
    display: none

    iframe
      background: #eee
      height: 160px
      width: 300px

  .buttons
    float: none
    display: none

    input[type=submit]
      margin-left: $block_offset
      margin-bottom: $block_offset / 2
