@import mixins/block
@import mixins/column
@import mixins/comma_separated
@import mixins/ellipsis2
@import mixins/link
@import mixins/responsive
@import mixins/retina

$image-path: '/assets/anime_online/pages/anime_videos'

.p-anime_videos-index
  .b-nothing_here
    margin-left: 0

  .cc-anime_video_report-new
    input[type=text]
      width: 100%

    .broken, .wrong, .rejected
      margin-right: 20px

  .c-video_stats
    font-size: 12px
    margin-top: -4px
    text-align: right

    &.single
      padding-top: 10px

    .views_count
      +ellipsis2
      color: $gray-3

    .uploader
      color: #333
      white-space: nowrap

      +iphone_portrait
        &>span
          display: none

      .b-user16
        line-height: 17px
        margin-right: 0
        padding-left: 5px

        img
          margin-top: 0

  .same-videos
    +block

    .title
      color: #123
      font-weight: bold
      margin-bottom: 5px

    .b-video_variant
      +comma_separated
      display: inline-block

  .c-anime_video_episodes,
  .c-videos
    +block
    +iphone
      +column(1)
    +gte_ipad
      +column(2)

      &.c-videos
        float: right
        margin-right: 0

    .title
      font-weight: bold
      color: #123
      margin-bottom: 5px

  .c-videos
    .video-variant-switcher
      +js_link
      font-size: 12px
      font-weight: normal
      margin-left: 10px

      &.active
        cursor: default
        color: $link-active
        border-bottom: none

    .video-variant-group
      display: none

      &.active
        display: block

  .c-videos .b-video_variant .video-quality
    float: left
    margin-top: 5px
    margin-right: 4px

    &.bd
      +background-inline-retina('#{$image-path}/bd', 'png', 56px, 12px)
      height: 12px
      width: 56px

    &.dvd
      +background-inline-retina('#{$image-path}/dvd', 'png', 27px, 12px)
      height: 12px
      width: 27px

  .c-videos .b-video_variant .video-quality + .video-kind.english
    &:before
      margin-left: -81px
