@import compass/typography/text/ellipsis
@import mixins/block
@import mixins/column
@import mixins/comma_separated
@import mixins/link
@import mixins/responsive

.p-anime_videos-index
  .b-nothing_here
    margin-left: 0

  .cc-anime_video_report-new
    input[type=text]
      width: 100%

    .broken, .wrong
      margin-right: 20px

  .c-video_stats
    font-size: 12px
    margin-top: -4px
    text-align: right

    &.single
      padding-top: 10px

    .views_count
      +ellipsis
      color: $gray-3

    .uploader
      color: #333
      white-space: nowrap

      +iphone_portrait
        &>span
          display: none

      .b-user16
        line-height: 17px
        margin-right: 0
        padding-left: 5px

        img
          margin-top: 0

  .same-videos
    +block

    .title
      color: #123
      font-weight: bold
      margin-bottom: 5px

    .video-variant
      +comma_separated
      display: inline-block

      span
        padding-right: 5px

  .c-episodes,
  .c-videos
    +block
    +iphone
      +column(1)
    +gte_ipad
      +column(2)

      &.c-videos
        float: right
        margin-right: 0

    .title
      font-weight: bold
      color: #123
      margin-bottom: 5px

  .video-variant
    a
      +link

      &:hover
        text-decoration: none
        border-bottom: 1px solid $link-border-hover

        span
          color: inherit

      &>span
        display: inline-block
        padding-right: 6px

        &:first-child:first-letter
          text-transform: uppercase
        &:last-child
          padding-right: 0

      &.active
        font-weight: bold

      &.broken:after, &.wrong:after
        float: left
        font-weight: normal
        padding-right: 5px

      &.broken:after
        color: $red
        content: 'broken'

      &.wrong:after
        color: $orange
        content: 'wrong'

    .episode-num
      font-weight: bold

    .episode-num, .video-id
      color: #123

    .video-author
      color: #123

    .episode-hostings, .video-hosting, .video-language
      color: $gray-3

      &:before, &:after
        color: $gray-1
        display: inline-block // чтбы по hover подчёркивание не появлялось у ссылок

      &:before
        content: '('

      &:after
        content: ')'
