@import addons/clearfix
@import globals/variables
@import mixins/icons
@import mixins/block
@import mixins/clear_left
@import mixins/column
@import mixins/link
@import mixins/ellipsis2

.b-video_player
  &.copyrighted
    .cc-player_controls
      margin-bottom: 15px

    .about-copyright
      font-size: 13px
      color: $red

  .player-area
    display: flex
    justify-content: center

    iframe
      border: none
      width: 100%
    object, embed, video
      width: 100%

    .player-placeholder
      align-items: center
      background: lighten(#ddd, 5%)
      border: 1px solid #aaa
      display: flex
      justify-content: center
      width: 100%

      .inner
        +ellipsis2

        a.player-url
          padding: 0 20px
          font-size: 20px
          font-weight: bold

        .hint
          margin-top: 10px
          padding: 0 20px
          white-space: normal

  .cc-anime_video_report-new
    +block
    display: none
    padding-top: 10px

  .cc-player_controls
    +clearfix
    padding-top: 10px

    .cc-navigation
      +clear_left
      height: 42px

      & > .c-control
        +column(3)

    .cc-optional_controls
      +clear_left
      height: 42px

      & > .c-control
        +column(4)

    .cc-optional_controls
      display: none

    .cc-options
      +clear_left

      & > .c-buttons
        +column(3, 2/3)

      & > .c-video_stats
        +column(3, 1/3)

  .cc-player_controls
    a.c-control
      +link

    .c-control
      +link
      text-align: center

      &.selected, &.selected .icon
        color: $link

      &:hover .icon
        color: $link-hover
      &:active .icon
        color: $link-active

      .icon
        margin: 0 !important

        &:before
          font-size: 18px !important
          width: 100%

    //a.c-control
      +link

    .label
      +ellipsis2
      +iphone_portrait
        display: none
      font-size: 10px
      b
        color: #123

    .episode-num
      color: #444 !important
      cursor: default
      font-size: 17px
      line-height: $icon_desktop_size
      text-align: center
      text-decoration: none !important

      +lte_ipad
        line-height: $icon_mobile_size

      +iphone_portrait
        span
          display: none

      input
        font-size: 17px
        font-weight: bold
        line-height: $icon_desktop_size
        padding: 0 2px
        width: 35px

      .video-link
        font-size: 11px

        &.no-video
          color: $red
          line-height: 1.3

        a
          +bordered-link

    .prev .icon
      +icon_button("\e832")
    .next .icon
      +icon_button("\e83a")
    .create-user_rate .icon
      +icon_button("\002b")
    .show-options .icon
      +icon_button("\e843")
    .edit .icon
      +icon_button("\e842")
    .upload .icon
      +icon_button("\e80c")

    .increment-user_rate
      .icon
        +icon_button('✓')
      &.watched, &.watched .icon
        color: $green !important

    .delete
      .icon
        +icon_button("\e815")

    .report
      //color: $red !important
      //&:hover
        //text-decoration: underline

      .icon
        +icon_button("\e806")
        //color: $red !important

  .about-ads
    position: relative
    transition: opacity 1s ease

    &.removing
      opacity: 0

      .b-close
        display: none

    .subheadline
      white-space: normal

      .text
        font-weight: normal
        font-size: 13px
        line-height: $line-height
        text-transform: none
