.b-dialog.to-process[
  id=dialog.message.id
  data-dynamic='short_dialog'
  data-appear_type='message'
  data-message_id=dialog.message.id
  data-selection_boundary
]
  .inner[
    data-check_height=true
  ]
    span.item-mobile title="#{i18n_i 'Action', :other}"
    aside.markers
      - unless dialog.my_message?
        .b-new_marker.active[
          class=(:off if dialog.message.read)
          data-click_activated='true'
          data-reappear='true'
          data-reappear_url=mark_read_api_messages_url(is_read: '0')
          data-appear_url=mark_read_api_messages_url(is_read: '1')
          data-text=t('markers.new')
        ]
    aside.buttons
      .main-controls
        - if dialog.message.from != current_user
          a.item-reply[
            href=reply_profile_dialog_url(dialog.user, dialog.target_user.to_param, dialog.message)
            title=t('actions.reply')
            data-text=t('actions.reply')
          ]
        span.item-delete[
          title=t('actions.delete')
          data-text=t('actions.delete')
        ]
        span.item-cancel[
          title=t('actions.cancel')
          data-text=t('actions.cancel')
        ]

      .delete-controls
        span.item-delete-confirm[
          title=t('actions.delete')
          data-text=t('actions.delete')
          action=profile_dialog_url(dialog.user, dialog.message)
          data-type='json'
          data-remote='true'
          data-method='delete'
        ]
        span.item-delete-cancel[
          title=t('actions.cancel')
          data-text=t('actions.cancel')
        ]

    header
      span.linkeable data-href=profile_url(dialog.target_user)
        img[
          src=dialog.target_user.avatar_url(48)
          srcset="#{dialog.target_user.avatar_url 80} 2x"
          alt=dialog.target_user.nickname
        ]

      .name-date
        a.name href=profile_url(dialog.target_user)
          = dialog.target_user.nickname

        - unless dialog.my_message?
          span.time: time[
            datetime=dialog.created_at.iso8601
          ] = l dialog.created_at, format: '%e %B %Y'

        a.to_dialog[
          href=profile_dialog_url(dialog.user, dialog.target_user.to_param)
        ]
          ' <<<
          = t('.go_to_conversation')

    .body
      - if dialog.my_message?
        = render dialog.message
      - else
        = dialog.html_body

        - if !dialog.message.read && dialog.message.to == current_user
          .b-appear_marker.active[
            class="appear-message-#{dialog.message.id}"
            data-disabled="true"
          ]
