/.b-options-floated.mobile-support.mobile-landscape
.b-options-floated.mobile-support
  a[
    class="#{:selected if params[:controller] == 'dialogs'}"
    href="#{profile_dialogs_url @resource}"
    ]
    = t :mail
    - if @resource.unread_messages > 0
      span.brackets = @resource.unread_messages

  /a class="#{:selected if params[:controller] == 'messages' && params[:messages_type] == 'private'}" href="#{index_profile_messages_url @resource, messages_type: :private}"
    /| Личные сообщения
    /- if @resource.unread_messages > 0
      /span.brackets = @resource.unread_messages

  a[
      class="#{:selected if params[:controller] == 'messages' && params[:messages_type] == 'news'}"
      href="#{index_profile_messages_url @resource, messages_type: :news}"
    ]
    = t :news
    - if @resource.unread_news > 0
      span.brackets = @resource.unread_news

  a[
      class="#{:selected if params[:controller] == 'messages' && params[:messages_type] == 'notifications'}"
      href="#{index_profile_messages_url @resource, messages_type: :notifications}"
    ]
    = t :notifications
    - if @resource.unread_notifications > 0
      span.brackets = @resource.unread_notifications
