- genres.each do |genre|
  a.b-tag[
    class=(:bubbled if genre.description.present?)
    href=entry.collection_url(genre: genre)
    data-href=(tooltip_moderations_genre_url(genre) if genre.description.present?)
    data-predelay=(350 if genre.description.present?)
  ] = localization_span genre
