- entry.genres.uniq(&:name).each do |genre|
  a.b-tag[
    class=(:bubbled if genre.description)
    href=entry.collection_url(genre: genre)
    data-href=tooltip_moderations_genre_url(genre)
    data-predelay="350"
  ] = localization_span genre
