- if defined?(with_tooltip) && with_tooltip && topic_view[:tooltip]
  span.b-menu-line.entry.linkeable.b-link[
    class=('person-tooltip' if topic_view[:tooltip])
    data-local-tooltip='true'
    data-do-not-use-title='true'
    data-offset-left-right='42'
    data-place-to-left='true'
    data-href=topic_view[:url]
  ]
    span.time: time[
      datetime=topic_view[:time].iso8601
      data-format='1_day_absolute'
    ] = l topic_view[:time], format: :human_short
    span.name
      = topic_view[:name]
  - if topic_view[:tooltip]
    .history-entry-tooltip[
      id="history-entry-#{topic_view[:id]}-tooltip"
    ]
      = render 'blocks/tooltip'

- else
  a.b-menu-line.entry.b-link[
    href=topic_view[:url]
    itemprop='discussionUrl'
  ]
    span.time: time[
      datetime=topic_view[:time].iso8601
      data-format='1_day_absolute'
    ] = l topic_view[:time], format: :human_short
    span.name
      = topic_view[:name]
