- cache [@resource, params[:minified], @resource.banned? && !current_user&.staff?, :v3], expires_in: 1.week do
  = render 'animes/content',
    anime: @resource,
    with_image: params[:minified] ? false : true
