---
http_interactions:
- request:
    method: get
    uri: https://api-metrika.yandex.ru/analytics/v3/data/ga?dimensions=ga:date&end-date=2013-10-02&ids=ga:53670769&metrics=ga:users,ga:sessions,ga:pageviews&sort=ga:date&start-date=2013-07-02
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"kind":"analytics#gaData","id":"https://api-metrika.yandex.ru/analytics/v3/data/ga?startDate=2013-07-02&endDate=2013-10-02&metrics=ga%3Ausers%2Cga%3Asessions%2Cga%3Apageviews&dimensions=ga%3Adate&sort=ga%3Adate&lang=ru&start-index=1&max-results=1000&prettyPrint=false&ids=ga%3A53670769","selfLink":"https://api-metrika.yandex.ru/analytics/v3/data/ga?startDate=2013-07-02&endDate=2013-10-02&metrics=ga%3Ausers%2Cga%3Asessions%2Cga%3Apageviews&dimensions=ga%3Adate&sort=ga%3Adate&lang=ru&start-index=1&max-results=1000&prettyPrint=false&ids=ga%3A53670769","containsSampledData":false,"sampleSize":"1769246","sampleSpace":"1769246","query":{"ids":"ga:53670769","dimensions":["ga:date"],"metrics":["ga:users","ga:sessions","ga:pageviews"],"sort":["+ga:date"],"start-date":"2013-07-02","end-date":"2013-10-02","start-index":1,"max-results":1000},"itemsPerPage":1000,"totalResults":93,"columnHeaders":[{"name":"ga:date","columnType":"DIMENSION","dataType":"STRING"},{"name":"ga:users","columnType":"METRIC","dataType":"INTEGER"},{"name":"ga:sessions","columnType":"METRIC","dataType":"INTEGER"},{"name":"ga:pageviews","columnType":"METRIC","dataType":"INTEGER"}],"totalsForAllResults":{"ga:users":"487766","ga:sessions":"1770783","ga:pageviews":"12366526"},"rows":[["20130702","10445","17021","126653"],["20130703","10685","17202","125565"],["20130704","10878","17655","127605"],["20130705","10792","17332","127808"],["20130706","10328","16730","119544"],["20130707","11308","18167","126435"],["20130708","11789","18829","133672"],["20130709","11353","18284","132878"],["20130710","11217","18067","127266"],["20130711","11435","18183","125578"],["20130712","11343","17891","127151"],["20130713","10792","17508","126582"],["20130714","11376","18370","133165"],["201[...]
[...]
