---
http_interactions:
- request:
    method: get
    uri: https://api-metrika.yandex.ru/analytics/v3/data/ga?dimensions=ga:date&end-date=2022-03-29&ids=ga:53670769&metrics=ga:users,ga:sessions,ga:pageviews&sort=ga:date&start-date=2021-12-29
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"kind":"analytics#gaData","id":"https://api-metrika.yandex.net/analytics/v3/data/ga?startDate=2021-12-29&endDate=2022-03-29&metrics=ga%3Ausers%2Cga%3Asessions%2Cga%3Apageviews&dimensions=ga%3Adate&sort=ga%3Adate&lang=ru&start-index=1&max-results=1000&prettyPrint=false&ids=ga%3A53670769","selfLink":"https://api-metrika.yandex.net/analytics/v3/data/ga?startDate=2021-12-29&endDate=2022-03-29&metrics=ga%3Ausers%2Cga%3Asessions%2Cga%3Apageviews&dimensions=ga%3Adate&sort=ga%3Adate&lang=ru&start-index=1&max-results=1000&prettyPrint=false&ids=ga%3A53670769","containsSampledData":true,"sampleSize":"1592989","sampleSpace":"15929893","query":{"ids":"ga:53670769","dimensions":["ga:date"],"metrics":["ga:users","ga:sessions","ga:pageviews"],"sort":["+ga:date"],"start-date":"2021-12-29","end-date":"2022-03-29","start-index":1,"max-results":1000},"itemsPerPage":1000,"totalResults":91,"columnHeaders":[{"name":"ga:date","columnType":"DIMENSION","dataType":"STRING"},{"name":"ga:users","columnType":"METRIC","dataType":"FLOAT"},{"name":"ga:sessions","columnType":"METRIC","dataType":"FLOAT"},{"name":"ga:pageviews","columnType":"METRIC","dataType":"FLOAT"}],"totalsForAllResults":{"ga:users":"5271740","ga:sessions":"15864510","ga:pageviews":"91369590"},"rows":[["20211229","103760","148910","903050"],["20211230","100870","144640","844760"],["20211231","87340","126830","720520"],["20220101","108480","155280","956060"],["20220102","124930","178320","1164370"],["20220103","136240","190610","1169650"],["20220104","137330","191220","1178220"],["20220105","129520","179890","1090850"],["20220106","124510","176070","1045580"],["20220107","119370","171180","1066590"],["20220108","128870","184980","1140670"],["20220109","141830","205610","1242400"],["20220110",[...]
[...]
