= render partial: 'ani_mangas_collection/menu', locals: { special: false, links: false, mylist: !params[:nosort], options_filters: true, klass: klass, social: true, nosort: params[:nosort] }, formats: :html
