<div>
  Connect your profile to other networks:
  <%= render :partial => "devise/shared/social_unconnected" %>
</div>

<div style="clear:both"></div>

<br/>
<div>
  Currently connected networks:
  <%= render :partial => "devise/shared/social_connected" %>
</div>
