<div class="<%=Digest::MD5.hexdigest(rand.to_s)[0..10] %>">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- root_url right menu -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-5298627985419649"
      data-ad-slot="6806760218"
      data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
