= cache view.cache_keys[:news] do
  = render partial: 'topics/topic',
    collection: view.news_topic_views,
    as: :topic_view,
    locals: { do_not_track: true },
    cached: true,
    formats: :html
