@import "globals";

.cosplay-mod {
  .moderators {
    float: right;
    margin-top: 10px;

    .item-block {
      height: 80px;
      width: 80px;
    }
  }
  &.index {
    @include clearfix;

    .galleries {
      margin-bottom: 10px;

      a {
        @include normal-link;
        line-height: $line-height;
        display: block;
        float: left;
        width: 31.5%;
      }
      .date {
        @include date;
        display: block;
        float: left;
        font-size: 12px;
        padding-right: 7px;
        text-decoration: none;
      }
      .count {
        color: #acb1b4;
        padding-right: 7px;
        text-align: center;
        text-decoration: none;
        width: 20px;
        display: block;
        float: left;

        .num {
          @include normal-link;
        }
      }
    }
  }

  &.edit {
    .main-content {
      width: 726px;
      overflow: hidden;
      position: relative;
    }
    .field-name {
      border-bottom: none;
      font-weight: normal;
      margin-bottom: 0;
    }

    .item-save {
      @include normal-link;
    }
    .item-add {
      display: none;
    }
    .item-minus, .item-add {
      float: right;
      margin-right: 5px!important;
    }
    .item-minus {
      margin-top: 3px;
    }
    .keywords {
      font-size: 12px;
    }
    .menu-block {
      @include clearfix;
    }
    .menu-right {
      input {
        width: 208px!important;
      }
    }
    .gallery {
      float: left;
      margin-left: 5px;
      width: 49%;

      .info {
        float: left;
        margin-right: 20px;
      }
      input[type=text] {
        width: 50px;
        margin-left: 5px;
        vertical-align: middle;
      }
      .images-list {
        margin-bottom: 10px;
        margin-left: 150px;
      }
      label {
        cursor: pointer;
        padding-right: 5px;
      }
    }
    input[type=checkbox] {
      vertical-align: middle;
    }
    .block-title {
      clear: both;
      margin-left: 5px;
    }
    .block-list {
      margin-left: 5px;
    }
    #cosplay_gallery_description {
      width: 720px;
      height: 300px;
      margin: 5px 0 20px;
    }
    .completable-block {
      input {
        width: 175px;
        padding-left: 5px;
      }
      .entry {
        @include clearfix;
        color: #333;
        font-size: 12px;

        .title {
          @include ellipsis;
          width: 170px;
          display: block;
        }
      }
      .character-entry {
        margin-bottom: 5px;
        min-height: 60px;

        &:last-child {
          min-height: 10px;
        }
        a {
          @include normal-link;
        }
      }
      .tag-entry,
      .anime-entry,
      .manga-entry {
        a {
          @include normal-link;
        }
        .item-minus {
          margin-top: 1px;
        }
      }
    }
  }
  &.new {
    input {
      width: 96%;
    }
    .item-add {
      display: block;
      margin-top: 2px;
    }
    .links {

      .notice {
        color: $gray-color;
        display: block;
        font-size: 11px;
        a {
          @include normal-link;
        }
      }
      input {
        margin-bottom: 5px;
      }
    }
  }
}
