=submenu_icon($content, $font-size: 18px)
  &:before
    +shikimori($content)
    font-size: $font-size
    height: 20px
    left: 14px
    line-height: 20px
    position: absolute
    text-align: center
    top: 9px
    width: 20px

=top_menu_icon($content)
  +icon($content, $menu-icon-size)
  line-height: inherit !important

  &:before
    line-height: $menu_height
    vertical-align: middle

.l-top_menu-v2
  .icon-mail
    +top_menu_icon('\e81f')

  .icon-letter-a,
  .icon-letter-m,
  .icon-letter-r
    &:before
      background-size: contain
      content: ''
      height: 18px
      left: 15px
      position: absolute
      top: 10px
      width: 18px

  .icon-letter-a
    &:before
      background-image: url(/assets/layouts/l-top_menu-v2/letter-a.svg)

    &:hover:before
      background-image: url(/assets/layouts/l-top_menu-v2/letter-a-hover.svg)

  .icon-letter-m
    &:before
      background-image: url(/assets/layouts/l-top_menu-v2/letter-m.svg)

    &:hover:before
      background-image: url(/assets/layouts/l-top_menu-v2/letter-m-hover.svg)

  .icon-letter-r
    &:before
      background-image: url(/assets/layouts/l-top_menu-v2/letter-r.svg)

    &:hover:before
      background-image: url(/assets/layouts/l-top_menu-v2/letter-r-hover.svg)

  .icon-clubs
    +submenu_icon('\e813')

  .icon-collections
    +submenu_icon('\f00a')

    &:before
      font-size: 16px

  .icon-reviews
    +submenu_icon('\e820')

  .icon-forum
    +submenu_icon('\e837')

  .icon-calendar
    +submenu_icon('\e839')

  .icon-contests
    +submenu_icon('\e817')

  .icon-info
    +submenu_icon('i')

  .icon-socials
    +submenu_icon('V')

  .icon-moderation
    +submenu_icon('\E80A')

  .icon-achievements
    +submenu_icon('\e83b')

  .icon-settings
    +submenu_icon('\e822')

  .icon-rules
    +submenu_icon('!')

  .icon-faq
    +submenu_icon('?')

  .icon-sign_out
    +submenu_icon('q', 15px)
