.l-top_menu-v2
  .item,
  .menu > a
    align-items: center
    color: inherit
    display: flex
    letter-spacing: 0.5px
    line-height: $menu_height
    user-select: none

    +iphone-s
      padding: 0 10px

    +iphone
      padding: 0 12px

    +gte_ipad
      padding: 0 15px

  .menu,
  .item
    +mr(2px)
    position: relative

    &.active,
    &:hover
      background-color: $top_menu_background_hover
      text-decoration: none

    &:active
      background-color: $top_menu_background_active

  .menu
    & > a
      +ellipsis2

      & > span
        +ellipsis2
        font-size: 16px
        letter-spacing: 0.5px
        margin-left: 10px
        margin-right: 25px
        pointer-events: none

      &:after
        +shikimori('\e846')
        font-size: 16px
        line-height: $menu-icon-size
        margin-left: auto
        transition: transform .2s ease-in-out
        vertical-align: middle

    &.active
      & > a:after
        transform: rotate(90deg)

      // transition added on "show" only
      .submenu
        transition: height 0.3s ease
