@import mixins/placeholder

.l-top_menu-v2 .global-search
  color: #123
  margin-right: 10px
  position: relative
  width: 100%

  +iphone
    display: none

  &,
  .clear
    &:before
      font-size: 20px
      height: 32px
      line-height: 32px
      position: absolute
      text-align: center
      top: 0

    &:before
      +shikimori('s')
      width: 42px

  input
    border-radius: 2px
    border: 1px solid rgba(#acb1b4, 0.4)
    color: #123
    line-height: 28px
    padding: 2px 42px 0 38px
    width: 100%

    &:focus
      border-color: $link-4
      box-shadow: 0px 0px 4px $link-4, inset 0px 0px 1px rgba($link-4, 0.8)

    +placeholder
      color: $gray-1

  input:focus ~ .hotkey-marker,
  .clear.active + .hotkey-marker
    display: none

  .hotkey-marker
    display: block

    &:before
      border-radius: 3px
      border: 1px solid $gray-1
      color: $gray-1
      content: '/'
      font-size: 13px
      height: 20px
      line-height: 20px
      position: absolute
      right: 7px
      text-align: center
      top: 5px
      width: 18px

  .clear
    +link(#333)
    display: none

    &.active
      display: block

    &:before
      +shikimori('✕')
      right: 0
      width: 38px

  .search-results
    background-color: #fff
    display: none
    margin-top: 8px
    min-height: 50px
    position: absolute
    width: 100%
    z-index: 1001

    .b-nothing_here
      color: #123
      font-size: 14px
      letter-spacing: 0.25px
      line-height: 30px
      margin-left: 0
      margin-top: 10px

      &:before
        +shikimori('\e843')
        display: inline-block
        text-align: center
        width: 39px

    .b-db_entry-variant-list_item
      border-top-style: solid
      border-top: 1px solid rgba($link-4, 0.2)
      margin-bottom: 0
      padding-bottom: 10px
      padding-left: 25px

      &.active
        background: linear-gradient(270deg, rgba($link-4, 0.2) 0%, rgba($link-4, 0.0) 100%), rgba($link-4, 0.01);
        padding-left: 0
        cursor: pointer
        border-top: 1px solid $link-3

        & + .b-db_entry-variant-list_item
          border-top: 1px solid $link-3

        &:before
          background: $link-2
          content: ''
          display: block
          margin: 3px 10px
          width: 5px

      &:first-child
        border-top: none
        padding-top: 10px

.l-top_menu-v2.is-submenu .global-search
  display: block
