=submenu_icon($content, $font-size: 18px)
  &:before
    +shikimori($content)
    font-size: $font-size
    height: 20px
    left: 14px
    line-height: 20px
    position: absolute
    text-align: center
    top: 9px
    width: 20px

.l-top_menu-v2 .submenu
  background: $top_menu_background_hover
  border-bottom: 1px solid $top_menu_background_hover
  border-left: 1px solid $top_menu_background_hover
  border-right: 1px solid $top_menu_background_hover
  display: none
  overflow: hidden
  position: absolute
  z-index: 1000

  & > .legend
    font-size: 10px
    font-weight: bold
    letter-spacing: .5px
    line-height: 24px
    padding: 0 15px 0 10px
    text-transform: uppercase

    &:first-child
      margin-top: 5px

  & > a
    // border-bottom: 1px solid #aaa
    // transition: backround-color 0.3s ease, color 0.3s ease
    color: #fff
    cursor: pointer
    display: block
    font-size: 13px
    font-size: 13px
    letter-spacing: 0.5px
    line-height: 38px
    padding: 0 10px 0 48px
    position: relative
    user-select: none

    // &:last-child
      border-bottom: 1px solid $top_menu_background_hover

    &:hover
      background: #fff
      color: #123

      .letter.a
        background-image: url(/assets/layouts/l-top_menu-v2/letter-a-hover.svg)

      .letter.m
        background-image: url(/assets/layouts/l-top_menu-v2/letter-m-hover.svg)

      .letter.r
        background-image: url(/assets/layouts/l-top_menu-v2/letter-r-hover.svg)

    .letter
      background-size: contain
      height: 18px
      left: 15px
      position: absolute
      top: 10px
      width: 18px

      &.a
        background-image: url(/assets/layouts/l-top_menu-v2/letter-a.svg)

      &.m
        background-image: url(/assets/layouts/l-top_menu-v2/letter-m.svg)

      &.r
        background-image: url(/assets/layouts/l-top_menu-v2/letter-r.svg)

    &.achievements
      +submenu_icon('\e83b')

    &.settings
      +submenu_icon('\e822')

    &.sign-out
      +submenu_icon('q', 15px)

    // &.active
    //   background: #282828
    //   cursor: inherit

    // &:active
    //   background: #333
    //   color: $menu_link_color !important

    &:last-child
      border-bottom: none
