@import "globals";

.admin_panel {
  position: relative;
  margin-left: -280px;

  .tooltip-inner {
    width: 230px;

    p {
      font-size: 11px;
    }
    .subblock-title {
      margin-bottom: 5px;
    }
    .reload {
      color: #666666;
      cursor: pointer;
      display: block;
      float: right;
      font-size: 20px;
      margin-top: -4px;

      &:before {
        content: "\E801";
        font-family: "shikimori";
        font-size: 14px;
      }
      &:active {
        @include text-shadow(#DDDDDD, 1px, 1px, 0px);
      }
      &:hover {
        color: #333333;
      }
    }
    .sidekiq-link {
      @include normal-link;
      float: right;
      font-size: 11px;
      margin-top: 5px;
    }
    .sidekiq {
      p {
        line-height: 2;
      }

      .busy {
        color: green;
      }
      .enqueued {
        color: blue;
      }
      .retries {
        color: red;
      }
    }
  }
}
