@import "globals";

.admin_panel {
  position: relative;
  margin-left: -280px;

  .tooltip-inner {
    width: 230px;

    p {
      font-size: 11px;
      margin: 0 5px;

      &.x2 {
        line-height: 2;
      }
    }
    .reload {
      color: #666666;
      cursor: pointer;
      font-size: 20px;
      margin-top: -4px;
      position: absolute;
      right: 16px;

      &:before {
        content: "\E801";
        font-family: "shikimori";
        font-size: 14px;
      }
      &:active {
        @include text-shadow(#DDDDDD, 1px, 1px, 0px);
      }
      &:hover {
        color: #333333;
      }
    }
    .sidekiq-link {
      @include normal-link;
      float: right;
      font-size: 11px;
      margin: 7px 5px 0 0;
    }
    .sidekiq {
      .busy {
        color: $green;
      }
      .enqueued {
        color: $blue;
      }
      .retries {
        color: $red;
      }
    }
  }
}
