@import compass/css3/transition
@import mixins/retina

.ajax
  +transition(opacity 0.6s ease)

.ajax-loading
  background: transparent inline-image("/globals/ajax.gif") no-repeat
  background-position: center
  min-height: 28px
  width: 100%

  &.top
    background-position: top center

  &.vk-like
    //background: transparent inline-image("/globals/ajax-loading.gif") no-repeat
    +background-inline-retina('/globals/ajax-loading', 'gif', 32px, 8px)
    background-position: center
    @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5)
      background-position: center

    min-height: 21px

    &.left
      background-position: left

  &.cursor
    background: transparent inline-image("/globals/ajax-cursor.gif") no-repeat
    height: 31px
    width: 31px
