@import globals
@import globals/variables
@import mixins/shikimori
@import mixins/responsive
@import mixins/icons

.b-achievements_notifier
  font-size: 14px
  position: fixed
  right: 8px
  top: 39px
  min-width: 350px
  z-index: 11

  +iphone_portrait
    min-width: calc(100% - 16px)

  .achievement
    +clearfix
    background: #fff
    border: 1px solid $gray-2
    border-left-width: 5px
    margin-bottom: 10px
    min-height: 38px
    padding: 5px 10px
    position: relative
    transition: opacity 1s ease, margin-top 0.5s ease
    line-height: 1.9

    .image
      float: right
      max-height: 54px
      margin-right: -4px

    &:hover
      .b-close
        opacity: 0.8
        display: block
        position: absolute
        top: 5px
        right: 5px

        &:hover
          opacity: 1

    &.appearing
      margin-top: calc(100vh + 100px)

    &.gained
      background: #EEF6DC
      border-color: #4cca3b
      color: #419541

      .name a
        +link_underlined(#419541)

      .icon
        +menu_icon('✓')
        margin-top: 2px

    &.lost
      background: #fce3e9
      border-color: #fb5353
      color: #f27490

      .name a
        +link_underlined(#f27490)

      .icon
        +menu_icon('✕')
        margin-top: 3px

    &.removing
      opacity: 0

      .b-close
        display: none

    .b-close
      display: none

    .icon
      position: absolute
      font-size: 18px
      cursor: default
      left: 11px

      &:before
        font-size: inherit !important

    .title
      font-weight: bold

    .name
      margin-left: 26px

      .level
        color: $gray-1
        font-size: 12px
        padding-left: 6px
