@import globals/variables

.b-anime_status_tag
  color: #FFF
  padding: 2px 5px
  line-height: 1
  display: inline-block

  &.released
    background: $released_tag

  &.anons
    background: $anons_tag

  &.ongoing
    background: $ongoing_tag

  &.episode
    background: $gray-color
