@import mixins/bracket_details
@import mixins/date
@import mixins/link
@import mixins/log_entry

.b-ban_log_entry
  +log_entry

  .duration-ban
    color: red

  .duration-warning
    color: orange

  .duration-ban, .duration-warning
    display: inline-block

  .duration
    +date

  .short
    +ellipsis

  .user
    display: inline-block
    margin: 0 5px 0 0

  .spoiler.collapsed, .spoiler .action
    padding-left: 5px!important

  .moderator
    position: absolute
    right: 95px
    text-align: right

  .abuser
    +bracket_details
    +link
    &:hover
      text-decoration: underline !important
    //+link_color_hover_underlined(#123)

  .duration + .moderator, .duration-warning + .moderator
    padding-left: 0
