.b-ban-form
  .ban_reason
    margin-top: 8px

  .b-input
    margin-bottom: 8px
  
  .hide-to-spoiler-label
    line-height: 1.65
    display: flex
    align-items: center

  .hide-to-spoiler
    margin-right: 8px
    line-height: 1.65

  .cancel
    margin-left: 20px

  .ban_duration
    margin-bottom: 0px
