.b-badge
  margin-bottom: 7px

  img
    height: 90px
    width: 135px

  &.special
    img
      width: 250px
      height: 125px

  &.unavailable
    filter: grayscale(100%)
    filter: gray // IE 6-9

    img
      opacity: 0.3
