@import mixins/responsive


.b-badge
  display: inline-block
  line-height: 0
  margin-bottom: 5px

  // &[data-progress="100"]:after
  //   display: none

  // &:after
  //   background: #123
  //   color: #FFF !important
  //   content: attr(data-progress)
  //   display: block
  //   font-size: 10px
  //   opacity: 0.7
  //   overflow: hidden
  //   position: absolute
  //   right: 0
  //   top: 0
  //   line-height: 20px
  //   text-align: center
  //   width: 20px
  //   height: 20px
  //   z-index: 1

  img,
  .no-image
    // transition: opacity 0.2s ease
    max-width: 100%
    line-height: 0

    & + img
      margin-left: 15px

  .no-image
    background: $gray-1
    display: inline-block
    padding-top: 66.66%
    width: 100%

  &.special
    img
      width: 250px
      height: 125px

  &.level-0:not(:hover),
  &.unavailable:not(:hover)
    filter: grayscale(88%)
    filter: gray // IE 6-9

    img
      opacity: 0.5

  &.level-0.unavailable:not(:hover)
    filter: grayscale(100%)
    filter: gray // IE 6-9

    img
      opacity: 0.2
