@import mixins/bracket_details
@import mixins/date
@import mixins/link
@import mixins/log_entry

.b-ban
  +log_entry

  .duration-ban
    color: $red

  .duration-warning
    color: $orange

  .duration-ban, .duration-warning
    display: inline-block

  .duration
    +date

  .moderator
    float: right
    padding-left: 5px
    position: relative
    z-index: 1

    & > span
      padding-left: 5px

  .abuser
    +bracket_details
    +link
    padding-left: 0
    &:hover
      text-decoration: underline !important

  .duration + .moderator, .duration-warning + .moderator
    padding-left: 0

  .comment-hash
    color: $gray-2
