.b-badge
  float: left
  line-height: 0
  margin: 0 5px 5px 0

  img,
  .no-image
    height: 90px
    width: 135px
    line-height: 0

    & + img
      margin-left: 15px

  .no-image
    background: gray

  &.special
    img
      width: 250px
      height: 125px

  &.unavailable
    filter: grayscale(100%)
    filter: gray // IE 6-9

    img
      opacity: 0.3
