@import globals/variables
@import mixins/brackets_surrounded
@import mixins/link
@import mixins/pretty_list

.b-bb_codes-examples
  .name
    font-size: 15px
    font-weight: bold
    line-height: $line_height

  .example, .result, .notice
    line-height: $line_height

  .example span
    +brackets_surrounded
    color: $gray-color-0
    font-size: 12px

  .example, .result
    &:before
      color: $gray-color-0
      content: 'Пример:'
      display: inline-block
      font-size: 12px
      margin-right: 5px
    a
      +link

  .result
    &:before
      content: 'Результат:'

  .notice
    font-size: 12px
    color: $gray-color-2

  ul
    +pretty_list
