@import globals/variables
@import mixins/link

.b-breadcrumbs
  clear: left
  color: #333
  font-size: 12px
  line-height: $line_height
  margin: 2px 0 2px 1px

  a
    +link

  &>span
    &:after
      content: '/'
      color: $gray-color-0
      padding: 0 5px

    &:last-child:after
      display: none
