@import compass/typography/text/ellipsis
@import globals/variables

.b-breadcrumbs
  +ellipsis
  clear: left
  color: #333
  font-size: 12px
  line-height: $line_height
  margin: 2px 0 2px 1px

  &>span
    &:after
      content: '/'
      color: $gray-color-0
      padding: 0 5px

    &:last-child:after
      display: none
