@import mixins/block
@import mixins/pretty_list

.b-brief
  +block

  .moderators
    float: right
    margin-top: 10px

    .b-user
      margin-left: 10px
      width: 50px

      .avatar
        margin-bottom: 2px

  p
    margin-bottom: 5px

  ul
    +pretty_list
    margin-bottom: 30px
