@import globals/variables
@import mixins/links

.b-breadcrumbs
  line-height: $line_height
  color: #333
  margin: 2px 0 2px 1px
  clear: left

  a
    +link

  &>span
    &:after
      content: '/'
      color: $gray-color-0
      padding: 0 5px

    &:last-child:after
      display: none
