@import mixins/shiki_button
@import mixins/responsive

.b-button
  +shiki_button

a.b-button
  color: #fff
  text-decoration: none

  +gte_laptop
    &:hover
      color: #fff

  &:active
    color: #fff
