@import compass/typography/text/ellipsis
@import globals
@import mixins/column
@import mixins/links

$max-width: 167px

.b-catalog_entry
  max-width: 490px

  &.cc
    .cover
      +column(2, 0.4)
    .content
      +column(2, 0.6)

    &.column-2
      +iphone-landscape
        .cover
          +column(2, 0.35)
        .content
          +column(2, 0.65)

  .cover
    +link_color(#333333)
    font-size: 12px
    display: block

    .image-decor
      +image-selectable-decor
      border: 1px solid darken($default-image-background, 6%)
      display: block
      line-height: 0px
      margin-bottom: 5px
      padding: 2.5%
      max-width: $max-width

      &:hover
        border: 1px solid darken($default-image-hover-background, 6%)

      &:active
        border: 1px solid darken($default-image-active-background, 9%)

      .image-cutter
        display: block
        line-height: 0
        max-height: 239px
        overflow: hidden

      img
        width: 100%

    .title
      +ellipsis
      +link
      display: block
      font-weight: bold
      line-height: $line_height
      max-width: $max-width

    &:hover .title
      text-decoration: underline

    .misc
      color: #555
      font-size: 11px
      line-height: 17px
      max-width: $max-width

      &.centered
        text-align: center

      span
        +ellipsis
        color: #123
        display: block
        padding-right: 5px

        &.relation
          line-height: 1.4
          margin-top: 2px
          padding-right: 0
          text-align: center
          white-space: initial

      .right
        float: right
        padding-right: 0

  .content
    .tooltip-details
      padding: 5px 0
      min-height: 100px

  &.minified
    .image-decor
      padding: 0

    .title
      text-align: center

  &.tooltipped
    .content
      display: none
      cursor: default

    .tooltip-inner
      min-height: 20px
      padding-top: 5px
      padding-bottom: 0
      width: 270px

  &.in_list
    img
      background-color: #c2dff2
      border: 1px solid darken(#c2dff2, 6%)
      padding: 4px

    a, img
      &:hover img
        background-color: darken(#c2dff2, 6%)
        border: 1px solid darken(darken(#c2dff2, 6%), 6%)
      &:active img
        background-color: darken(#c2dff2, 9%)
        border: 1px solid darken(darken(#c2dff2, 6%), 9%)
