@import globals/variables
@import mixins/column
@import mixins/ellipsis2
@import mixins/link
@import mixins/two_line_ellipsis
@import mixins/shikimori

$max_minified_width: 162px
$max_width: 167px

.b-catalog_entry
  max-width: 460px

  &.cc
    .cover
      +column(2, 0.4)
    .content
      +column(2, 0.6)

    &.column-2
      +iphone-landscape
        .cover
          +column(2, 0.35)
        .content
          +column(2, 0.65)

  &:hover .cover .image-decor > .text
    display: block
    max-height: none

  .cover
    +link_color(#333333)
    font-size: 12px

    +lte_ipad
      font-size: 13px
    +gt_laptop
      font-size: 13px

    display: block

    .image-decor
      display: block
      line-height: 0px
      position: relative
      //padding: 2.5%
      //max-width: $max_width

      .image-cutter
        display: block
        line-height: 0
        //max-height: 239px
        //max-width: $max_minified_width - 2px
        overflow: hidden
        position: relative // для кнопки удаления в рекомендациях

      img
        width: 100%

      // используется для отображения текста в коллекциях
      &>.text
        +two_line_ellipsis(12px, $line_height)
        transition: all 0.25s ease
        background: rgba(0,0,0,0.55)
        bottom: 0
        color: #fff
        font-size: 12px
        line-height: 1.45
        padding: 2px 5px
        position: absolute
        width: 100%
        z-index: 2

        &:before
          position: absolute
          content: ''
          width: 100%
          height: 100%
          background: rgba(255,255,255,0.25)
          margin: -2px -5px

        .b-link
          color: #fff
          text-decoration: underline

    .title
      +ellipsis2
      +link
      display: block
      font-weight: bold
      line-height: $line_height
      margin-top: 5px
      //max-width: $max_width

      &.two_lined
        +two_line_ellipsis(13px, $line_height)

    &:hover .title
      color: $link-hover
      text-decoration: underline

    .misc
      color: #555
      display: block
      font-size: 11px
      line-height: 17px
      //max-width: $max_width

      &.centered
        text-align: center

      span
        +ellipsis2
        color: #123
        display: block
        padding-right: 5px

        &.relation
          line-height: 1.4
          margin-top: 2px
          padding-right: 0
          //text-align: center
          white-space: normal

        &.anons
          color: #307a3d

        &.released
          color: #ca4929

        &.right
          float: right
          padding-right: 0

        &.role
          overflow: visible
          white-space: normal

        &.episode
          .number
            font-weight: bold
            line-height: $line_height
            padding-top: 4px

  .content
    .tooltip-details
      min-height: 100px

  &.planned, &.watching, &.completed, &.rewatching, &.on_hold, &.dropped
    .image-decor
      position: relative

      &::after
        +shikimori
        //+transition(opacity 0.5s ease)
        border-radius: 16px
        border: 1px solid #fff
        //display: none
        font-size: 18px
        height: 30px
        line-height: 30px
        position: absolute
        right: 4px
        text-align: center
        top: 4px
        width: 30px

  &.planned .image-decor::after
    background: #fff
    border-color: $link
    color: $link
    // background: $link
    // color: #fff
    content: '\e824'

  &.on_hold .image-decor::after
    background: $gray-3
    color: #fff
    content: '\e833'

  &.watching .image-decor::after,
    background: $link
    color: #fff
    content: '\e823'

  &.rewatching .image-decor::after
    background: $link
    color: #fff
    content: '\e825'

  &.completed .image-decor::after
    background: $released_tag
    color: #fff
    content: '\e836'

  &.dropped .image-decor::after
    background: $anons_tag
    color: #fff
    content: '\e828'
