@import globals
@import mixins/tag
@import mixins/column

.b-catalog-entry
  &.column-2
    +gte_ipad
      +bcolumn(2, 1/2, 8%)
    +iphone
      +bcolumn(1)

  &.column-4
    +gte_ipad
      +bcolumn(4)
    +iphone-landscape
      +bcolumn(3)
    +iphone-portrait
      +bcolumn(2)

  &.column-5
    +gte_ipad
      +bcolumn(5)
    +iphone-landscape
      +bcolumn(3)
    +iphone-portrait
      +bcolumn(2)

  &.column-8
    +gte_ipad
      +bcolumn(8)
    +iphone-landscape
      +bcolumn(5)
    +iphone-portrait
      +bcolumn(3)

  &.cc
    .cover
      +column(2, 0.4)
    .content
      +column(2, 0.6)

    &.column-2
      +iphone-landscape
        .cover
          +column(2, 0.35)
        .content
          +column(2, 0.65)

  .cover
    +link-color(#333333)
    //float: left
    font-size: 12px
    //width: 170px
    display: block

    .image-decor
      +image-selectable-decor
      border: 1px solid darken($default-image-background, 6%)
      display: block
      line-height: 0px
      margin-bottom: 5px
      padding: 2.5%
      max-width: 167px

      &:hover
        border: 1px solid darken($default-image-hover-background, 6%)

      &:active
        border: 1px solid darken($default-image-active-background, 9%)

      .image-cutter
        display: block
        line-height: 0
        max-height: 230px
        overflow: hidden
        //width: 160px

      img
        width: 100%
        //max-width: 100%
        //width: 160px
        //display: block

    .title
      +ellipsis
      display: block
      font-weight: bold
      line-height: 13px

    .misc
      color: #555
      font-size: 11px
      line-height: 17px

      span
        +ellipsis
        display: block
        padding-right: 5px

      .right
        float: right
        padding-right: 0

  .content
    //float: left
    //margin-left: 30px
    //width: 289px

    .data, p
      font-size: 12px
      line-height: 23px

      &.name
        line-height: 20px
        //margin-top: 5px
        margin-bottom: 5px
        font-weight: bold

      &.text
        line-height: 20px
        margin-bottom: 5px

      .local-title, .key
        color: #444
        font-weight: bold

      .genre, .studio, .publisher
        +tag

    .rating
      color: #444
      float: right
      font-family: Tahoma
      font-size: 23px
      line-height: 18px
      margin: 1px 0

      .text
        color: #555
        float: left
        font-size: 11px
        margin: 5px

  &.tooltipped
    //margin-left: 0
    //width: 170px

    //.cover
      float: none
      display: block

    .content
      float: none
      display: none
      cursor: default

    //.tooltip-inner
      min-height: 20px
      padding-top: 5px
      padding-bottom: 0
      width: 270px

  //&:nth-child(4n)
    //margin-right: 0px !important

  &.in_list
    img
      background-color: #c2dff2
      border: 1px solid darken(#c2dff2, 6%)
      padding: 4px
    a, img
      &:hover img
        background-color: darken(#c2dff2, 6%)
        border: 1px solid darken(darken(#c2dff2, 6%), 6%)
      &:active img
        background-color: darken(#c2dff2, 9%)
        border: 1px solid darken(darken(#c2dff2, 6%), 9%)

  //&.shortened
    height: 165px
    margin-bottom: 20px
    margin-right: 31px

    //img
      padding: 4px
      height: 120px

    //&:nth-child(2n)
      margin-right: 32px
