@import mixins/css4
@import mixins/link
@import mixins/font_shikimori
@import mixins/responsive

.b-close
  background: #fff
  color: #123
  cursor: pointer
  height: 25px
  line-height: 25px
  opacity: 0.5
  position: absolute
  right: 5px
  text-align: center
  top: 5px
  transition: opacity 0.25s ease, color 0.25s ease, background-color 0.25s ease
  width: 25px

  &:before
    +font_shikimori('\e828')
    font-size: 17px

  +gte_laptop
    &:hover
      +css4
        background-color: var(--link-hover-color)
      color: #fff
      opacity: 1

  &:active
    +css4
      background-color: var(--link-active-color)
    color: #fff
    opacity: 1
