@import mixins/clearfix
@import mixins/block
@import mixins/clear_left
@import mixins/float_column
@import mixins/responsive

.b-clubs
  +clearfix
  +block

  &.one-line
    +clear_left

    .b-club
      +gte_ipad
        +column(4)

      +iphone_landscape
        +column(4)

      +iphone_portrait
        +column(3)

        &:nth-child(4)
          display: none

  &.index
    .b-club
      margin-bottom: $block-offset

      +gte_ipad
        +column(3)

      +iphone_landscape
        +column(2)

      +iphone_portrait
        +column(1)

    .b-postloader
      clear: both
