@import compass/css3/box-sizing
@import compass/css3/transition
@import globals/variables
@import mixins/responsive

.b-comments-notifier
  +transition(background-color 300ms)
  +box-sizing(border-box)
  background: $link-3
  color: white
  cursor: pointer
  height: 25px
  line-height: 25px
  margin: 8px
  min-width: 25px
  padding: 0 4px
  position: fixed
  right: 0
  text-align: center
  top: 31px
  z-index: 10

  +ipad
    height: 30px
    line-height: 30px
    min-width: 30px

  +iphone
    visibility: collapse

  &:hover
    background-color: $link-4

  &:active
    background-color: $link-2
