@import mixins/block

.b-coub
  +block2
  margin-left: auto
  margin-right: auto
  position: relative

  .video-link
    max-width: 640px

    img
      border-radius: 5px
      overflow: hidden
      max-height: 360px
