@import compass/css3/transition
@import compass/typography/text/ellipsis
@import globals
@import mixins/clear_right
@import mixins/icons
@import mixins/links
@import mixins/responsive

$comment_border: 1px dashed #ddd
$aside_width: 310px

.b-comment
  +clear_right
  +transition(margin-left 0.25s ease)
  border-top: $comment_border
  margin-bottom: 15px
  min-height: 70px
  padding-top: 5px
  width: 100%

  &:last-child
    margin-bottom: 0

  aside.moderation-ban
    margin: 20px 0 15px 15px
    display: none

    +gte_ipad
      float: right
      margin-top: 0
      margin-top: 0

      .b-input input
        width: 140px

    +iphone
      margin-bottom: 30px
      margin-right: 20px

      .b-input input
        width: 100%

  +iphone_portrait
    aside.markers
      float: right

      &>div
        float: none
        height: 25px

  header
    margin-bottom: 3px

    img
      float: left
      margin: 3px 10px 7px 0
      width: 48px

    .name-date
      +ellipsis
      display: block

      a
        +link
        font-size: 14px
        font-weight: bold
        line-height: 1

      time
        +ellipsis
        color: $date
        display: inline
        font-size: 11px
        padding-left: 10px

        +lte_ipad
          display: block
          padding-left: 0
          line-height: $line_height

  .inner
    &.shortened
      height: 95px
      overflow: hidden

    &>aside.buttons
      display: none

      .item-cancel
        display: none

    &:hover
      +gt_ipad
        &>aside.buttons
          display: block

  // удаляемый комментарий
  &.animated-height
    +transition(all, 0.5s)
    min-height: 0
    margin: 0
    padding: 0

  // раскрытое меню в мобильной версии
  &.aside-expanded
    margin-left: -$aside_width
    position: relative

    .item-mobile
      display: none

    aside.buttons
      border-top: $comment_border
      display: block
      margin-right: -$aside_width
      margin-top: -6px
      padding-top: 5px
      width: $aside_width - $block_offset

      .main-controls
        .item-reply
          +icon_expandable('Ответить')
        .item-edit
          +icon_expandable('Редактировать')
        .item-delete
          +icon_expandable('Удалить')
        .item-moderation
          +icon_expandable('На модерацию')
        .item-cancel
          +icon_expandable('Отмена')

      .delete-controls
        .item-delete-confirm
          +icon_expandable('Удалить')
        .item-delete-cancel
          +icon_expandable('Отмена')

      .moderation-controls
        .item-ban
          +icon_expandable('Забанить')
        .item-abuse
          +icon_expandable('Нарушение правил')
        .item-spoiler
          +icon_expandable('Это спойлер')
        .item-review
          +icon_expandable('Это (не) отзыв')
        .item-offtopic
          +icon_expandable('Это (не) оффтопик')
        .item-moderation-cancel
          +icon_expandable('Отмена')

//h2.comments-header
  //margin-bottom: 0

//.bottom-add .comments-container
  //margin-top: 0

//$blue-color: #6cb2e4
//$dark-blue-color: #619fcc

//$grey-color: #6c6c6c
//$dark-grey-color: #545454

//.message-block, .comment-block
  //border-top: 1px solid #DDDDDD
  //min-height: 80px
  //overflow: hidden
  //padding-right: 5px
  //padding-top: 3px
  //position: relative

  //.new-indicator
    //+border-radius(3px 0 3px 3px)
    //+box-shadow(rgba(0, 0, 0, 0.25), 1px, 1px, 3px)
    //background: $grey-color
    //border: 1px solid $dark-grey-color
    //color: rgb(252, 252, 255)
    //cursor: pointer
    //display: block
    //font-size: 10px
    //font-weight: bold
    //left: 38px
    //margin-right: -4px
    //padding: 1px 5px
    //position: absolute
    //top: 58px
    //z-index: 99

    //span
      //+border-radius(0 3px 0 0)
      //background-color: $dark-grey-color
      //height: 4px
      //position: absolute
      //right: -1px
      //top: -4px
      //width: 5px

    //&:hover
      //background: $blue-color
      //border: 1px solid $dark-blue-color

      //span
        //background-color: $dark-blue-color

    //&:active
      //background: $dark-blue-color
      //border: 1px solid $dark-blue-color

  //&.kinda-new .new-indicator,
  //&.new .new-indicator
    //background: $blue-color
    //border: 1px solid $dark-blue-color

    //span
      //background-color: $dark-blue-color

    //&:hover
      //background: $grey-color
      //border: 1px solid $dark-grey-color

      //span
        //background-color: $dark-grey-color

    //&:active
      //background: $dark-grey-color
      //border: 1px solid $dark-grey-color

  //.image-name
    //+link-color(#111111)
    //margin-top: 1px

    //a
      //color: inherit
      //text-decoration: none

    //img
      //@inlclude avatar
      //float: left
      //margin: 2px 10px 3px 0
      //width: 48px

    //.name-date
      //+ellipsis
      //display: block

    //.name
      //font-size: 14px
      //font-weight: bold

      //.normal
        //color: #555
        //font-size: 13px

      //&:hover
        //color: inherit
        //text-decoration: none

      //&:active
        //color: inherit

    //.date
      //+ellipsis
      //color: $date
      //display: inline
      //font-size: 11px
      //padding-left: 10px

      //+responsive(tablet)
        //display: block
        //padding-left: 0
        //line-height: $line_height

  //.body
    //margin: 2px 0 15px 0

    //p
      //margin-bottom: 3px
      //text-indent: 15px

    //li

    //.text-poster
      //float: left
      //margin-right: 15px

    //.image-poster
      //margin: 5px
      //height: 180px

    //a
      //+normal-link

    //.bubbled, .bubbled-processed
      //+normal-link

  //.poster-image
    //float: right
    //margin: 5px 5px 5px 15px

  //.moderation
    //color: #FF0000
    //font-size: 10px

    //header, footer
      //color: #DD0000
      //line-height: 10px

    //article
      //font-size: 12px

  //h3
    //margin-bottom: 3px

  //&:first-child
    //border-top: none

  //.ban-message
    //.details
      //color: red

    //img
      //vertical-align: middle

  //.is_updated
    //+link-color($gray-color)
    //cursor: pointer
    //display: inline-block
    //margin-bottom: 2px

    //div
      //display: inline-block
      //font-size: 11px
      //line-height: 20px
      //padding-top: 0

    //.actor
      //+normal-link
      //padding-left: 5px

      //span
        //padding-left: 19px

      //img
        //position: absolute
        //margin-top: 2px

//.topic-block .content blockquote
  //margin-left: 0

///* в тултипе кнопок управления комментом не показываем и ставим другие отступы
//.tooltip-details
  //.comment-block, .topic-block
    //padding: 0
    //margin: 0

    //.buttons
      //display: none

    //.body
      //margin-bottom: 0px

    //.b-new_marker
      //display: none

//.topic-block .body, .message-block, .comment-block, .tooltip-details, .item-content
  //.description a
    //+normal-link

  //ul
    //margin-left: 25px

    //li
      //list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAANCAMAAABW4lS6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAFKM////QIUK9QAAAAJ0Uk5T/wDltzBKAAAAGklEQVR42mJgBAEGokgGBjBGBxBxsBqAAAMACHwALd5r8ygAAAAASUVORK5CYII=)
      //list-style-position: outside
      //list-style-type: square
      //margin-bottom: 5px

  //.collapsed
    //margin-top: 0px
    //margin-bottom: 0px

  //.spoiler
    //+spoiler-new
    //display: inline

    //&.collapsed, &.collapse
      //border-bottom: 1px dashed $link

  //.spoiler + .target
    //display: inline

//.edit-comment-block
  //margin: 30px 0 15px 0 !important

//.fullsize .add-comment-block .submit
  //margin-left: 440px

//.bottom-add .add-comment-block
  //margin-bottom: 5px

//.smileys
  //.loader
    //margin: 215px 0 0 360px
