@import globals

.b-comment-info
  color: #555
  font-size: 12px
  line-height: 35px
  min-height: 23px !important
  padding-top: 0
  text-align: center

  a
    +normal-link
    padding-left: 5px
    span
      padding-left: 19px
  img
    position: absolute
    margin-top: 9px
