@import mixins/plashka
@import mixins/block

.b-comments
  +block
  margin-bottom: 0
  overflow: hidden

  .comments-shower, .comments-hider
    +plashka
    border: 1px solid #F2F2F2
    clear: left
    margin: 5px 0 5px 0

  .comments-hider
    display: none

  .comments-shower + .b-comment

  .comments-loaded
    overflow: hidden
    position: relative

    .b-comment:last-child
      margin-bottom: 15px
