@import mixins/block
@import mixins/link
@import mixins/plashka

.b-comments
  +block
  margin-bottom: 0

  .comments-loader-wrapper,
  .comments-hider,
  .comments-expander
    +plashka
    border: 1px solid #F2F2F2
    clear: left
    margin: 5px 0 5px 0

    // +iphone
      text-align: left
      padding-left: 10px

  .comments-hider,
  .comments-expander
    display: none

  .comments-loader-wrapper
    position: relative

    .comments-collapser
      +js-link
      display: none
      font-size: 12px
      line-height: 1
      position: absolute
      right: 5px
      top: 50%
      transform: translateY(-50%)

  .comments-loaded
    position: relative

  .faye-loader
    +plashka
    clear: left

  .messages-postloader
    +plashka
    margin-bottom: 5px
