@import mixins/link
@import mixins/comma_separated

.b-cosplay
  .cosplay-info
    margin-bottom: $block_offset / 2

    .line
      line-height: $line-height

      .key
        color: $gray-color-2
        //color: #444
        //font-weight: bold
        display: inline

      .value
        display: inline
        padding-left: 6px

        a
          +link
          +comma_separated

        .cosplayer
          +comma_separated(4px)
          display: inline

  .b-cosplay_gallery .b-gallery
    margin-bottom: 0
