@import globals
@import mixins/clear_right
@import mixins/ellipsis2
@import mixins/link
@import mixins/responsive
@import mixins/forum_entry

.b-critique-topic
  &.b-topic-preview > .inner
    min-height: 45px

    .critique-entry_cover-v2 img
      +forum_entry_poster

    .read_more-link,
    .body-truncated,
    .b-height_shortener
      +gte_ipad
        margin-left: 58px

      +iphone
        margin-left: 49px

  .b-critique_votes .warn
    display: inline-block

  .critique-poster
    max-width: calc(100% - 247px)

  .critique-stars
    float: right
    margin-left: 20px
    position: relative // без height-shortener для рецензий некорректно отрабатывает
    width: 227px

    +iphone_portrait
      float: none
      margin-left: 0
      margin-top: 10px

    & > .title
      color: #123
      font-size: 12px
      font-weight: bold
      line-height: 0.5

    .star-line
      margin-bottom: 10px

      +iphone_portrait
        margin-bottom: 7px

        .b-rate
          .stars,
          .score-value
            font-size: 28px

      &:last-child
        margin-bottom: 20px

      .b-rate
        +iphone_portrait
          margin-top: -5px

.b-critique-topic.b-topic-preview
  +iphone_portrait
    .critique-stars
      margin-top: 0

    .text-score
      display: none
