@import mixins/brackets_surrounded
@import mixins/comma_separated
@import mixins/ellipsis2
@import mixins/link
@import mixins/margins
@import mixins/responsive
@import mixins/tag
@import mixins/user_rate-minified

.b-db_entry-variant-list_item
  +mb(17px)
  border-top: 1px dashed #DDD
  display: flex
  padding-top: 7px

  &:first-child
    border-top: none
    padding-top: 0

  .image
    margin-top: 3px

    img
      width: 48px

  & > .info
    margin-left: 16px
    line-height: $line_height
    overflow: hidden

    .name
      align-items: center
      display: flex
      margin-bottom: 7px

      .b-anime_status_tag
        align-self: baseline
        margin-right: 10px
        white-space: nowrap

      .b-anime_status_tag,
      .b-anime_status_tag + .b-link
        margin-bottom: -3px

      .b-link
        +ellipsis2
        font-size: 14px
        font-weight: bold
        line-height: 1

    // .note
    //   span
    //     +comma_separated
    //     &:after
    //       display: inline

    //   .relation,
    //   .additional
    //     display: inline-block
    //     margin-right: 5px

    //   .relation + .additional
    //     +brackets_surrounded

    .line
      font-size: 12px
      line-height: 23px

      &.name
        line-height: 1
        margin-bottom: 5px

      .key
        color: #444
        font-weight: bold
        display: inline

      .value
        display: inline

      .b-anime_status_tag
        +mr(5px)
        line-height: 14px

    // .additional
    //   margin-top: 2px

    //   .b-anime_status_tag
    //     +mr(10px)

    .b-user_rate
      +user_rate-minified
      margin-top: 6px
