@import globals/variables

.b-dialog
  .to_dialog
    font-size: 11px
    font-weight: normal !important
    margin-left: $block_offset

  .b-comment
    margin: 5px 0 0 5px

    header img
      margin: 1px 7px 4px 0
      width: 32px
