@import compass/css3/border-radius
@import compass/css3/box-shadow

.b-edit_styles
  .preview
    display: none
    float: left
    margin-left: 5px
    width: 32px

  .page_background_color
    .range-slider
      +border-radius(0)
      +box-shadow(none)
      margin-top: 10px
      margin-left: 16px
      margin-bottom: 20px
      max-width: 360px

      .noUi-handle
        +border-radius(0)
        +box-shadow(none)
