@import globals/variables
@import mixins/block
@import mixins/comma_separated
@import mixins/link
@import mixins/responsive
@import mixins/tag

.b-entry-info
  +block

  .line-container
    margin-bottom: 4px

  .line
    line-height: $line-height

    .key
      color: $gray-3
      display: inline

    .value
      color: #123
      display: inline

      +iphone
        font-weight: bold

      span
        +comma_separated

    a
      +link

    .b-tag
      +tag
