@import globals/variables
@import mixins/link

.b-entry-info
  margin-left: 4px

  .line
    line-height: 1.8

    .key
      color: $gray-color-2
      display: inline

    .value
      color: #123
      display: inline

    a
      +link

  //&.shortened
    height: 96px
    overflow: hidden
