@import globals/variables

.b-entry-info
  margin-left: 4px

  .line
    line-height: 1.8

    .key
      color: $gray-color
      display: inline

    .value
      color: #333
      display: inline

  &.shortened
    height: 92px
    overflow: hidden
