@import mixins/block
@import mixins/column
@import mixins/responsive

.b-favoured
  +block

  .b-user
    margin-bottom: 6px

    +gte_ipad
      +column(6)

    +iphone_landscape
      +column(6)

    +iphone_portrait
      +column(5)

      &.item-10, &.item-11
        display: none

    img
      max-width: 100%
