@import compass/utilities/general/clearfix
@import mixins/block
@import mixins/clear_right
@import mixins/link

.b-form
  position: relative

  .actions
    +block
    +clear_right
    +clearfix

  .cancel
    +link
    display: inline
    margin-left: 20px
