@import mixins/clearfix
@import mixins/margins
@import mixins/block
@import mixins/clear_left
@import mixins/clear_right
@import mixins/float_column
@import mixins/ellipsis2
@import mixins/green_form
@import mixins/link
@import mixins/responsive
@import mixins/shiki_button

.b-form
  +clearfix
  position: relative

  &.bold-labels
    .b-input label
      font-weight: bold

  &.green-form
    +green_form

  .variants
    +block
    +clear_left
    margin-bottom: 0

    .variant
      +ellipsis2
      +gte_ipad
        +column(3)

      +iphone_landscape
        +column(2)

      +iphone_portrait
        +column(1)

      line-height: 1.8

      input[type=checkbox]
        display: inline-block
        margin-right: 5px

      a
        +link

  a.remove
    +js-link
    color: $red
    border-bottom-color: rgba(255, 65, 54, 0.25)

    &:hover
      color: red
      border-bottom-color: rgba(255, 65, 54, 0.6)

  .buttons + a.remove
    display: inline-block
    vertical-align: middle

  .actions
    +block
    +clear_right
    +clearfix

  //.apply
    //display: inline
    //margin-left: 20px

  input[type=submit]
    +shiki_button

  .inputs,
  .b-input
    +mb(20px)

  .buttons
    margin-right: 0

    .apply
      margin-right: 20px

      &:last-child
        margin-right: 0

  .cancel
    +link
    display: inline
    margin-left: 20px

  .cancel + input
    margin-left: 0

  .ban_reason
    margin-top: 8px

  .b-input
    margin-bottom: 8px
    
  .hide-to-spoiler-label
    line-height: 1.65
    display: flex
    align-items: center

  .hide-to-spoiler
    margin-right: 8px
    line-height: 1.65
