@import globals
@import mixins/link
@import mixins/responsive

$shade_height: 15px
$text_margin: 0px

.b-height_shortener
  .shade
    background-image: linear-gradient(to bottom, rgba(#fff, 0), #fff)
    height: $shade_height
    margin-top: -$shade_height - $text_margin
    pointer-events: none
    position: absolute
    width: 100%

  &:hover
    .expand
      &:after
        content: '↓'

  .expand
    +link_color
    cursor: pointer
    font-size: 11px
    line-height: 1
    padding: 5px 0
    margin-top: $text_margin
    transition: none

    span
      border-bottom: 1px dotted var(--link-border-color)
      display: inline-block

    +gte_laptop
      &:hover span
        border-bottom-color: var(--link-border-hover-color)

    &:active span
      border-bottom-color: var(--link-border-active-color)

    &:after
      content: '↑'
      display: inline-block
      margin-left: 5px

    .placeholder
      position: absolute
      transform: translateY(-100%)
      width: 100%
      z-index: 3

.b-height_shortened
  margin-bottom: 0 !important
  overflow: hidden
  position: relative
