@import globals
@import mixins/dash_separated
@import mixins/hover_underlined

.b-header_filters
  float: right
  margin-left: 20px
  max-width: 50%
  clear: both

  .filter-line
    line-height: 17px
    font-size: 12px

    a
      +normal-link
      +dash_separated

      &.current
        color: #123
        text-decoration: none
        cursor: default

    .title
      font-weight: bold
      color: #123
      padding-right: 6px
