@import globals
@import mixins/css4
@import mixins/link
@import mixins/responsive

$shade_height: 15px
$text_margin: 0px

.b-height_shortener
  .shade
    background-image: linear-gradient(to bottom, rgba(#fff, 0), #fff)
    height: $shade_height
    margin-top: -$shade_height - $text_margin
    position: absolute
    width: 100%

  &:hover
    .expand
      &:after
        content: '↓'

  .expand
    +link_color
    cursor: pointer
    font-size: 11px
    line-height: 1.3
    margin-top: $text_margin
    transition: none

    span
      border-bottom: 1px dotted $link-border
      display: inline-block

    +gte_laptop
      &:hover span
        +css4
          border-bottom-color: var(--link-border-hover-color)

    &:active span
      +css4
        border-bottom-color: var(--link-border-active-color)

    &:after
      content: '↑'
      display: inline-block
      margin-left: 5px
