@import compass/typography/text/ellipsis
@import mixins/column

.b-hot_topics
  +clear_left
  background-color: #EEF1F2
  border-bottom: 1px solid #D0D8DB
  margin: -15px -15px 15px -15px
  padding: 6px 15px 4px 15px

  .topic
    +column(9, 1/9, 2%)
    font-size: 12px
    text-align: center

    &.subject
      color: #234

    a
      +ellipsis
      display: block

      &.with-author
        padding-left: 20px

        img
          height: 16px
          margin-left: -20px
          margin-top: -2px
          position: absolute
