@import mixins/media_marker
@import globals/variables

.b-image
  line-height: 0
  margin-bottom: 10px
  overflow: hidden
  position: relative

  img
    max-width: 100%

  &.fixed
    margin-bottom: 0

    img
      width: $media_width

  .marker
    +media_marker

  .normalized_width
    max-width: $media_width !important

  .normalized_height
    max-height: $media_width !important
