@import globals
@import mixins/input

.b-input
  margin-bottom: 10px

  &:last-child
    margin-bottom: 0

  input, textarea
    +input

  input[type=checkbox]
    margin-right: 6px
    width: auto !important

  textarea
    height: 98px

  label
    display: block
    line-height: $line_height

  abbr
    display: none

  .error
    display: block
    color: red

  .hint
    color: #9da2a8
    display: block
    font-size: 11px
    line-height: $line_height
