@import globals
@import mixins/input

.b-input
  +text-font
  margin-bottom: 10px

  input
    +input

  input[type=checkbox]
    width: auto !important
    margin-right: 6px

  label
    display: block

  abbr
    display: none

  .error
    display: block
    color: red
