@import mixins/responsive

.b-list
  margin-left: 17px

  &.is-wide li
    margin-bottom: 5px

  li
    line-height: $line_height
    list-style: none

    &:empty:after
      content: ' '

    &:before
      position: absolute
      content: ''
      background: url(/assets/blocks/b-list/disc.svg)
      width: 5px
      height: 5px
      margin-left: -12px

      +lte_ipad
        margin-top: 0.65em

      +gte_laptop
        margin-top: 0.615em
