@import compass/typography/text/ellipsis
@import mixins/bracket_details
@import mixins/date
@import mixins/link
@import mixins/log_entry

.b-log_entry
  +log_entry

  .duration-ban
    color: $red

  .duration-warning
    color: $orange

  .duration-ban, .duration-warning
    display: inline-block

  .duration
    +date

  .short
    +ellipsis

  .b-user16
    margin-right: 0

  .collapse
    display: block !important
    margin-right: 0 !important

  .spoiler.collapsed, .spoiler .action
    padding-left: 5px !important

  .moderator
    position: absolute
    right: 95px
    text-align: right

  .abuser
    +bracket_details
    +link
    padding-left: 0
    &:hover
      text-decoration: underline !important

  .duration + .moderator, .duration-warning + .moderator
    padding-left: 0

  .kind
    &.broken
      color: $red
    &.wrong
      color: $orange
    &.uploaded
      color: $blue

  .state
    display: inline-block

    &.pending
      color: $orange

    &.accepted
      color: $green

    &.auto_accepted
      color: $gray-3

    &.taken
      color: $blue

    &.rejected
      color: $red

    &.deleted
      color: $red

  .change-details
    margin-top: 5px
    margin-left: 5px

    .reason
      margin-bottom: 3px

      span
        color: $gray-3

    ul.diff
      margin-bottom: 15px

      &.description
        li
          margin-bottom: 8px

          span:first-child
            display: block

      li
        margin-bottom: 3px

        &.field-name
          font-weight: bold
          margin-bottom: 3px !important

        span
          color: $gray-3
          padding-right: 5px

      del.diffmod, del.diffdel
        color: $red

      ins.diffmod, ins.diffins
        color: $green

  &>.reason
    color: $maroon
    font-size: 11px

    a
      color: $maroon

  &.video
    iframe,
    object
      height: 370px
      width: 650px
