@import mixins/shiki_comment

.b-message
  +shiki_comment

  .b-anime_status_tag
    margin-right: 10px

  .b-new_marker.off
    display: none

  &:hover .b-new_marker.off
    display: block

  header
    .broadcast-by
      font-weight: normal
      padding-left: 5px
      padding-right: 5px

    .b-user16
      img
        width: auto
        float: left
        margin-left: -20px
        margin-top: 3px


  .broken
    header .name-date a.name
      color: #123

      &:hover,
      &:active
        color: #123
        cursor: default
        text-decoration: none

    .name-date,
    .body,
    .b-nothing_here
      margin: 0

  &.b-generated_news
    & > .inner
      & > .body,
      & > header > .name-date
        // need to compensate fix for chrome77 bug, because preview topics do not have left margin
        margin-left: 0 !important
