@import mixins/ellipsis2

.b-menu-line
  +ellipsis2
  line-height: 23px

  &.is-spoilers
    .blurred
      filter: blur(2.5px)
      transition: filter 0.5s

    .b-anime_status_tag.spoilers
      margin-right: 5px
      font-size: 11px

    &:hover .blurred
      filter: none
