@import mixins/link

.b-mention
  +link
  text-decoration: none

  &:hover
    text-decoration: underline

  s
    // for compatibility reasons with old markup
    display: none

  &-404
    span
      margin-right: 5px

    del
      color: $gray-1
      cursor: default
      display: inline-block

  &:before
    color: #6d9fc2
    content: '@'
    text-decoration: none
    display: inline-block
