@import mixins/link

.b-mention
  +link
  text-decoration: none

  &:hover
    text-decoration: underline

  s
    // for compatibility reasons with old markup
    display: none

  &:before
    color: #6d9fc2
    content: '@'
    text-decoration: none
    display: inline-block
