@import mixins/shiki_comment

.b-message
  +shiki_comment

  .b-catalog_entry
    margin-bottom: 15px !important

  .b-new_marker.off
    display: none

  &:hover .b-new_marker.off
    display: block
