@import mixins/responsive

$horizontal-offset: 10px

.x1200 .b-modal
  max-width: 1200px
  &>.inner
    max-width: 1200px - $horizontal-offset * 2
    width: 100%

.x1000 .b-modal
  max-width: 1000px
  &>.inner
    max-width: 1000px - 20px
    width: 100%

.b-modal
  background: white
  margin: 0 auto
  padding: 0 $horizontal-offset

  &>.inner
    background: white
    margin: -150px auto 0
    padding: 10px
    position: absolute
    top: 50%
    z-index: 1002

    +lte_ipad
      left: 0
