@import mixins/responsive

.b-news_wall
  +gte_iphone-landscape
    display: flex
    flex-wrap: wrap

  +iphone-landscape
    margin: #{-$flex-margin-mobile} #{-$flex-half_gutter-mobile}

  +ipad
    margin: #{-$flex-margin-mobile} #{-$flex-half_gutter-mobile}

  +gte_laptop
    margin: #{-$flex-margin-desktop} #{-$flex-half_gutter-desktop}

  .b-postloader
    +iphone-landscape
      flex-basis: 100%
      margin: $flex-margin-mobile $flex-half_gutter-mobile

    +ipad
      flex-basis: 100%
      margin: $flex-margin-mobile $flex-half_gutter-mobile

    +gte_laptop
      flex-basis: 100%
      margin: $flex-margin-desktop $flex-half_gutter-desktop

  .b-news_wall-topic
    +iphone-portrait
      flex-basis: 100%
      padding: 0 0 $flex-margin-mobile 0

    +iphone-landscape
      padding: $flex-margin-mobile $flex-half_gutter-mobile
      flex-basis: 50%

    +ipad
      padding: $flex-margin-mobile $flex-half_gutter-mobile
      flex-basis: 33.333%

    +gte_laptop
      padding: $flex-margin-desktop $flex-half_gutter-desktop
      flex-basis: 33.333%
