@import mixins/css4
@import mixins/date
@import mixins/ellipsis2
@import mixins/responsive
@import mixins/font_shikimori
@import mixins/two_line_ellipsis

.b-news_line-topic
  margin-bottom: 16px

  & > a
    display: block

    +gte_laptop
      &:hover
        .title
          +css4
            color: var(--link-hover-color)

    &:active
      .title
        +css4
          color: var(--link-active-color)

  .title
    +ellipsis2
    align-items: baseline
    display: flex
    font-size: 14px
    font-weight: 600
    margin-bottom: 4px
    min-width: 0

    +css4
      font-family: var(--font-alt)

    span
      +ellipsis2

  .status-line
    align-items: baseline
    color: #333
    display: flex
    font-size: 11px

    .b-anime_status_tag
      margin-right: 8px

    time
      +date
      flex-shrink: 0
      line-height: 18px

    & > span
      flex-shrink: 0
      padding: 0 5px 0 7px

    .author
      +ellipsis2
      align-items: baseline
      display: flex
      flex-shrink: 1

      img
        align-self: center
        height: 14px
        margin-right: 4px

      span
        +ellipsis2

    .comments
      flex-shrink: 0
      font-size: 12px
      line-height: 18px
      margin-left: auto
      padding-left: 12px

      &:before
        +font_shikimori('f')
        font-size: 13px
        padding-right: 5px
