@import mixins/ellipsis2
@import mixins/link

.b-oauth_application
  display: block
  margin: 0 auto
  width: 160px

  .name
    font-size: 18px
    text-align: center

  .name-logo
    +ellipsis2

    &:hover
      .name
        color: $link-hover
        text-decoration: underline

    .name
      +ellipsis2
      +link
      display: block
      font-weight: bold
      line-height: 1
      margin-bottom: 2px

    .logo
      line-height: 0
      margin-right: 10px
      max-width: 100%
      width: 160px
