@import mixins/marker

body[data-locale=ru] .b-offtopic_marker
  +marker(54px, #fdebf3, darken(#fdebf3, 3%), lighten(#fdebf3, 0.5%))

  &:before
    color: #f58ebb

  &.off
    &:before
      border-color: rgba(#f58ebb, 0.5)

    +gte_laptop
      &:hover:before
        color: #f58ebb

body[data-locale=en] .b-offtopic_marker
  +marker(52px, #fdebf3, darken(#fdebf3, 3%), lighten(#fdebf3, 0.5%))

  &:before
    color: #f58ebb

  &.off
    &:before
      border-color: rgba(#f58ebb, 0.5)

    +gte_laptop
      &:hover:before
        color: #f58ebb
