@import mixins/brackets_surrounded
@import mixins/dash_separated
@import mixins/link
@import mixins/responsive

.b-options-floated
  //color: #acb1b4
  font-size: 11px
  line-height: 12px
  margin-top: 6px
  position: absolute
  right: 10px

  +lte_ipad
    line-height: $line_height

  // страница персонажа - переключение типов
  a, .link
    //+link_color(#acb1b4)
    +link
    +dash_separated
    //color: inherit
    cursor: pointer
    display: inline

    span.brackets
      +brackets_surrounded
      margin-left: 5px

  a.rss
    margin-left: 10px

  // список пользователя
  .action
    //+link_color(#123)
    +js-link
    +transition(color, 0.2s)
    cursor: pointer

  .selected
    color: $link-hover

    &:hover
      color: $link-active
      //cursor: default
      //text-decoration: none

    &.always-active
      +link_color(#123)
      cursor: pointer

  &.r10
    margin-right: 10px

  &.r-edit
    +gte_ipad
      margin-right: 15px

    +iphone
      font-size: 13px
      margin-right: 30px

    +iphone-portrait
      &.mobile-support
        margin-right: 35px

  &.for-headline
    margin-top: 10px

  .pointer
    cursor: pointer

  // страница контестов - options-floated, отображающий количество участников
  &.count
    color: $gray-3

  // страница db_entry - кнопки действия
  &.c-actions
    a, .link
      margin-right: 0

      &:after
        display: none

  &.before-two-buttons
    +gt_ipad
      padding-right: 80px

    +ipad
      padding-right: 150px

    +iphone
      padding-right: 0

  &.mobile-support
    +iphone-portrait
      margin-bottom: 10px
      position: initial
      text-align: right

      a
        +link_color
        &.selected
          color: #123

    &.mobile-landscape
      +iphone-landscape
        margin-bottom: 10px
        position: initial
        text-align: right

        a
          +link_color
          &.selected
            color: #123
