@import addons/clearfix

.b-pages
  background: #e9f7fb
  border: 1px solid rgba(144, 213, 236, 0.45)
  float: right
  margin-bottom: 15px
  padding: 5px 10px 3px

  .title
    font-weight: bold

  // .b-list li:last-child
    margin-bottom: 0

.b-pages-container
  +clearfix
