@import globals/variables

.b-question
  border-bottom: none !important
  cursor: default !important
  display: inline !important

  &::before
    background: $gray-color
    border-radius: 13px
    color: #FFF
    content: '\e82a'
    display: inline-block
    font-family: "shikimori"
    font-size: 9px
    height: 14px
    line-height: 1.5
    margin-left: 5px
    text-align: center
    width: 14px
