@import globals/variables
@import mixins/shikimori

.b-question
  border-bottom: none !important
  cursor: help !important
  display: inline !important

  &:before
    +shikimori('?')
    background: $gray-2
    border-radius: 13px
    color: #FFF
    display: inline-block
    font-size: 9px
    height: 14px
    line-height: 1.5
    margin-left: 5px
    text-align: center
    width: 14px

a.b-question:before
  cursor: pointer
