@import globals/variables

.b-replies
  //margin-top: 20px
  clear: both
  font-size: 10px
  padding: 8px 6px 3px 12px
  text-align: right

  &:before
    color: $gray-color-2
    content: 'Ответы: '

  &.single:before
    content: 'Ответ: '
