@import mixins/block
@import mixins/clear_left
@import mixins/font_shikimori
@import mixins/forum_entry
// @import mixins/frame_form
@import mixins/link
@import mixins/shiki_comment
@import mixins/user_rate-minified

.b-review
  +block
  +shiki_comment_margins
  padding-top: 5px

  header
    +clear_left
    margin-bottom: 10px

    +gte_ipad
      display: flex

      .tooltip &
        display: block

    .author-link
      flex-shrink: 0
      float: left
      height: 48px
      line-height: 0
      margin-right: 10px
      margin-top: 4px
      width: 48px

      +iphone
        margin-bottom: 10px

      img
        width: 100%

  .review-details
    +gte_ipad
      align-items: center
      display: flex
      flex-grow: 1
      flex-wrap: wrap
      line-height: 1
      margin-top: -4px

      .tooltip &
        margin-top: 0
        display: block

    .name-url
      align-items: baseline
      display: flex

      .name
        font-size: 14px
        font-weight: bold

      .to-review
        +ellipsis2
        +link
        font-size: 11px

        +iphone
          margin-left: auto

        +gte_ipad
          margin-left: $block-offset

    .b-status-line
      color: #456
      line-height: inherit
      margin: 0 0 0 auto

      +iphone
        flex-wrap: nowrap

        span
          white-space: nowrap

        time
          display: block
          +ellipsis2

        .section.created_at
          min-width: 0

          &:after
            display: none

        .section.changed_at
          display: none

      +gte_ipad
        .tooltip &
          margin: 5px 0 0 0

  .review-info
    align-items: flex-end
    display: flex
    font-family: var(--font-alt)

    +iphone
      width: 100%
      flex-wrap: wrap

    +gte_ipad
      align-self: flex-end
      flex-basis: 100%

      .tooltip &
        width: 100%
        margin-top: 23px

    .positive
      color: #549e14

    .neutral,
    .unknown
      color: #234

    .negative
      color: #fc575e

    .opinion
      align-items: center
      display: flex
      flex-shrink: 0
      height: 30px
      justify-content: center
      margin-right: 10px
      width: 30px

      &:before
        +font_shikimori
        font-size: 16px

      &.positive
        background: #e2f9cf

        &:before
          content: '\e82f'

      &.neutral,
      &.unknown
        color: $gray-4
        background: lighten($gray-1, 25%)

        &:before
          content: '\002d'

      &.negative
        background: #ffe0e2

        &:before
          content: '\e82e'

    .label
      font-size: 12px
      font-weight: 700
      line-height: 1
      margin-top: 0px
      margin-bottom: 4px

    .user-rate-label
      color: #4e5257
      font-size: 12px
      line-height: 12px
      white-space: nowrap

      &.is-missing
        color: #123
        font-weight: bold
        margin-left: 5px

    .user-rate
      +user_rate-minified
      display: flex

      +iphone
        align-items: center
        margin-top: 10px

      +gte_ipad
        align-items: flex-end
        margin-left: 10px

        // .tooltip &
          flex-direction: column
          align-items: flex-start

      .b-add_to_list
        min-width: auto

        .edit:before
          cursor: default

        .trigger
          max-width: 145px
          padding-right: 8px

        .edit-trigger
          display: flex

        .text
          // overflow: visible
          cursor: inherit
          text-decoration: none
          font-weight: 600

        // &.is_written_before_release
          max-width: 150px

      .b-rate
        line-height: 1
        margin-right: 10px
        max-width: none
        min-width: auto

        // .tooltip &
          margin-top: 3px

        div
          font-size: 20px

  .is_written_before_release-container
    margin-bottom: 5px

    +iphone
      margin-top: -2px

    +gte_ipad
      margin-top: -3px

  .b-height_shortener .expand
    font-size: 12px

  .b-new_marker:before
    margin-top: 6px

  footer
    +gte_iphone-landscape
      display: flex
      align-items: center

      .tooltip &
        display: block

    .do-comment
      align-items: center
      display: inline-flex
      font-size: 13px

      +gte_iphone-landscape
        margin-left: 24px

        .tooltip &
          margin-left: 0

      &:before
        +font_shikimori('f')
        margin-right: 9px
        margin-left: -2px
