@import mixins/responsive
@import mixins/ellipsis2
@import mixins/brackets_surrounded
@import mixins/font_shikimori

=navigation_block_colors($color, $backgroud, $border)
  color: $color
  background-color: $backgroud
  border-color: $border

  &:not(.is-active)
    +gte_laptop
      &:hover
        background-color: darken($backgroud, 5%)
        color: darken($color, 5%)
        border-color: darken($border, 8%)
        // border-color: var(--link-hover-color)

    &:active
      color: darken($color, 9%)
      background-color: darken($backgroud, 9%)
      border-color: darken($border, 13%)
      // border-color: var(--link-active-color)

=navigation_block_ellipsis
  min-width: 0 // to make ellipsis work

  .label
    min-width: 0 // to make ellipsis work

    span
      +ellipsis2

.b-reviews_navigation
  .navigation-container
    display: flex
    font-family: var(--font-alt)
    margin-bottom: 5px

    +lte_ipad
      height: 30px
      line-height: 30px

    +laptop
      height: 36px
      line-height: 36px

    +gte_desktop
      height: 39px
      line-height: 39px

  .navigation-node
    align-items: baseline
    border-left: 5px solid
    display: flex
    text-transform: uppercase
    transition: all 0.25s
    user-select: none
    white-space: nowrap
    -webkit-tap-highlight-color: transparent

    +lte_laptop
      font-size: 15px
      padding: 0 10px

    +gte_desktop
      font-size: 16px
      padding: 0 13px

    .label
      align-items: baseline
      display: flex

      &:before
        +iphone
          padding-top: 2px

        +ipad_laptop
          margin-right: 7px
          font-size: 15px

        +gte_desktop
          font-size: 16px
          margin-right: 9px

    .count
      +brackets_surrounded
      font-weight: normal
      white-space: nowrap

      &:before,
      &:after
        float: none

      +iphone
        font-size: 13px
        margin-left: 4px

      +ipad_laptop
        font-size: 14px
        margin-left: 5px

      +gte_desktop
        font-size: 15px
        margin-left: 7px

    &:not(.is-active)
      cursor: pointer

      +gte_laptop
        padding-top: 2px

      .label
        span
          +iphone
            display: none

      .count
        +iphone
          display: none

    &-all
      +navigation_block_colors(#123, #e8ebef, #d8dde4)

      .label:before
        +iphone
          +font_shikimori('\e843')

    &-positive
      +navigation_block_colors(#85bd7a, #eff9e6, #bee893)

      .label
        &:before
          +font_shikimori('\e800')

    &-neutral
      +navigation_block_colors(#7aaebd, #f6fcfd, #93c5e8)
      .label:before
        +font_shikimori('\e912')

    &-negative
      +navigation_block_colors(#bd857a, #fff1f2, #e8a092)

      .label:before
        +font_shikimori('\e911')

    &.is-active
      -webkit-font-smoothing: antialiased
      flex-grow: 1
      font-family: var(--font-alt)
      font-weight: 700
      letter-spacing: 0.13px
      text-transform: uppercase

      +iphone
        +navigation_block_ellipsis

      +laptop
        font-size: 17px

      +gte_laptop
        padding-top: 1px

      +gte_desktop
        font-size: 18px

      .label:before
        +iphone
          display: none

        +gte_ipad
          font-weight: normal

    &.is-ellipsis
      +navigation_block_ellipsis

  .content-node
    &:not(.is-active)
      display: none

    &.b-ajax
      min-height: 300px

  .b-nothing_here
    margin-top: 10px
