@import globals/variables
@import mixins/clear_right
@import mixins/responsive
@import mixins/link

.b-review
  .votes-count
    color: $gray-color-2
    font-size: 11px
    line-height: 1.4
    text-decoration: none

  .body
    +clear_right

    .b-user16
      margin-left: 20px
      margin-right: 0

    .votes
      float: right
      margin-left: 20px
      margin-top: 8px
      position: relative // без height-shortener для рецензий некорректно отрабатывает
      width: 195px

      +iphone_portrait
        margin-top: 20px
        width: 245px
        float: none
        margin-left: 0

      &>.title
        color: #123
        font-size: 12px
        font-weight: bold
        line-height: 0.5

      .b-rate
        margin-bottom: 10px

        &:last-child
          margin-bottom: 20px
