@import mixins/bracket_action

.b-request_resolution
  .info
    line-height: $line_height

    .marker
      display: inline-block
      float: none
      height: 12px
      margin-left: 8px

  .moderation
    span
      +bracket_action
      &:first-child
        padding-left: 0

  .resolution
    padding-right: 8px


  //.bracket-actions
    padding-left: 0
    padding-right: 10px
    span
      padding: 0

  //.b-review_marker, .b-offtopic_marker, .b-spoiler_marker, .b-abuse_marker
    cursor: default;
    display: inline-block;
    float: none;
    margin-left: 3px;
