@import globals/variables

.b-replies
  clear: both
  text-align: right
  margin-top: 5px
  font-size: 10px
  background: #FEFEFF
  float: right
  display: block
  padding: 3px 6px 3px 12px

  &:before
    color: $gray-color-2
    content: 'Ответы: '

  &.single:before
    content: 'Ответ: '
