.b-shiki_swiper
  position: relative
  overflow: hidden
  line-height: 0
  width: 100%

  &.to-process
    max-height: 160px

    img
      max-height: 160px
      opacity: 0

  .b-image,
  .b-video
    &.fixed .video-link img
      width: auto

  // a
  //   position: static
  //
  //   &:not(:last-child)
  //     margin-right: 4px
  //
  //   img
  //     max-width: none
  //
  .b-image span.marker
    display: none

  // .b-video
  //   margin-bottom: 0
  //   overflow: visible

  .swiper-wrapper
    box-sizing: content-box
    display: flex
    height: 100%
    position: relative
    transform: translate3d(0px, 0, 0)
    transition-property: transform
    width: 100%
    z-index: 1

    .swiper-slide
      align-items: center
      background: #fff
      display: flex
      flex-shrink: 0
      font-size: 18px
      justify-content: center
      position: relative
      text-align: center
      transition-property: transform
