@import compass/css3/border-radius
@import compass/css3/opacity
@import globals
@import mixins/responsive

.b-shiki_editor
  .hidden-block
    display: none
    overflow: hidden

    &.with-transition
      +transition(all, 0.5s)

  .smileys
    div
      margin-bottom: 5px
    img
      cursor: pointer
      margin-right: 3px
      margin-bottom: 3px

  .links, .images, .quotes, .email, .upload
    height: 23px

    +responsive(phone)
      height: 43px

    +responsive(narrow-phone)
      height: 64px

    span
      padding-left: 5px

    input
      margin-top: 4px

    .link-value
      background-color: #FCFCFC
      border-color: #DDD
      color: #333
      line-height: 16px
      margin-top: 2px
      outline: none
      padding: 0 5px
      width: 275px

      &.ac_input
        width: 200px

    label
      display: inline-block
      cursor: pointer
      margin-right: 10px

  .links p
    overflow: hidden
    white-space: nowrap

  .upload-progress.active
    margin-bottom: 1px

  .images,.quotes,.email
    input
      margin-left: 5px !important
      width: 380px !important

  .email
    margin-top: -5px
    margin-bottom: 10px
    display: block

  .body
    .preview
      display: none
      margin-bottom: 10px

    .editor
      textarea
        +border-radius(0)
        -webkit-appearance: none
        background: #FCFCFC
        border: 1px solid #DDD
        color: #333333
        height: 89px
        line-height: $line_height
        margin-top: 5px
        max-height: 417px
        outline: none
        padding: 3px 7px 5px
        position: relative
        resize: none
        width: 100%

  .ajax-loading
    height: 100%

  aside.markers
    margin-top: -2px
    float: right

  aside.buttons
    float: none
    margin: 2px 0

    .group
      display: inline-block
      margin-left: 30px

      &:first-child
        margin-left: 0

    span:first-child
      margin-left: 0

    .editor-bold
      +icon-button("\e802")
    .editor-italic
      +icon-button("\e804")
    .editor-underline
      +icon-button("\e807")
    .editor-strike
      +icon-button("\e805")
    .editor-link
      +icon-button("\e808")
    .editor-image
      +icon-button("\e809")
    .editor-quote
      +icon-button("\e80B")
    .editor-spoiler
      +icon-button("\e81b")
    .editor-smiley
      +icon-button("\e800")
    .editor-file
      +icon-button("\e80c")
      position: relative

      span
        height: 20px
        margin: 0 0 0 -20px !important
        overflow: hidden
        padding: 0
        position: absolute
        width: 20px

      input
        +opacity(0)
        cursor: pointer
        height: 20px
        padding: 0
        position: absolute
        right: 0
        top: 0
        width: 20px
        z-index: 1

    .editor-upload
      display: none

  footer
    margin-top: 10px

    .preview
      margin-left: 20px

    .unpreview, .cancel
      +normal-link
      font-size: 13px
      margin-left: 20px

    .unpreview
      display: none

  &.previewed
    .editor-controls
      display: none

    .body
      .editor
        display: none

      .preview
        display: block

        .b-comment
          border-top: none
          padding-top: 0

    footer
      .unpreview
        display: inline

      .cancel, .button.preview
        display: none
