@import mixins/link
@import mixins/shiki_button
@import mixins/shikimori

.b-spoiler_block
  & + .b-spoiler_block
    margin-top: 2px

  &:not(.is-opened)
    & > div
      display: none

  &.is-fullwidth
    & > span
      display: flex
      // align-items: center
      // background: #f3f5f7 !important
      // border: 1px solid #678
      // border-bottom-width: 2px
      // border-left-width: 4px
      // color: #123 !important
      min-height: 27px

      // &:before
      //   content: ''
      //   width: 23px
      //   margin-right: auto

      &:after
        margin-left: auto

  &.is-opened
    &.is-closing
      & > span
        &:after
          transform: rotate(0deg)

    & > span
      &:after
        transform: rotate(180deg)

    & > i.edit
      +link_color(#7b8084)
      align-items: center
      cursor: pointer
      display: inline-flex
      height: 23px
      justify-content: center
      margin-left: 6px
      width: 23px

      &:before
        +shikimori('\e842')

  & > span
    +shiki_button(#678)
    display: inline-flex
    align-items: center

    &:active
      outline: none

    &:after
      +shikimori('\e847')
      font-size: 17px
      font-weight: bold
      font-style: normal
      margin-left: 8px
      transition: transform .25s, margin .25s

  & > div
    background-color: #f3f5f7
    border-left: 4px solid #678
    padding: 3px 3px 3px 14px

    &:after
      content: ''
      display: table
      clear: both

    & > .b-list
      margin-left: 10px

    center &
      padding-right: 14px // compensates 14px padding at the left

      center
        padding-right: 0

    center
      padding-right: 14px // compensates 14px padding at the left

      center
        padding-right: 0
