@import globals
@import mixins/css4
@import mixins/link
@import mixins/responsive

$border_color: #ffb3b3

.b-spoiler
  display: inline

  label
    +link_color
    //+link_color($link-4)
    cursor: pointer
    border-bottom-style: dashed
    border-bottom-width: 1px
    font-size: 12px
    letter-spacing: 0.5px

  .content
    display: none

    &:not(.only-show)
      cursor: pointer

    .inner
      border-bottom: 1px dashed $border_color
      display: inline

    +gte_laptop
      &:hover
        .before,
        .after
          +css4
            color: var(--link-hover-color)

    .before, .after
      color: $link-4
      cursor: pointer
      display: inline
      font-size: 10px
      letter-spacing: 0.8px

      &:before
        display: inline

    .before
      padding-right: 4px

      &:before
        content: '[spoiler]'

    .after
      padding-left: 4px

      &:before
        content: '[/spoiler]'
