@import globals
@import mixins/responsive

.b-spoiler_inline
  padding: 1px 3px
  transition: background-color .25s ease

  &.is-opened
    background-color: rgba(#456, 0.15)

  &:not(.is-opened)
    background-color: #678
    cursor: default

    +gte_laptop
      &:hover
        background-color: lighten(#456, 3%)

    &:active
      background-color: lighten(#678, 8%)


    & > span
      opacity: 0
      user-select: none
      pointer-events: none

      span,
      div,
      code
        border-color: #456
        color: inherit
        background-color: inherit

  & > span
    transition: opacity .25s ease
