@import mixins/block
@import mixins/forum_entry
@import mixins/font_shikimori
@import mixins/shiki_comment
@import mixins/user_rate-minified
@import mixins/clear_left

.b-summary
  +block
  +shiki_comment_margins

  border-top: 1px solid #ddd
  padding-top: 10px

  header
    +clear_left
    margin-bottom: 10px

    +gte_ipad
      display: flex

    .author-link
      float: left
      height: 48px
      line-height: 0
      margin-right: 10px
      margin-top: 4px
      width: 48px

      +iphone
        margin-bottom: 10px

      img
        width: 100%

  .summary-details
    +gte_ipad
      align-items: center
      display: flex
      flex-grow: 1
      flex-wrap: wrap
      line-height: 1
      margin-top: -4px

    .name
      font-size: 14px
      font-weight: bold

    .b-status-line
      color: #456
      line-height: inherit
      margin: 0 0 0 auto

  .summary-info
    align-items: flex-end
    display: flex
    font-family: var(--font-alt)

    +iphone
      width: 100%
      flex-wrap: wrap

    +gte_ipad
      align-self: flex-end
      flex-basis: 100%

    .positive
      color: #549e14

    .neutral,
    .unknown
      color: #234

    .negative
      color: #fc575e

    .opinion
      align-items: center
      display: flex
      flex-shrink: 0
      height: 30px
      justify-content: center
      margin-right: 10px
      width: 30px

      &:before
        +font_shikimori
        font-size: 16px

      &.positive
        background: #e2f9cf

        &:before
          content: '\e82f'

      &.neutral,
      &.unknown
        color: $gray-4
        background: lighten($gray-1, 25%)

        &:before
          content: '\002d'

      &.negative
        background: #ffe0e2

        &:before
          content: '\e82e'

    .label
      font-size: 12px
      font-weight: 700
      line-height: 1
      margin-top: 0px
      margin-bottom: 4px

    .user-rate-label
      color: #4e5257
      font-size: 12px
      line-height: 12px

      &.is-missing
        color: #123
        font-weight: bold
        margin-left: 5px

    .user-rate
      +user_rate-minified
      display: flex

      +iphone
        align-items: center
        margin-top: 10px

      +gte_ipad
        align-items: flex-end
        margin-left: 10px

      .b-add_to_list
        min-width: 134px

        .edit:before
          cursor: default

        .text
          cursor: inherit
          text-decoration: none
          font-weight: 600

        .trigger
          max-width: 140px

      .b-rate
        line-height: 1
        margin-right: 10px
        max-width: none
        min-width: auto

        div
          font-size: 20px

  .is_written_before_release-container
    margin-bottom: 5px

    +iphone
      margin-top: -2px

    +gte_ipad
      margin-top: -3px
