@import mixins/forum_entry
@import mixins/font_shikimori
@import mixins/shiki_comment
@import mixins/user_rate-minified

.b-summary
  +forum_entry
  +shiki_comment_margins

  & > .inner
    header
      display: flex

      img
        float: none

    .name-date
      margin-top: -4px
      margin-bottom: 4px
      margin-left: 0

  .summary-info
    font-family: var(--font-alt)
    display: flex
    align-items: flex-end

    .positive
      color: #549e14

    .neutral,
    .unknown
      color: #123

    .negative
      color: #fc575e

    .opinion
      align-items: center
      display: flex
      height: 30px
      justify-content: center
      margin-right: 10px
      width: 30px

      &:before
        +font_shikimori
        font-size: 16px

      &.positive
        background: #eff9e6

        &:before
          content: '\e82f'

      &.neutral,
      &.unknown
        color: $gray-4
        background: lighten($gray-1, 25%)

        &:before
          content: '\002d'

      &.negative
        background: #fff1f2

        &:before
          content: '\e82e'

    .label
      font-size: 13px
      font-weight: 600
      line-height: 18px
      margin-top: -2px
      margin-bottom: 4px

    .user-rate-label
      color: #4e5257
      font-size: 12px
      line-height: 12px

      &.is-missing
        color: #123
        font-weight: bold
        margin-left: 5px

    .user-rate
      +user_rate-minified
      margin-left: 10px

      .b-add_to_list
        .edit:before
          cursor: default

        .text
          cursor: inherit
          text-decoration: none

        .trigger
          max-width: 140px
