@import globals/variables

.b-tag
  border-bottom: 1px dashed #bbb
  color: #123
  cursor: default
  display: inline-block
  line-height: 16px
  margin-left: 3px
  margin-right: 9px
  padding-top: 1px
  text-decoration: none
  transition: none

  &:last-child
    margin-right: 5px

    &:hover
      margin-right: 0

  &[href]
    border-bottom-color: $link-4
    cursor: pointer

    &.active,
    &:hover
      background-color: $link-4
      border-bottom-color: transparent
      color: #fff
      margin-left: 0
      margin-right: 6px
      padding-left: 3px
      padding-right: 3px
      text-decoration: none

    &:active
      background-color: $link-3

  a
    transition: none
    color: inherit
