.b-text_with_paragraphs
  br:not(:last-child)
    content: ''
    display: block
    height: 0 // must use margin-bottom, because height does not work in firefox
    margin-bottom: 5px

  p br,
  br + br
    content: none !important
    margin: 0

  p
    margin-bottom: 5px

  .b-spoiler_block,
  .b-quote,
  .b-quote-v2,
    margin-bottom: 5px
