@import globals
@import mixins/block
@import mixins/forum_entry
@import mixins/frame_form
@import mixins/link
@import mixins/responsive
@import mixins/shikimori
@import mixins/tag

.b-topic
  +block
  +forum_entry
  border-bottom: none
  border-top: 1px solid #ddd

  &:first-child
    border-top: none
    padding-top: 0 !important

  // заигноренный топик
  &.b-comment-info
    padding: 10px 0 10px 0 !important

  & > .editor-container
    margin-top: $block_offset

    .body .preview
      background: none
      border: none
      padding: 0

  & > .inner
    min-height: 80px

    & > header
      .b-anime_status_tag
        margin-right: 10px

      .name-date a
        font-size: 15px

      .about
        & >  span
          color: $gray-3
          padding: 0 5px
          font-size: 12px

        a
          font-size: 12px

      .about + .time
        padding-left: 5px

    .body-truncated
      max-height: 172px
      overflow: hidden
      position: relative

      .b-height_shortener .expand
        margin-top: -6px

    & > footer
      clear: left // need clearing when text is narrow and avatar is higher than text
      // +ellipsis2
      // color: #555
      // font-size: 11px
      // line-height: $line_height
      // margin-top: 3px

      // p
        // display: inline-block

      // .b-user16
        // display: inline-block
        // font-size: 12px
        // float: right
        // padding-right: 5px

        // img
          // margin-top: 1px

      // .date
        // color: $date
        // float: right
        // margin-left: 10px

      // .tags
        // float: right

      // .tag
        // +tag

        // a
          // color: inherit
          // text-decoration: inherit
          // transition: color 0.2s ease, background-color 0.2s ease

          // &:hover
            // color: inherit
            // text-decoration: inherit

          // &:active
            // color: inherit !important
            // text-decoration: inherit

  .footer-vote
    +frame_form
    color: #123
    display: inline-block
    font-size: 13px
    line-height: $line_height
    margin-bottom: 10px
    margin-top: 10px

    .star
      display: inline-block

      &:before
        +shikimori('\e819')
        display: inline-block
        font-size: 14px
        padding-right: 6px

    +iphone_portrait
      & > span
        display: block

    .notice
      display: inline-block
      margin-right: 15px

    .vote-group
      display: inline-block
      vertical-align: middle
      white-space: nowrap

      .separator
        display: inline-block
        margin-left: 15px
        margin-right: 15px

        &:before
          color: $gray-1
          content: '/'

      .vote
        +js-link
        display: inline-block
        opacity: 0.9
        transition: opacity 0.2s ease, color 0.2s ease, border-bottom-color 0.2s ease

        &:before
          +shikimori
          padding-right: 7px

        &.yes
          +iphone_portrait
            margin-left: 0

          &:before
            content: '\e82f'

          &.selected, &:hover
            border-bottom-color: $green
            color: $green
            opacity: 1

        &.no
          &:before
            content: '\e82e'

          &.selected, &:hover
            border-bottom-color: $red
            color: $red
            opacity: 1

  & > .b-comments
    margin-top: 5px
    transition: margin-left 0.25s ease
    width: 100% // без этого в .aside-expanded режиме не будет смещение контента влево

    .b-comment:first-child,
    .b-message:first-child
      border-top-width: 1px
      padding-top: 5px

  &.aside-expanded
    & > .b-comments
      margin-left: -$aside_width
      overflow: visible
      position: relative
