@import compass/typography/text/ellipsis
@import globals/variables

.b-topic-line
  .info
    line-height: $line-height
    margin-top: 5px

    .from
      color: $gray-3
      padding-right: 5px

    .time
      +ellipsis
      color: $gray-3
      display: inline
