@import compass/css3/opacity
@import compass/css3/transition
@import compass/css3/text-shadow
@import mixins/responsive

.b-to-top
  cursor: pointer
  display: none
  height: 100%
  left: 0
  position: fixed
  top: 0
  visibility: collapse
  width: 120px
  z-index: 0

  +responsive(desktop)
    visibility: visible

  .slide
    +opacity(0)
    +transition(opacity ease 0.25s)
    background: #f0f0f0
    cursor: pointer
    height: 100%
    left: 0
    position: fixed
    top: 0
    width: 60px

  &:hover
    //z-index: 10

    .slide
      +opacity(0.6)

    .arrow
      +text-shadow(0px 0px 1px #fff)
      color: #123

  &:active
    .slide
      +opacity(0.85)

  .arrow
    +text-shadow(0px 0px 1px #123)
    color: #fff
    font-family: tahoma
    font-size: 20px
    font-style: normal
    font-weight: bold
    left: 0
    position: fixed
    text-align: center
    top: 5px
    width: 60px
