@import compass/css3/transition
@import compass/utilities/text/ellipsis
@import mixins/responsive
@import mixins/tag
@import mixins/plashka
@import mixins/links
@import mixins/block

.b-topic
  +block
  border-bottom: none
  border-top: 1px solid #DDD
  overflow: hidden
  padding-top: 5px

  &:first-child
    border-top: none
    padding-top: 0 !important

  &:last-child
    margin-bottom: 0

  &.preview
    margin-bottom: $block_offset * 1.5

    &:last-child
      margin-bottom: 0

    &>.editor-container
      display: none

      .hide
        display: inline-block

  &>.buttons
    display: none

  +gt_ipad
    &:hover > .buttons
      display: block

  &>header
    a
      +link
      font-size: 15px
      font-weight: bold
      line-height: 1

    img
      float: left
      margin: 3px 10px 7px 0
      width: 48px

  &>.body
    &.shortened
      height: 165px
      overflow: hidden

  &>footer
    +ellipsis
    color: #555
    font-size: 11px
    line-height: $line_height
    margin-top: 3px

    .b-user16
      display: inline-block
      padding-right: 10px

    .date
      color: $date
      float: right
      margin-left: 10px

    .tags
      float: right

      .tag
        +tag

        a
          +transition('color,background-color', 0.2s)
          color: inherit
          text-decoration: inherit

          &:hover
            color: inherit
            text-decoration: inherit

          &:active
            color: inherit !important
            text-decoration: inherit
