@import compass/typography/text/ellipsis
@import mixins/responsive

$body_left_padding: 58px
$body_phone_left_padding: 42px

.b-topic-preview
  margin-bottom: 35px

  &:last-child
    margin-bottom: 0

  &>.b-comments
    // в превью топика первый комментарий отобразим с дефолтным отступом и бордером
    .b-comment:first-child
      padding-top: 5px
      border-top-width: 1px

  // блок шики-эдитора
  &>.editor-container
    display: none

    .hide
      display: inline-block

  &.mini > .inner
    &>.body, &>footer
      padding-left: 0 !important

  &>.inner
    &>header
      .b-anime_status_tag
        margin-right: 10px

    .status-line
      +ellipsis
      font-size: 12px
      line-height: 1
      margin-top: 5px
      margin-bottom: 10px

      .from, .author, .time, .additional
        display: inline-block
        // vertical-align: middle

      .from, .about
        color: $gray-3

      .b-link
        padding: 0 5px

      .author
        padding-left: 5px

        .b-user16 img
          margin-top: 1px

      .time
        color: $gray-3

      .additional
        margin-left: 15px
        padding-left: 14px
        border-left: 1px solid #acb1b4

        .comments, .likes
          display: inline-block
          color: #333

          &:before
            display: inline-block
            font-family: 'shikimori'
            font-size: 14px
            padding-right: 5px
            text-align: center

        .comments
          &:before
            content: 'f'

        .likes
          margin-left: 15px

          span
            color: $gray

          &:before
            content: '\e819'

  &>.b-comments,
  &>.inner>.body,
  &>.inner>footer
    padding-left: $body_left_padding

    +iphone
      padding-left: $body_phone_left_padding
