.b-topic-minified
  & > .inner
    & > .body,
    & > footer
      padding-left: 0 !important

    // need to compensate fix for chrome77 bug, because preview topics do not have left margin
    & > .body,
    & > header > .name-date
      margin-left: 0 !important

  .b-status-line
    margin-bottom: 10px
