@import compass/css3/transition
@import compass/typography/text/ellipsis
@import compass/utilities/general/clearfix
@import mixins/block
@import mixins/forum_entry
@import mixins/link
@import mixins/responsive
@import mixins/tag

.b-topic
  +block
  +forum_entry
  border-bottom: none
  border-top: 1px solid #ddd

  &:first-child
    border-top: none
    padding-top: 0 !important

  // заигноренный топик
  &.b-comment-info
    padding: 10px 0 10px 0 !important

  &>.editor-container
    margin-top: $block_offset

  &>.inner
    min-height: 80px

    &>header
      .name-date a
        font-size: 15px

    &>footer
      +ellipsis
      color: #555
      font-size: 11px
      line-height: $line_height
      margin-top: 3px

      p
        display: inline-block

      .b-user16
        display: inline-block
        font-size: 12px
        float: right
        padding-right: 5px

        img
          margin-top: 1px

      .date
        color: $date
        float: right
        margin-left: 10px

      .tags
        float: right

      .tag
        +tag

        a
          +transition('color,background-color', 0.2s)
          color: inherit
          text-decoration: inherit

          &:hover
            color: inherit
            text-decoration: inherit

          &:active
            color: inherit !important
            text-decoration: inherit

    .footer-vote
      color: #123
      display: inline-block
      float: right
      font-size: 16px
      line-height: $line_height

      +iphone_portrait
        &>span
          display: block

      .vote
        color: $gray-1
        cursor: pointer
        display: inline-block
        margin-left: 20px

        &:before
          font-family: 'shikimori'
          padding-right: 7px

        &.yes
          +iphone_portrait
            margin-left: 0

          &:before
            content: '\e82f'
          &.selected, &:hover
            color: $green

        &.no
          &:before
            content: '\e82e'
          &.selected, &:hover
            color: $red

  &>.b-comments
    margin-top: 5px

    .b-comment:first-child
      border-top-width: 1px
      padding-top: 5px
