@import mixins/css4
@import mixins/link

$offset: 20px

.b-user16
  +link
  display: inline-block
  line-height: $line_height
  margin-left: $offset
  margin-right: 5px
  position: relative // must be set to prevent absolute positioned & > img overflow
  white-space: nowrap

  &:hover
    text-decoration: none !important

    span
      text-decoration: underline

    a
      +css4
        color: var(--link-hover-color)

  &:active a
    +css4
      color: var(--link-active-color)

  img
    position: absolute
    margin-left: -$offset
    margin-top: 3px
    padding-right: 2px // чтобы пробела не было и ссылка не мелькала

  // comments#show page
  .subheadline &
    line-height: inherit
    margin-left: $offset + 5px

    img
      margin-top: -1px
