@import globals
@import mixins/image_editable
@import mixins/link
@import mixins/media_marker
@import mixins/retina

.cc > .c-video
  margin-bottom: 15px

.b-video
  +image_editable
  // cursor: zoom-in !important
  display: inline-block
  line-height: 0
  overflow: hidden
  vertical-align: text-top
  position: relative // need to position properly .marker

  .video-link img
    max-width: 100%

  &.fixed
    .video-link img
      width: $media_width

    &.twitch, &.myvi, &.coub
      .video-link img
        height: $media_height
        width: auto

    &.dailymotion
      height: $media_height

  &.shrinked
    .video-link img
      margin-top: -9.35%
      margin-bottom: -9.35%

  a.video-link
    cursor: zoom-in !important
    display: block
    position: relative
    transition: opacity 0.5s ease

    &:hover
      opacity: 0.85

    &:before
      // +background-inline-retina('/assets/blocks/b-video/play', 'png', 69px, 69px)
      // background-size: 69px 69px
      // margin-left: -34.5px
      // margin-top: -34.5px
      // height: 69px
      // width: 69px
      background: asset_url("/assets/blocks/b-video/play-optimized.png")
      background-size: 80px 80px
      content: ''
      height: 80px
      left: 50%
      margin-left: -40px
      margin-top: -40px
      position: absolute
      top: 50%
      width: 80px
      z-index: 1

  .name
    +media_marker
    bottom: auto
    max-width: 100%
    padding-left: 0
    top: 0

  .marker
    +link
    +media_marker
