@import compass/typography/text/ellipsis

.b-video
  line-height: 0
  margin-bottom: 10px
  overflow: hidden
  position: relative

  img
    max-width: 100%

  .marker
    @include ellipsis
    background: white
    bottom: 0
    color: #123
    font-size: 11px
    font-weight: bold
    left: 0
    line-height: 18px
    max-width: 169px
    padding: 0 4px
    position: absolute
    text-align: center
    text-indent: 0
