@import compass/css3/opacity
@import compass/css3/transition
@import globals/variables
@import mixins/image_editable
@import mixins/link
@import mixins/media_marker
@import mixins/retina

.b-video
  +image_editable
  cursor: zoom-in !important
  display: inline-block
  line-height: 0
  margin-bottom: 10px
  overflow: hidden
  position: relative

  img
    max-width: 100%

  &.fixed
    img
      width: $media_width

    &.twitch, &.myvi, &.coub
      img
        height: $media_height
        width: auto

    &.dailymotion
      height: $media_height

  a.video-link
    +transition(opacity 0.5s ease)
    cursor: zoom-in !important

    &:hover
      +opacity(0.85)

    &:before
      +background-inline-retina('/blocks/b-video/play', 'png', 69px, 69px)
      content: ''
      height: 69px
      left: 50%
      margin-left: -34.5px
      margin-top: -34.5px
      position: absolute
      top: 50%
      width: 69px
      z-index: 1

  .name
    +media_marker
    //+opacity(0.85)
    bottom: auto
    max-width: 100%
    padding-left: 0
    top: 0

  .marker
    +link
    +media_marker
    //+opacity(0.85)

  &.vk
    img
      margin-top: -9.3%
      margin-bottom: -9.3%

