@import globals/variables
@import mixins/image_editable
@import mixins/media_marker

.b-video
  +image_editable
  display: inline-block
  line-height: 0
  margin-bottom: 10px
  overflow: hidden
  position: relative

  img
    max-width: 100%

  &.fixed
    img
      width: $media_width

    &.twitch, &.myvi, &.coub
      img
        height: $media_height
        width: auto

    &.dailymotion
      height: $media_height

  .marker
    +media_marker

  &.vk
    img
      margin-top: -9.3%
      margin-bottom: -9.3%

