@import globals/variables
@import mixins/media_marker

.b-video
  line-height: 0
  margin-bottom: 10px
  overflow: hidden
  position: relative

  img
    max-width: 100%

  &.fixed
    img
      width: $media_width

  .marker
    +media_marker
