@import globals/variables

.b-review_votes
  &:before
    color: #333
    content: '\e819'
    display: inline-block
    font-family: 'shikimori'
    font-size: 14px
    padding-right: 5px

  span
    color: $gray
    padding: 0

  .votes-for
    color: #24a232
    padding: 0

  .votes-against
    color: #c32017
    padding: 0
