@import mixins/responsive

$quote_odd: #f9f9f9
$quote_even: #f6f6f6

blockquote
  background: $quote_odd
  border: 1px dashed #DDDDDD
  color: #333333
  font-style: italic
  margin: 5px 5px 5px 5px
  overflow: hidden
  padding: 5px 10px

  +lte_ipad
    margin-left: 0
    overflow: hidden

  .quoteable
    font-style: normal
    line-height: 21px
    margin: -4px 0 0 -3px
    position: relative

    &:before
      color: #333
      content: '"'
      font-family: "shikimori"
      font-size: 12px
      margin-right: 5px
      position: relative
      top: 2px

  blockquote
    background: $quote_even
    margin-left: 5px !important

    blockquote
      background: $quote_odd

      blockquote
        background: $quote_even

