@import "globals";
@import "globals/responsive";

.item-mobile {
  @include icon-button('m');
  float: right;
}

.buttons {
  color: #999999;
  float: right;
  font: 13px/20px "Trebuchet MS",Tahoma,Arial,Helvetica,sans-serif;
  /*height: 16px;*/
  margin-right: 5px;

  span {
    display: inline-block;
  }
  .main-controls {
    a {
      color: #666666;
      &:hover {
        color: $default-hover-color;
        text-decoration: none;
      }
    }
    span:last-child {
      margin-right: 0;
    }
  }
  .edit-controls, .delete-controls, .moderation-controls {
    display: none;

    span:last-child {
      margin-right: 0;
    }
  }

  .item-save {
    @include icon-button('\e80e');
  }
  .item-review {
    @include icon-button('\e80f');
  }
  .item-moderation {
    @include icon-button('\e806');
  }
  .item-offtopic {
    @include icon-button('\e810');
  }
  .item-preview {
    @include icon-button('\e811');
  }
  .item-unpreview {
    @include icon-button('\e812');
  }
  .item-quote {
    @include icon-button('\e80B');
    display: none;
  }
  .item-reply {
    @include icon-button('\e80e');
  }
  .item-edit {
    @include icon-button('\e814');
  }
  .item-delete {
    @include icon-button('\e815');
  }
  .item-apply,
  .item-request-confirm,
  .item-delete-confirm {
    @include icon-button('\e817');
  }
  .item-cancel,
  .item-request-reject,
  .item-delete-cancel,
  .item-moderation-cancel {
    @include icon-button('\e813');
  }
  .item-subscribe {
    @include icon-button('\e819');
  }
  .item-spoiler {
    @include icon-button('\e81b');
  }
  .item-abuse {
    @include icon-button('\e803');
  }
  .item-ban {
    @include icon-button('\e80a');
  }
}

@include responsive(desktop) {
  .item-mobile {
    display: none;
  }
}
@include responsive(tablet) {
  .item-mobile {
    color: #999;

    &:before {
      font-size: 22px!important;
      width: 30px!important;
    }
  }
  .comment-block {
    .item-mobile {
      margin-top: 5px;
    }
    .buttons {
      margin-top: 5px;
    }
  }
  .shiki-editor .buttons {
    float: none!important;
    margin-bottom: 5px!important;
    margin-top: 10px!important;

    .editor-image, .editor-underline, .editor-strike {
      display: none;
    }
    @include responsive(phone) {
      .group.first {
        display: none;
      }
      .editor-quote, .editor-file {
        display: none;
      }
      .group {
        margin-left: 0!important;
      }
    }
    @include responsive(narrow-phone) {
      .group.second {
        display: none;
      }
      .group {
        float: none!important;
      }
      .editor-smiley {
        margin-left: 0!important;
      }
      .editor-controls {
        float: none;
      }
    }
  }
  .buttons {
    height: auto!important;
    float: right!important;
    white-space: nowrap;
    margin-bottom: 10px;

    span {
      &:before {
        font-size: 22px!important;
        width: 30px!important;
      }
    }
  }
}
@include responsive(narrow-phone) {
  .comment-block .buttons {
    float: none!important;
    overflow: hidden;

    div {
      float: right;
    }
  }
  .buttons {
    .item-review {
      display: none;
    }
  }
}
