@import compass/utilities/general/clearfix
@import compass/css3/box-sizing
@import mixins/responsive

=columns($columns)
  +clearfix

  $gutter: 4%
  @if $columns == 1
    $gutter: 0%

  & > .column
    +box-sizing(border-box)
    float: left
    margin-right: $gutter
    position: relative
    width: 100% / $columns - $gutter

    &:first-child:last-child
      width: 100% - $gutter

    &:last-child
      margin-right: 0

.three-columns
  +columns(3)

.two-columns
  +columns(2)

  +ipad
    +columns(1)

.one-third-columns
  +columns(2)

  & > .column
    width: 66.6%

    &:first-child
      width: 33.3% - 4%

.two-third-columns
  +columns(2)

  & > .column
    width: 33.3%

    &:first-child
      width: 66.6% - 4%
