@import compass/utilities/general/clearfix
@import mixins/block
@import mixins/brackets_surrounded
@import mixins/clear_left
@import mixins/column
@import mixins/responsive

.cc
  +block
  +clear_left

.cc-2
  +clear_left
  &>.c-column
    +gte_ipad
      +column_b(2)
    +iphone
      +column_b(1)

.cc-2a
  +clear_left
  &>.c-column
    +column_b(2)

.cc-2_3
  +clear_left

  &>.c-column
    +gte_ipad
      &:first-child
        +column_b(2, 1/3)
      &:last-child
        +column_bm(2, 2/3)
    +iphone_landscape
      &:first-child
        +column_b(2, 1/3)
      &:last-child
        +column_bm(2, 2/3)

    +iphone_portrait
      +column_bm(1)

    &:first-child:last-child
      +column_bm(1)

.cc-4
  +clear_left
  &>.c-column
    +gte_ipad
      +column_b(4)
    +iphone-landscape
      +column_b(3)
    +iphone-portrait
      +column_b(2)

.cc-4a
  +clear_left
  &>.c-column
    +column_b(4)

.cc-5
  +clear_left
  &>.c-column
    +gte_ipad
      +column_b(5)
    +iphone-landscape
      +column_b(3)
    +iphone-portrait
      +column_b(2)

.cc-6
  +clear_left
  &>.c-column
    +gte_ipad
      +column_b(6)
    +iphone-landscape
      +column_b(4)
    +iphone-portrait
      +column_b(3)

.cc-8
  +clear_left
  &>.c-column
    +gte_ipad
      +column_b(8)
    +iphone-landscape
      +column_b(5)
    +iphone-portrait
      +column_b(3)

.cc-db_entry
  +block
  +clear_left
  margin-bottom: 0

  &>.c-image
    +gte_ipad
      +column_b(2)
      width: 30.5%

    +iphone-portrait
      +column_b(1)

    +iphone-landscape
      +column_b(2)

    img
      max-width: 100%

  &>.c-about
    +gte_ipad
      +column(2)
      width: 65.5%
      z-index: 1 // без этого нижний блок с description перекрывает текущий

    +iphone-portrait
      +column(1)

    +iphone-landscape
      +column(2)

    .c-info-left, .c-info-right
      +column_bm(2, 0.5, 6%)

      +iphone
        +column(1)

    &:after
      display: block
      clear: left

  &>.c-description
    +block_m
    margin-left: 34.6%
    padding-top: 1px // из-за странной баги в фаерфоксе

    +iphone
      clear: both
      margin-left: 0
