@import globals
@import mixins/responsive

h2.comments-header
  margin-bottom: 0

.bottom-add .comments-container
  margin-top: 0

$blue-color: #6cb2e4
$dark-blue-color: #619fcc

$grey-color: #6c6c6c
$dark-grey-color: #545454

.message-block, .comment-block
  border-top: 1px solid #DDDDDD
  min-height: 80px
  overflow: hidden
  padding-right: 5px
  padding-top: 3px
  position: relative

  .new-indicator
    +border-radius(3px 0 3px 3px)
    +box-shadow(rgba(0, 0, 0, 0.25), 1px, 1px, 3px)
    background: $grey-color
    border: 1px solid $dark-grey-color
    color: rgb(252, 252, 255)
    cursor: pointer
    display: block
    font-size: 10px
    font-weight: bold
    left: 38px
    margin-right: -4px
    padding: 1px 5px
    position: absolute
    top: 58px
    z-index: 99

    span
      +border-radius(0 3px 0 0)
      background-color: $dark-grey-color
      height: 4px
      position: absolute
      right: -1px
      top: -4px
      width: 5px

    &:hover
      background: $blue-color
      border: 1px solid $dark-blue-color

      span
        background-color: $dark-blue-color

    &:active
      background: $dark-blue-color
      border: 1px solid $dark-blue-color

  &.kinda-new .new-indicator,
  &.new .new-indicator
    background: $blue-color
    border: 1px solid $dark-blue-color

    span
      background-color: $dark-blue-color

    &:hover
      background: $grey-color
      border: 1px solid $dark-grey-color

      span
        background-color: $dark-grey-color

    &:active
      background: $dark-grey-color
      border: 1px solid $dark-grey-color

  .moderation-ban
    float: right
    margin: 20px 0 15px 15px

    .b-input input
      width: 140px

  .image-name
    +link-color(#111111)
    margin-top: 1px

    a
      color: inherit
      text-decoration: none

    img
      @inlclude avatar
      float: left
      margin: 2px 10px 3px 0
      width: 48px

    .name-date
      +ellipsis
      display: block

    .name
      font-size: 14px
      font-weight: bold

      .normal
        color: #555
        font-size: 13px

      &:hover
        color: inherit
        text-decoration: none

      &:active
        color: inherit

    .date
      +ellipsis
      color: $date-color
      display: inline
      font-size: 11px
      padding-left: 10px

      +responsive(tablet)
        display: block
        padding-left: 0
        line-height: $line-height

  .body
    margin: 2px 0 15px 0

    p
      margin-bottom: 3px
      text-indent: 15px

    li

    .text-poster
      float: left
      margin-right: 15px

    .image-poster
      margin: 5px
      height: 180px

    a
      +normal-link

    .bubbled,.bubbled-initialized
      +normal-link

  .poster-image
    float: right
    margin: 5px 5px 5px 15px

  .moderation
    color: #FF0000
    font-size: 10px

    header, footer
      color: #DD0000
      line-height: 10px

    article
      font-size: 12px

  h3
    margin-bottom: 3px

  &:first-child
    border-top: none

  .ban-message
    .details
      color: red

    img
      vertical-align: middle

  .is_updated
    +link-color($gray-color)
    cursor: pointer
    display: inline-block
    margin-bottom: 2px

    div
      display: inline-block
      font-size: 11px
      line-height: 20px
      padding-top: 0

    .actor
      +normal-link
      padding-left: 5px

      span
        padding-left: 19px

      img
        position: absolute
        margin-top: 2px

.topic-block .content blockquote
  margin-left: 0

/* в тултипе кнопок управления комментом не показываем и ставим другие отступы
.tooltip-details
  .comment-block, .topic-block
    padding: 0
    margin: 0

    .buttons
      display: none

    .body
      margin-bottom: 0px

    .new-marker
      display: none

.topic-block .body, .message-block, .comment-block, .tooltip-details, .item-content
  .description a
    +normal-link

  ul
    margin-left: 25px

    li
      list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAANCAMAAABW4lS6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAFKM////QIUK9QAAAAJ0Uk5T/wDltzBKAAAAGklEQVR42mJgBAEGokgGBjBGBxBxsBqAAAMACHwALd5r8ygAAAAASUVORK5CYII=)
      list-style-position: outside
      list-style-type: square
      margin-bottom: 5px

  .collapsed
    margin-top: 0px
    margin-bottom: 0px

  .spoiler
    +spoiler-new
    display: inline

    &.collapsed, &.collapse
      border-bottom: 1px dashed $selected-color

  .spoiler + .target
    display: inline

.edit-comment-block
  margin: 30px 0 15px 0 !important

.fullsize .add-comment-block .submit
  margin-left: 440px

.bottom-add .add-comment-block
  margin-bottom: 5px

.smileys
  .loader
    margin: 215px 0 0 360px

.smiley
  vertical-align: middle
  height: 38px

.new-marker, .review-marker, .offtopic-marker, .abuse-marker, .spoiler-marker
  cursor: pointer
  display: inline
  float: right
  font-size: 10px
  line-height: 15px
  margin-left: 15px
  margin-top: 4px
  padding: 0 3px

.new-marker, .spoiler-marker
  +transition(all, 0.25s)
  +transition(opacity, 0.75s)
  background-color: $hover-color
  color: white

  &:hover
    background-color: $hover-color-0

  &:active
    background-color: $active-color

.review-marker
  +transition(all, 0.25s)
  +transition(opacity, 0.75s)
  background-color: #4AAA4A
  color: white

  &:hover
    background-color: darken(#4aaa4a, 6%)

  &:active
    background-color: lighten(#4aaa4a, 4%)

.offtopic-marker
  +transition(all, 0.25s)
  +transition(opacity, 0.75s)
  background-color: #fdebf3
  color: #f58ebb

  &:before
    content: 'оффтоп'

  &:hover
    background-color: darken(#fdebf3, 3%)

  &:active
    background-color: lighten(#fdebf3, 0.5%)

.abuse-marker
  +transition(all, 0.25s)
  +transition(opacity, 0.75s)
  background-color: darken(red, 3%)
  color: white

  &:hover
    background-color: darken(darken(red, 3%), 10%)

  &:active
    background-color: lighten(darken(red, 3%), 3%)
