@import "globals";

.comments-notifier {
  @include transition-duration(300ms);
  @include transition-property('background-color');
  background: $hover-color;
  color: white;
  cursor: pointer;
  height: 25px;
  line-height: 25px;
  margin: 8px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 31px;
  width: 25px;

  &:hover {
    background-color: $hover-color-0;
  }
  &:active {
    background-color: $active-color;
  }
}
