@import "globals";

.contributors {
  @include clearfix;
  padding: 0 5px;

  a {
    @include normal-link;
  }
  p {
    float: left;
    margin-right: 5px;
    color: $gray-color;

    a {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
