@import "globals";

.drag-placeholder {
  @include border-radius(1px);
  @include box-sizing(border-box);
  @include transition('opacity,border-color,color', 0.5s);
  background: white;
  border: 3px dashed rgba(0, 0, 0, 0.6);
  font-family: Verdana, Arial;
  font-size: 25px;
  min-height: 89px; // минимальная высота textarea комментария //140px;
  position: absolute;
  text-align: center;
  z-index: 10;

  &.disallowed {
    border-color: rgba(255, 0, 0, 0.6);
    color: $red;
  }
  &.hovered.allowed {
    border-color: rgba(0, 255, 0, 0.6);
    color: $green;
  }
}
.drag-here-placeholder {
  @include clearfix;
  background-color: #F9F9F9;
  border: 1px dashed #CCC;
  min-height: 75px;
  padding: 0 10px;

  p {
    color: #555;
  }
  .image-container {
    margin-right: 11px;
    margin-bottom: 11px;
  }
  .thank-you {
    color: #008000;
    display: none;
    margin-bottom: 5px;
  }
  .b-upload_progress.active {
    margin-bottom: 3px;
  }
  input[type=file] {
    border: none;
    margin: 10px 0 5px -5px;
  }
}
