@import "globals";

.drag-placeholder {
  @include border-radius(1px);
  @include transition('opacity,border-color,color', 0.5s);
  @include box-sizing(border-box);
  background: white;
  border: 1px dashed rgba(0, 0, 0, 0.6);
  font-family: Verdana, Arial;
  font-size: 25px;
  position: absolute;
  text-align: center;
  z-index: 10;

  &.disallowed {
    border-color: rgba(255, 0, 0, 0.6);
    color: red;
  }
  &.hovered.allowed {
    border-color: rgba(0, 255, 0, 0.6);
    color: green;
  }
}
.drag-here-placeholder {
  @include clearfix;
  background-color: #F9F9F9;
  border: 1px dashed #CCC;
  min-height: 75px;
  padding: 0 5px;

  p {
    color: #555;
  }
  .image-container {
    margin-right: 11px;
    margin-bottom: 11px;
  }
  .thank-you {
    clear: both;
    display: none;
    margin-top: -10px;
  }
  .upload-progress.active {
    margin-bottom: 3px;
  }
}
