@import "globals";

.feedback-hover-activator {
  left: 0;
  top: 273px;
  height: 129px;
  z-index: 1;
  width: 3px;
  position: fixed;
  background: #6d98cc;
}
.feedback-hover-activator:hover + .feedback {
  z-index: 1001;
}

.feedback {
  cursor: pointer;
  display: block;
  position: fixed;
  left: 0;
  top: 270px;
  z-index: 0;

  div {
    height: 135px;
    width: 31px;
  }
  &:hover {
    z-index: 1001;
  }
}

.feedback-container {
  margin: 0 auto;
  position: fixed;
  top: 270px;
  width: $site-body-width - 17;
  z-index: 1002;
  padding: 8px 8px 0 10px;
  background: white;

  .text {
    margin-bottom: 8px;
  }
  .editor-controls {
    margin-right: 40px;
  }
  .editor-smiley {
    display: none;
  }
  .warn {
    color: red;
  }
  .post-here {
    @include text-font;
    color: $gray-color-2;
    position: absolute;
    right: 22px;
    margin-top: -32px;
    font-size: 11px;
  }
  .post-here-arrow {
    margin-top: -16px;
    position: absolute;
    right: 98px;
  }
}
