@import globals

.feedback-hover-activator
  background: #6d98cc
  display: none
  height: 129px
  left: 0
  position: fixed
  top: 273px
  width: 3px
  z-index: 1

  +responsive(desktop)
    display: block

  &:hover + .feedback
    z-index: 1001

.feedback
  cursor: pointer
  display: none
  position: fixed
  left: 0
  top: 270px
  z-index: 0

  +responsive(desktop)
    display: block

  div
    height: 135px
    width: 31px

  &:hover
    z-index: 1001

.feedback-container
  background: white
  margin: -150px auto 0
  padding: 8px 8px 0 10px
  position: fixed
  top: 50%
  width: $site-body-width - 17
  z-index: 1002

  .text
    margin-bottom: 8px

    a
      +normal-link

  .editor-controls
    margin-right: 40px

  .editor-smiley
    display: none

  .warn
    color: red

  .post-here
    color: $gray-color-2
    position: absolute
    right: 22px
    margin-top: -32px
    font-size: 11px

  .post-here-arrow
    margin-top: -16px
    position: absolute
    right: 98px
