@import "globals";

form {
  /*.item-offtopic {*/
    /*display: none;*/
  /*}*/
  .field-name {
    border-bottom: none;
    font-weight: normal;
    margin-bottom: 0;
  }
  .action-misc {
    color: $gray-color;
    display: block;
    font-size: 11px;
    line-height: $line-height;

    &:first-child {
      padding-left: 0;
    }
    &.warn {
      color: red;
    }
  }
}
