@import globals
@import mixins/dash_separated
@import mixins/hover_underlined

.header-filters
  float: right
  margin-left: 20px

  .filter-line
    line-height: 17px
    font-size: 12px

    a
      +dash_separated
      text-decoration: underline

      &.current
        color: #123
        text-decoration: none
        cursor: default

    .title
      font-weight: bold
      color: #123
      padding-right: 6px
