@import "globals";

.header-filters {
  float: right;
  margin-left: 20px;

  p {
    line-height: 17px;
    font-size: 12px;
  }
  a {
    @include link-color($gray-color-2);

    &.current {
      color: #123;
    }
  }
  .title {
    font-weight: bold;
    color: #123;
    padding-right: 6px;
  }
  .sep {
    font-size: 11px;
  }
}
