@import globals
@import mixins/input
@import mixins/hover_underlined
@import mixins/links

header.head
  margin-bottom: 15px

  h1, h2
    +new-header-font

  .h1-like
    +new-header-font

    a.back
      +link_color
      display: inline-block
      font-size: 24px
      padding-right: 14px

      &:before
        padding-right: 5px
        content: '←'

      &:hover span
        text-decoration: underline

  .notice
    line-height: 17px
    color: #333
    margin: 2px 0 2px 1px
    clear: left

  a.link

  &.misc
    h1, h2
      float: left
      margin-bottom: 2px

    .misc
      color: $gray-color
      font-family: $font-family
      display: inline-block
      font-size: 11px
      line-height: 12px
      padding: 17px 0 0 10px

    a.misc
      +normal-link
      //text-decoration: underline

.headline
  +transition(color, 0.2s)
  +ellipsis
  background: darken(#ebeef1, 1%)
  border-left: 5px solid darken(#dbe0e6, 1%)
  color: #123
  font-size: 18px
  line-height: $line_height
  font-weight: bold
  margin-bottom: 5px
  padding: 4px 10px 2px
  text-transform: uppercase

  a
    +ellipsis
    +transition(color, 0.2s)
    color: #123
    display: block
    text-decoration: none
    padding-right: 20px

    &:before
      +transition(color, 0.2s)
      color: $gray-color
      content: "\e81c"
      font-family: "shikimori"
      position: absolute
      right: 10px

    &:hover
      color: $link_hover

      &:before
        color: $link_hover

    &:active
      color: $link_active

      &:before
        color: $link_active

.midheadline
  @extend .headline
  font-size: 16px
  padding-top: 3px
  padding-bottom: 2px

.subheadline
  @extend .headline
  margin-bottom: 5px

  +gte_ipad
    font-size: 14px
    padding: 6px 10px 4px 8px
    line-height: 14px

  +iphone
    font-size: 16px
    padding-top: 3px
    padding-bottom: 2px

// инпунт с правого края заголовка
.subheadline-input
  +input
  font-size: 12px
  height: 20px
  line-height: 17px
  margin-right: 2px !important
  margin-top: 2px !important
  position: absolute
  right: 0
  width: 155px !important

.subcontent
  padding-left: 5px
  margin-bottom: 30px
