@import "compass/css3/box-shadow";
@import "globals";
@import "mixins/responsive";
@import "mixins/button";

// всплывающие формы
@include responsive(desktop) {
  .hover-form {
    @include box-shadow(rgba(0, 0, 0, 0.2), 1px, 3px, 3px);
    display: none;
    padding: 5px;
    background: #292929;
    border: 1px solid #333;
    color: #EEEEEE;
    position: absolute;
    z-index: 1001;

    a {
      color: #ddd;
      text-decoration: underline;

      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
    .common {
      width: 97%;
    }
    .form-buttons {
      text-align: center;

      .control {
        padding-right: 10px;
        margin-right: 10px;
        border-right: 1px solid #bbb;

        &:last-child {
          border-right: none;
          margin-right: 0;
          padding-right: 0;
        }
      }
    }
    .link {
      color: #EEEEEE;
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid #86b226;
      }
    }
  }
}

@include responsive(tablet) {
  .with-hovered-form {
    .page, #shade {
      display: none!important;
    }
    .hover-form {
      width: auto!important;
      background: white;
      padding: 5px 10px 15px;
      color: #333;

      a {
        @include normal-link;
      }
      input.common {
        font-size: 14px;
        line-height: 23px;
        width: 97%;
      }
    }
    .form-buttons {
      font-size: 14px;
      margin-top: 10px;
      text-align: center;

      .control {
        @include button;
        margin: 0 5px 0;

        span {
          font-size: 14px;
          font-weight: normal;
        }
      }
    }
  }
}
