@import "globals";
@import "globals/fonts";
@import "mixins/icons";
@import "mixins/link";

.item-minus {
  @include icon_button('-');
}
.item-add {
  @include icon_button('+');
}

/* разделы навигации */
.b-navigation, .sections {
  li span {
    display: block;
  }
  .info {
    @include menu_icon('\e823');
  }
  .stats {
    @include menu_icon('\e81d');
  }
  .characters {
    @include menu_icon('\e81e');
  }
  .similar {
    @include menu_icon('\e82a');
  }
  .reviews, .reviews-index {
    @include menu_icon('\e820');
  }
  .cosplay {
    @include menu_icon('\e831');
  }
  .screenshots {
    @include menu_icon('\e82c');
  }
  .videos {
    @include menu_icon('\e82b');
  }
  .images {
    @include menu_icon('\e809');
  }
  .files {
    @include menu_icon('\e82d');
  }
  .comments {
    @include menu_icon('\e80e');
  }
  /* группы */
  .members {
    @include menu_icon('\e824');
  }
  .settings {
    @include menu_icon('\e822');
  }
}

/* действия */
.actions {
  li span {
    display: block;
  }
  .comment {
    @include menu_icon('\e80e');
  }
  .reviews-edit {
    @include menu_icon('\e820');
  }
  .list-add {
    @include menu_icon('+');
  }
  .list-remove {
    @include menu_icon('-');
  }
  .fav-remove {
    @include menu_icon('\e829');
  }
  .fav-add {
    @include menu_icon('\e819');
  }
  .edit-entry {
    @include menu_icon('\e822'); // TODO: удалить из шрифта
    @include menu_icon('\e814');
  }
  /* группы */
  .upload {
    @include menu_icon('\e80c');
  }
  .invite {
    @include menu_icon('\e826');
  }
  .join {
    @include menu_icon('\e826');
  }
  .leave {
    @include menu_icon('\e827');
  }
}

// дейсвтия в профиле
.icon-actions {
  .fav-add {
    @include icon_button('\e819');
  }
  .fav-remove {
    @include icon_button('\e819');
    @include link_color;
  }
}


/* редактирование */
.editions {
  .edit-description {
    @include menu_icon('\e82e');
  }
  .edit-russian {
    @include menu_icon('\e82f');
  }
  .edit-screenshots {
    @include menu_icon('\e82c');
  }
  .edit-videos {
    @include menu_icon('\e82b');
  }
  .edit-cancel {
    @include menu_icon('\e830');
  }
  .edit-torrents_name {
    @include menu_icon('\e82d');
  }
}

/* переводы */
.translations {
  .translation_planned {
    @include menu_icon('\e818');
  }
  .translation_finished {
    @include menu_icon('\e825');
  }
}

/* статусы просмотра/чтения */
.rate-statuses {
  #rate-status-0 {
    @include menu_icon('\e833');
  }
  #rate-status-1 {
    @include menu_icon('\e834');
  }
  #rate-status-2 {
    @include menu_icon('\e835');
  }
  #rate-status-3 {
    @include menu_icon('\e836');
  }
  #rate-status-4 {
    @include menu_icon('\e837');
  }
}

/* профиль пользователя */
.profile .left-block {
  .profile {
    @include menu_icon('\e81d');
  }
  .inbox, .notifications, .sent {
    @include menu_icon('\e81f');
  }
  .comments {
    @include menu_icon('\e80e');
  }
  .friends {
    @include menu_icon('\e81e');
  }
  .reviews {
    @include menu_icon('\e820');
  }
  .changes {
    @include menu_icon('\e821');
  }
  .settings {
    @include menu_icon('\e822');
  }

  .ban {
    @include icon_button('\e80a');
  }
  .ignore-add {
    @include icon_button('\e812');
  }
  .ignore-remove {
    @include icon_button('\e812');
    @include link_color;
  }
  .talk {
    @include icon_button('\e80e');
  }
}

.rss {
  @include icon_button('\e81a');
  color: $gray-color!important;
  float: right;
  margin-right: -7px!important;
  margin-top: -3px;

  &:before {
    font-size: 12px!important;
  }
  &:hover {
    color: $link_hover!important;
    text-decoration: none!important;
  }
  &:active {
    color: $link_active!important;
  }
  &:after {
    content: ''!important;
  }
}
