@import "globals";
@import "mixins/log_entry";

.item-editor {
  h2 {
    margin-bottom: 5px;
  }

  .warning {
    color: $red;
    margin-bottom: 2px;
  }
  .item-content-editor-buttons {
    .item-apply {
      @include headline-icon-button('\e821');
      margin-left: 5px!important;
    }
    .item-save {
      @include headline-icon-button('\e817');
      margin-left: 5px!important;
    }
    .item-cancel {
      @include headline-icon-button('\e813');
      margin-left: 5px!important;
    }
  }
  .item-content-editor {
    margin-bottom: 20px;

    a {
      @include normal-link;
    }
    .shiki-editor {
      border-top: none!important;
    }
    .item-offtopic, .image-name {
      display: none!important;
    }
    .source {
      margin-top: -5px;
      white-space: nowrap;

      input {
        width: 635px;
      }
    }
    .label {
      input {
        margin-left: 5px;
        margin-top: 4px;
        width: 722px;
      }
    }
  }
  .item-bbcontent {
    display: none;
  }

  .changes {
    clear: left;

    .change {
      @include log_entry;
    }
  }
  .alert {
    color: red;
  }
  // отображение в режиме модерации но без дополнительной информации
  .no-change-details {
    .column, .id {
      display: none;
    }
  }
}
.screenshots-editor {
  .item-content-editor {
    display: none;
  }
}
.screenshots-uploader {
  padding-bottom: 30px;

  .comment-block {
    overflow: initial;
  }
  .inner {
    min-height: 50px!important;
  }
  .item-upload {
    @include headline-icon-button('\e80c');
    span {
      width: 90px;
    }
    input {
      @include opacity(0);
      cursor: pointer;
      height: 20px;
      margin: 0px;
      padding: 0px;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 90px;
      z-index: 1;
    }
  }
}
