@import "globals";

.item-block {
  float: left;
  width: 123px;
  height: 160px;
  overflow: hidden;

  .name,
  .role {
    @include ellipsis;
    padding: 0px;
    text-align: center;
  }
  .role {
    font-size: 12px;
    color: #123;
    line-height: $line-height;
  }
  &:hover .name {
    text-decoration: underline;
  }
  .name {
    @include normal-link;
  }

  .image {
    height: 120px;
  }

  &.full-size {
    height: 260px;
    width: 190px;

    .image {
      height: auto;
    }
  }

  &.c1,&.c2,&.c3,&.c4 {
    height: 270px;
    overflow: hidden;
    width: 185px;
    .image {
      height: 240px;
    }
  }
  &.c5 {
    width: 145px;
    height: 220px;
    .image {
      height: 190px;
    }
  }
}
.user-block {
  height: 115px;
}
.person-block,.person-block-wide {
  .image {
    height: auto;
    max-height: 120px;
  }
}

.tooltip {
  .item-block {
    float: right;
    .role {
      color: #333;
    }
    .name {
      @include normal-link;
      line-height: 16px;
    }
  }
}
