.lang-trigger {
  background: transparent;
  float: right;
  font-size: 11px;
  line-height: 20px;
  padding: 0;
  margin: -5px 0 5px 15px;

  span {
    color: #666;
    cursor: pointer;
  }
}
.item-content {
  .english {
    display: none;
  }
}
