@import compass/css3/transition
@import globals
@import mixins/responsive

.main-search
  .input
    background-color: #fcfcfc
    border-color: #ddd
    color: #333
    cursor: pointer

    input
      background-color: transparent
      border: none
      cursor: pointer
      display: block
      margin: 0
      padding: 0

  .popup
    li
      +transition(backround-color, 0.3s)
      +transition(color, 0.3s)
      color: #f9f9f9
      background-color: transparent
      cursor: pointer
      height: 22px

      &:hover
        background-color: #555
        color: white

      &.active
        background-color: #282828
        cursor: inherit

      &:active
        background-color: #333

+gt_ipad
  .main-search
    padding-left: 0 !important
    padding-right: 9px !important

    &:hover
      background: transparent !important

    .input
      height: 20px
      margin: 0
      overflow: hidden
      padding: 4px 5px
      width: 175px

      input
        font-family: Tahoma
        font-size: 11px
        line-height: 13px
        width: 167px

        &.ac_loading
          width: 167px
          padding-right: 19px

    &.hovered .popup
      height: 175px
      margin-top: 6px

    ul.popup
      +transition(height, 0.3s)
      background: #3F3F3F
      border: 2px solid #363636
      border-top: none
      height: 0
      margin-left: -2px
      margin-top: 0
      overflow: hidden
      position: absolute
      z-index: 1000

      &.disabled
        margin-top: 0 !important
        height: 0 !important

      li
        border-bottom: 1px solid #aaa
        font-family: Tahoma
        font-size: 11px
        line-height: 22px
        padding: 0 5px 0 8px
        width: 172px

        &:last-child
          border-bottom: none

    .suggest-placeholder
      margin-top: -5px
      margin-left: -6px

  .chrome .suggest-placeholder
    margin-top: -3px

+lte_ipad
  .menu-suggest
    display: none !important

  .menu-search
    .main-search
      padding-right: 10px !important
      padding-left: 10px !important

    .input
      height: 26px
      margin: 3px
      padding: 3px 5px 3px
      width: 100%

    input
      font-size: 14px
      line-height: 20px
      width: 100%

      &.ac_loading
        background: transparent !important

    .popup
      padding: 5px
      line-height: 20px

      li
        display: inline-block
        line-height: 24px
        font-size: 13px
        padding: 2px 8px 2px 8px
        height: auto
