@import "globals";

.menu-block {
  margin-bottom: 30px;
  &.editions {
    display: none;
  }
  &:last-child {
    margin-bottom: 0;
  }
  .subcontent:last-child {
    margin-bottom: 0;
  }
}

// второстепенный текст в меню
@mixin menu-block-misc-text {
  @include ellipsis;
  color: $gray-color-2!important;
  display: block;
  font-size: 11px;
  line-height: 19px;

  &.date {
    color: $date-color!important;
  }
}

// дефолтный блок меню с картинкой и текстом
@mixin menu-block-with-image {
  border-top: 1px dashed #DDD;
  padding-top: 7px;
  margin-bottom: 4px;

  &:first-child {
    border-top: none;
    margin-top: -5px;
    padding-top: 0;
  }
  a {
    @include link-color(#444);
  }
  img {
    float: left;
    margin: 2px 10px 5px 2px;
    height: 52px;
  }
  .anons {
    color: #307A3D;
  }
  .release {
    color: #ca4929;
  }
  .anons, .release, .ongoing {
    display: inline;
    padding-left: 5px;
    padding-right: 1px;
  }
  .anons:first-child, .release:first-child, .ongoing:first-child {
    padding-left: 0;
  }
  .title {
    @include ellipsis;
    @include text-font;
    display: block;
    font-weight: bold;
    font-size: 14px;
  }
  .misc {
    @include menu-block-misc-text;
  }
}
