@import "globals";

.options-floated {
  @include text-font;
  color: #acb1b4;
  font-size: 11px;
  line-height: 12px;
  margin-top: 6px;
  position: absolute;
  right: 10px;

  &.r10 {
    margin-right: 10px;
  }
  .pointer {
    cursor: pointer;
  }
  // страница контестов - options-floated, отображающий количество участников
  &.count {
    color: $gray-color-2;
  }
  // страница персонажа - переключение типов
  a,.link {
    @include link-color(#acb1b4);
    color: inherit;
    cursor: pointer;
  }
  // список пользователя
  .action {
    @include link-color(#123);
    @include transition(color, 0.2s);
    cursor: pointer;
  }
  .selected {
    color: #123;

    &:hover {
      color: #123;
      cursor: default;
    }
  }
}
.column .options-floated {
  right: 25px;
}
