@import "globals";

.postloader {
  display: block;
  margin: 0 0 22px 0;

  &.new {
    @include gray-block;
    margin: 0;
    padding: 8px 0;
    text-align: center;
  }
  .next {
    float: right;
    font-size: 11px;
    margin-right: 10px;
  }
  .prev {
    float: left;
    font-size: 11px;
    margin-left: 10px;
  }
}
