@import "globals";

.rate-block {
  width: 215px;

  .scores-outer {
    height: 32px!important;
  }
  .scores-inner {
    background: #cccccc;
    overflow: hidden;
    position: relative;
  }
  .scores-size {
    width: 160px;
    /*height: 32px;*/
    height: 30px;
  }
  .shade-score {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #a1a1a1;
  }
  .user-score {
    position: absolute;
    top: 0px;
    left: 0px;
    /*background: #ffcc1c;*/
    /*background: #64B2FF;*/
    /*background: #5d86b4;*/
    /*background: #01a809;*/
    background: #4c86c8;
  }
  .hovered .user-score {
    background: #FF9231;
  }
  .rated .background {
    cursor: default!important;
  }
  .background {
    position: absolute;
    background: inline-image('/blocks/rate/star.png') repeat-x scroll left top transparent;
    top: 0pt;
    left: 0pt;
    cursor: pointer;
  }
  .star-size {
    width: 32px;
    height: 32px;
  }
  .star-size-half {
    width: 16px;
    height: 32px;
  }

  .scores-label {
    color: #444444;
    float: right;
    font-family: 'Arial Black','Arial',sans-serif;
    font-size: 20px;
    margin: 6px 0 0 0;
  }
  .scores-label-description {
    font-family: helvetica,arial,sans-serif;
    font-size: 11px;
    line-height: 11px;
    text-align: right;
  }
}
.scores-user .scores-label {
  font-size: 24px;
  margin: 5px 0 0 0;
  text-align: center;
  width: 50px;
}
