@import "compass/css3/opacity";
@import "compass/css3/transition";

.to-top {
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 120px;
  z-index: 0;

  .slide {
    @include opacity(0);
    @include transition-property(opacity);
    @include transition-duration(0.3s);
    background: #f0f0f0;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 60px;
  }
  &:hover {
    .slide {
      @include opacity(0.6);
    }
  }
  &:active {
    .slide {
      @include opacity(0.85);
    }
  }
  .arrow {
    color: #4D7285;
    font-family: tahoma;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    left: 0;
    position: fixed;
    text-align: center;
    top: 5px;
    width: 60px;
  }
}
