@import "globals";

.user16 {
  @include text-font;
  @include link-color(#333);
  float: left;
  margin-right: 10px;
  white-space: nowrap;

  img {
    display: block;
    float: left;
    margin: 2px 5px 0 0;
  }
}
