@import mixins/ellipsis2
@import mixins/responsive

.p-db_entries-edit
  .b-list
    .field
      display: inline-block
      color: $gray-3

      &:after
        content: ':'

    .value
      display: inline

      & > span:not(:empty),
      & > a:not(:empty)
        margin-left: 5px

      &.under_development
        font-size: 11px

      .hint
        color: $gray-2
        display: block
        font-size: 11px
        line-height: 1.34

    .sample
      +ellipsis2
      font-size: 12px

    .run-mal-parser
      margin-left: 12px !important

  .dangerous-actions
    .collapsed
      background-color: lighten(#fedddf, 2%)
      border-color: darken(#fedddf, 1%)
      color: #fc575e

      +gte_laptop
        &:hover
          background-color: #fedddf
          border-color: darken(#fec2c5, 2%)

      &:active
        background-color: darken(#fedddf, 2%)
        border-color: darken(#fec2c5, 3%)
