@import compass/utilities/general/clearfix
@import globals/variables
@import mixins/responsive

.p-topics-new, .p-topics-edit, .p-topics-create, .p-topics-update
  .topic_video
    +gte_ipad
      float: right
    +iphone
      margin-bottom: $block_offset / 2

    .title
      font-weight: bold
      margin-bottom: 5px

    label
      display: inline-block
      margin-right: 7px

    +gte_ipad
      .video-kind
        width: 76px

      .video-kind, .video-name
        display: inline-block

        &.video-kind
          margin-right: $block_offset

        input
          max-width: 257px

  .topic_posters
    clear: right
    margin-bottom: $block_offset * 1.5

    .title
      font-weight: bold

      +gte_ipad
        margin-top: -25px
        position: absolute

      +iphone
        margin-bottom: 5px

    .b-input
      margin-bottom: 0

  .topic_linked
    +clearfix
    margin-bottom: $block_offset / 2

    .topic-link
      margin-top: -15px
      margin-bottom: 20px

    .topic-video
      float: right
      margin-top: 23px

      +iphone
        display: none

    select.type
      margin-left: 15px

  .b-shiki_editor
    .title
      font-weight: bold
      margin-bottom: 7px

  input[type=submit]
    margin-top: $block_offset / 2
