@import mixins/block
@import mixins/icons
@import mixins/image_editable
@import mixins/link
@import mixins/menu-blocks

.p-topics .l-menu
  .sponsors
    margin-top: $block-offset * 1.5

  .forums
    +block

    .b-form
      overflow: visible

    .forum
      input
        margin-right: 6px

      .link
        +link
        font-size: 13px
        font-weight: bold

      .threads
        color: $gray-2
        float: right
        font-size: 12px

    .ajax-loading
      display: none
      position: absolute
      width: 32px

    .reload
      +js_link
      display: none
      font-size: 12px
      margin-top: 5px
      position: absolute

  .calendar .entry,
  .reviews .entry,
  .clubs .entry,
    +menu-block-with-image

  .naruto
    +image_editable

    img
      max-width: 100%

    &.deleted
      display: none

  .clubs .entry img
    width: 35px
    height: 35px

  .sticked-topics .topic,
    +menu-block-with-text-link

  .b-clubs-menu, .b-contests-menu
    .actions
      display: none
