@import mixins/green_form

.p-topics-edit
  .premoderation-note
    background: #f0defa
    border-bottom: 1px solid darken(#f0cefa, 10%)
    border-top: 1px solid darken(#f0cefa, 10%)
    color: darken(#af7ed4, 3%)
    margin: 15px 0 15px
    padding: 7px 15px 7px
