@import mixins/css4
@import mixins/block

.p-topics-new
  .topic-type
    &:hover
      .type-name > span
        text-decoration: underline
      .type-preview
        +css4
          border-color: var(--link-border-hover-color)

    .type-name
      display: block
      font-size: 18px
      font-weight: bold
      text-align: center
      margin-bottom: 5px

    // 1750x1480
    .type-preview
      border: 5px solid #eee
      max-width: 100%

  .news-rules
    .rules
      +block

    .next-url
      display: flex
      justify-content: space-around
