<html>
  <body style='margin: 0;'>
    <!-- Pingmedia 240x400 code START-->
    <script language="javascript" type="text/javascript"><!--
    if(typeof(ar_cn)=="undefined") var ar_cn=1;
    var ar_Tail=document.referrer ? escape(document.referrer) : 'unknown';
    var ar_link="http://ad.adriver.ru/cgi-bin/erle.cgi?sid=196598&bt=49&target=blank&tail256=" + ar_Tail;
    document.write('<div style="visibility:hidden;height:0px;"><iframe id="ar_container_'+ar_cn+'" width=1 height=1 marginwidth=0 marginheight=0 scrolling=no frameborder=0><\/iframe><\/div><div id="ad_ph_'+ar_cn+'"><\/div>');
    function ar_getDoc(t,n,l){var doc;if(t<100){if(document.all && !window.opera){doc = window.frames['ar_container_'+n].document}
    else if(document.getElementById){doc=document.getElementById('ar_container_'+n).contentDocument}
    if(!doc){setTimeout('ar_getDoc('+(++t)+','+n+',"'+l+'")', 100)}else {var RndNum4NoCash = Math.round(Math.random() * 1000000000);
    doc.write ('<sc'+'ript language="JavaScript" type="text/javascript">var ar_bnum='+n+';<\/sc'+'ript>');
    doc.write ('<sc'+'ript language="JavaScript" type="text/javascript" src="'+l+'&rnd='+RndNum4NoCash+'"><\/sc'+'ript>');}}}
    (function(num,link){function addEvent(e,t,f){if(e.addEventListener)e.addEventListener(t,f,false);else if(e.attachEvent)e.attachEvent('on'+t,f)}
    function removeEvent(e,t,f){if(e.removeEventListener)e.removeEventListener(t,f,false);else if(e.detachEvent)e.detachEvent('on'+t,f)}
    var BannerLoader={top:0,height:400,cm:document.compatMode=="CSS1Compat",
    scroll:function(){var ch=self.innerHeight||this.cm&&document.documentElement.clientHeight||document.body.clientHeight;
    var st=self.pageYOffset||this.cm&&document.documentElement.scrollTop||document.body.scrollTop;
    var sh=self.scrollHeight||this.cm&&document.documentElement.scrollHeight||document.body.scrollHeight;
    if((st-this.top<=this.height*0.2&&st+ch-this.top>=this.height*0.8)||(sh-this.top<=this.height*0.8&&(sh-st-ch<1||sh<ch))){
    removeEvent(window,'scroll',this.sfunc);ar_getDoc(0,num,link)}},
    sfunc: function(){BannerLoader.scroll()},init:function(){var t=this,obj=document.getElementById('ad_ph_'+num);
    if(obj){while(obj.offsetParent){t.top += obj.offsetTop; obj = obj.offsetParent}
    addEvent(window,'scroll',this.sfunc);t.scroll()}}};addEvent(window, 'load', function(){BannerLoader.init()})})(ar_cn++,ar_link);
    //--></script>
    <!-- Pingmedia 240x400 code END -->
  </body>
</html>
