<div class="translation">
  <% @goals.each do |goal| %>
    <div class="goal">
      <h3><%=goal[0] %></h3>
      <%#=render :partial => 'animes/translate_block.html.erb', :object => goal[1] %>
      <% goal[1].each_with_index do |anime,k| %>
        <p>
          <%=k+1 %>.
          <%=link_to anime.name.html_safe, anime_url(anime), class: 'bubbled', 'data-remote' => true, 'data-href' => self.respond_to?("tooltip_#{anime.class.name.downcase}_url") ? self.send("tooltip_#{anime.class.name.downcase}_url", anime) : '' %>
          <% if @translates.include?(anime.id) %>
            <span class="locked-by unlockable" title="Автор">
              <%=@translates[anime.id].user.nickname %>
            </span>
          <% end %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
<br clear="both"/>
