<div class="examples">
  <p>У некоторых аниме появились <span style="color: green">зелёные сноски</span>, они означают, что у аниме текущее описание слишком короткое. Хорошим вариантом будет описание с текстом в 500-600 символов, как показано на скриншоте ниже.</p>
  <img src="http://imagizer.imageshack.us/v2/800x600q90/30/kflj.png" />
  <img src="http://imagizer.imageshack.us/v2/800x600q90/43/4cdu.png" />
</div>

<div class="translation">
  <% @goals.each do |goal| %>
    <div class="goal">
      <h3><%=goal[0] %></h3>
      <%=render :partial => 'animes/translate_block.html.erb', :object => goal[1] %>
    </div>
  <% end %>
</div>
<br clear="both"/>
