= render 'styles/editor',
  style: @resource.style,
  default_backgrounds: false,
  css_hint: 'Если тут написано хоть что-то, то полностью отменяет стили пользователя.',
  cancel_url: club_url(@resource)
