<div class="search">
  <input class="search" autocomplete="off" type="text" value="Поиск" />
  <img class="search" src="/images/search.gif" />
</div>
<div class="login">
  <a href="" class="link-login">Вход</a>
</div>
<div class="register">
  <a href="" class="link-register">Регистрация</a>
</div>
