= render layout: 'page' do
  .subheadline.m5 = og.headline
  = render 'comments/form',
    comment: @new_comment,
    cache_key: "#{@resource.cache_key}/broadcast",
    is_broadcast: true,
    next_url: club_url(@resource)
