---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/video.get?access_token=USER_ACCESS_TOKEN_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&v=5.131&videos=98023184_165811692
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":1,"items":[{"id":165811692,"owner_id":98023184,"title":"SAO
        AMV Sword Art Online (skillet-rise)","duration":232,"description":"","date":1374189566,"comments":122,"views":10241,"photo_130":"https:\/\/pp.userapi.com\/c514511\/u98023184\/video\/s_297a36bb.jpg","photo_320":"https:\/\/pp.userapi.com\/c514511\/u98023184\/video\/l_81cce630.jpg","player":"https:\/\/vk.com\/video_ext.php?oid=98023184&id=165811692&hash=6d9a4c5f93270892&__ref=vk.api&api_hash=1535560435f94cded92920af19df_GEZTMOBVGIZTS","can_add":1}]}}'
  recorded_at: Wed, 29 Aug 2018 16:33:46 GMT
recorded_with: VCR 6.0.0
