<h1>Test AdMilk</h1>

<p>240x400</p>
<!-- SmartBN (240x400) for Play.Shikimori.org -->
<div id="_sbn3_8712"></div>
<script type="text/javascript"><!--
var _sbn3_pid='8712';
// -->
</script>
<script type="text/javascript" src="http://files.smartbn.ru/sbn3.js" charset="utf-8"></script>
<!-- SmartBN -->
