h1 Advertur test
.ads_container
  = render partial: 'anime_online/blocks/advertur_728x90'
br

div : a href="#{pingmedia_test_2_url}" page2 link

br
.ads_240x400
  = render partial: 'anime_online/blocks/advertur_240x400'
