h1 page2
= render 'sponsors/ad', ad: Ad.new(728, 90), obtrusive: true
br
div: a href="#{pingmedia_test_1_url}" page1 link
div: a href="#{advertur_test_url}" page1 link (adverture)
br
= render 'sponsors/ad', ad: Ad.new(240, 400), obtrusive: true
br
