h1 page2
= render 'spnsrs/ad', ad: Ad.new(:advrtr_x728)
br
div: a href="#{pingmedia_test_1_url}" page1 link
div: a href="#{advertur_test_url}" page1 link (adverture)
br
= render 'spnsrs/ad', ad: Ad.new(:advrtr_x240)
br
