h1 page2
= render 'spnsrs/ad', ad: Ad.new(728, 90)
br
div: a href="#{pingmedia_test_1_url}" page1 link
div: a href="#{advertur_test_url}" page1 link (adverture)
br
= render 'spnsrs/ad', ad: Ad.new(240, 400)
br
