h1 page1
.ads_container = render partial: 'anime_online/blocks/ads_top_line'
br
div: a href="#{pingmedia_test_2_url}" page2 link
br
.ads_container = render partial: 'anime_online/blocks/ads_240x400'
br
