/*
= require pages/forum/common
*/

@import "globals";

.about {
  .comment-block.menu-block, .members-block .members-block {
    margin-bottom: 0;
  }
  .to-main-topic {
    @include plashka;
    margin-bottom: 7px;
    margin-top: 7px;
    display: block;
  }
  .members-block {
    margin-bottom: 30px;
    overflow: hidden;

    .item-block {
      height: 40px;
      width: 40px;

      .name {
        display: none;
      }
    }

    &.left {
      margin-right: 30px;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  .forum-container {
    width: 100%;

    .shiki-editor textarea {
      width: 98%!important;
    }
  }

  .traffic-chart, .comments-chart, .users-chart {
    height: 250px;
  }
  .half-chart {
    display: inline-block;
    position: relative;

    width: 475px;
    & + .half-chart {
      margin-left: 30px;
    }
  }
}
