//= require_tree ./globals
//= require_tree ./vendor
//= require ./layouts/reset
//= require ./layouts/l-page
//= require ./layouts/l-menu
//= require ./layouts/l-footer
//= require ./layouts/screen
//= require_directory ./layouts/top_menu
//= require_tree ./blocks
//= require_tree ./lib

//= require pages/p-topics
//= require pages/p-animes
//= require pages/p-characters
//= require pages/p-seyu
//= require pages/p-people
//= require pages/p-animes_collection-index
//= require pages/p-recommendations-index

@import globals
@import mixins/responsive
@import mixins/links

body
  background-image: inline-image("/background/square_bg.png")
  font-family: $font-family
  font-size: 13px
  -webkit-overflow-scrolling: touch

  +lte_ipad
    background: none !important

  &.chrome
    text-rendering: auto
  &.no-smileys .smiley
    display: none

a
  +link_color
  -moz-outline-style: none
  outline: none
  text-decoration: none

p
  line-height: $line_height

  a
    text-decoration: underline

div.body
  line-height: $line_height

  a
    text-decoration: none

    &:hover
      text-decoration: underline

img
  border: none

strike
  color: #555
em
  font-style: italic
strong, b
  font-weight: bold

input, select, button, textarea
  border: 1px solid #999999
  font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 13px
  outline: none
select
  font-size: 11px
textarea
  line-height: $line_height
input[type=radio]
  border: none
textarea, input[type=text], input[type=email], input[type=number]
  -webkit-appearance: none
  -webkit-border-radius: 0px

li
  list-style: none outside none

p.flash-notice, p.flash-alert
  display: none

::selection
  background: #FFCC89
  color: #555
