$legacy-support-for-ie: false;
$legacy-support-for-ie6: $legacy-support-for-ie;
$legacy-support-for-ie7: $legacy-support-for-ie;
$legacy-support-for-ie8: $legacy-support-for-ie;
$legacy-support-for-mozilla: $legacy-support-for-ie;

@import "compass";
@import "globals/variables";
@import "globals/responsive";
 
$default-additional-layer-background: #f7f7f7;
$default-selected-color: #176093;
$default-hover-color: #1d78b7;
$default-light-hover-color: #2b8acc;
$default-active-color: #155785!important;

$gray-color-0: #acb1b4;
$gray-color: #9da2a8;
$gray-color-2: #7b8084;

// кнопочки иконочные
@mixin icon($content, $font-size: 14px) {
  cursor: pointer;

  @include responsive(desktop) {
    margin-left: 15px;
  }
  @include responsive(tablet) {
    margin-left: 35px;
  }
  @include responsive(narrow-phone) {
    margin-left: 30px;
  }

  &:before {
    content: $content;
    cursor: pointer;
    display: inline-block;
    font-family: 'shikimori';
    font-size: $font-size;
    line-height: 20px;
    text-align: center;
    width: 20px;
  }
}
@mixin menu-icon($content) {
  @include icon($content);
  @include responsive(desktop) {
    margin-left: 0;
  }
  @include responsive(tablet) {
    margin-left: 0;
  }
  @include responsive(narrow-phone) {
    margin-left: 0;
  }

  &:before {
    float: left;
    margin-right: 2px;
  }
}
@mixin icon-button-selected-decor {
  color: $default-selected-color;

  &:hover {
    color: $default-hover-color;
  }
  &:active {
    color: $default-active-color;
  }
}
@mixin icon-button($content) {
  /*@include text-font;*/
  @include link-color(#444);
  @include icon($content, 13px);

  &.selected {
    @include icon-button-selected-decor;
  }
}
@mixin headline-icon-button($content) {
  @include icon-button($content);
  /*@include text-font;*/
  @include link-color(#666);
  font-size: 12px;
  cursor: pointer;
  float: right;
  font-weight: normal;
  margin: 3px 10px 0;
}

// шрифты
@mixin default-font-family {
  font-family: "Helvetica Neue",Arial,Verdana,sans-serif;
}
@mixin text-font {
  /*@include default-font-family;*/
  /*font-size: 13px;*/
  /*line-height: 21px;*/
}

@mixin new-header-font {
  color: #111;
  font: 26px normal tahoma, verdana, arial, sans-serif;
  border-bottom: none;
}
@mixin new-subheader-font {
  color: #222;
  font: 18px normal tahoma, verdana, arial, sans-serif;
  border-bottom: none;
}

@mixin h1-font {
  /*@include text-font;*/
  color: #111;
  font-size: 18px;
  font-weight: bold;
}

@mixin default-header-font-wo-color {
  /*@include text-font;*/
  font-size: 15px;
  line-height: 17px;
  font-weight: bold;
}
@mixin default-header-font {
  @include default-header-font-wo-color;
  color: #222;
}
@mixin default-subheader-font {
  /*@include text-font;*/
  color: #2A2A2A;
  font-size: 15px;
  line-height: 17px;
  font-weight: bold;
}

@mixin default-text-field {
  @include border-radius(4px);
  border-color: #c3c3c3;
  font-size: 12px;
  padding: 1px 3px;
}

@mixin default-link-hover {
  background: transparent;

  &:hover {
    @include box-shadow(#EEEEEE, 5px 5px, 7px);
    background: #FAFAFA;
    color: #222222!important;
    outline: 0 none;
  }
}

/* стандартная подсветка выбираемых элементов */
@mixin default-selectable-decor {
  /*background-color: #FFFFFF;*/
  &:hover {
    background-color: #eaeaea;
  }
  &:active {
    background-color: #e5e5e5 !important;
  }
}
@mixin inner-image-selectable-decor {
  img {
    @include image-selectable-decor;
  }
  &:hover img {
    background-color: $default-image-hover-background;
  }
  &:active img {
    background-color: $default-image-active-background;
  }
}

$default-image-background: #E5E5E5;
$default-image-hover-background: #C9C9C9;
$default-image-active-background: #ADADAD;

@mixin image-selectable-decor {
  @include transition(background-color, 0.2s);
  background-color: $default-image-background;
  &:hover {
    background-color: $default-image-hover-background;
  }
  &:active {
    background-color: $default-image-active-background;
  }
}

/* новое отображение спойлера */
@mixin spoiler-new {
  &.target {
    /*padding-left: 2.5px;*/
    /*padding-right: 2.5px;*/
    display: inline;

    &.dashed {
      border-bottom: 1px dashed #FFB3B3;
      cursor: pointer;
    }
  }
  &.collapsed {
    background: transparent!important;
    display: inline;
    padding: 0;
    text-decoration: underline;
    border: none;

    &:hover {
      color: $default-hover-color!important;
      background: transparent!important;
    }
    &:active {
      background: transparent!important;
    }
    @include normal-link;
  }
  &.collapse {
    font-size: 11px;
    margin-top: 4.5px;
    padding: 0 0 0 0;
    &:hover, &:active {
      background: transparent!important;
    }
    @include normal-link;
  }
}

/* стандартное оформление дат */
@mixin default-date-decor {
  color: $date-color;
  /*font-style: italic;*/
  font-weight: normal;
  font-size: 11px;
}

/* стандартное оформление аватара */
@mixin default-avatar-decor {
  @include border-radius(3px);
  background: #FCFCFF;
  border: 1px solid #A5CAE4;
  padding: 2px;
}

@mixin link-color($color) {
  @include transition(color, 0.2s);
  color: $color;

  &:hover {
    color: $default-hover-color;
  }
  &:active {
    color: $default-active-color;
  }
}
/* нормальная голубая ссылка */
@mixin normal-link {
  @include transition(color, 0.2s);
  @include link-color($default-selected-color);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

/* кнопка с фоном из картинки */
@mixin default-button {
  background-image: url(/images/buttons.png);
  cursor: pointer;
  display: block;
  height: 21px;
  margin-left: 5px;
  width: 21px;
  /*&:hover {*/
    /*@include border-radius(4px);*/
    /*background-color: #f3f3f3;*/
  /*}*/
  /*&:active {*/
    /*background-color: transparent;*/
  /*}*/
}

@mixin default-link-a {
  text-shadow: none;
  color: #555555;
}
@mixin default-link {
  @include default-selectable-decor;
  @include transition(background-color, 0.2s);
  cursor: pointer;
  padding: 1px 3px;

  a {
    @include default-link-a;
    cursor: inherit;
  }
}

/* серый прямоугольный блок */
$gray-block-background: #F9F9F9;
@mixin gray-block {
  /*@include text-font;*/
  @include transition(color, 0.2s);
  @include transition(background-color, 0.2s);
  background: $gray-block-background;
  color: #555;
  cursor: pointer;
  padding: 0 10px 5px;

  &:hover {
    background-color: #EEEEEE;
    color: black;
  }
  &:active {
    background-color: #E7E7E7;
  }
}
@mixin plashka {
  @include gray-block;
  border: 1px solid #F2F2F2;
  padding: 8px 4px;
  text-align: center;
  &:hover {
    border: 1px solid #E7E7E7;
  }
  &:active {
    border: 1px solid #E0E0E0;
  }
}

/* новый стиль тега */
@mixin default-tag {
  color: #333;
  margin: 0 4px 3px;
  float: left;
  border-bottom: 1px dashed $default-light-hover-color;
  cursor: pointer;
  line-height: 16px;

  &:hover {
    margin: 0 2px 4px;
    padding: 0 2px;
    color: #fff;
    border: none;
    background-color: $default-light-hover-color;
  }
  &:active {
    background-color: $default-hover-color;
  }
}

/* блок об игноре */
@mixin ignored-block {
  /*@include text-font;*/
  color: #555;
  font-size: 12px;
  line-height: 35px;
  min-height: 23px!important;
  padding-top: 0;
  text-align: center;

  a {
    @include normal-link;
    padding-left: 5px;

    span {
      padding-left: 19px
    }
  }
  img {
    position: absolute;
    margin-top: 9px;
  }
}

/* цвета логотипа */
$logo-color: #333333;
$logo-hover-color: #176093;
$logo-active-color: #104265!important;

$default-link-color: #666666;
/* вертикальный отступ для ссылок more */
$more-offset: 3px;
/* ширина контента сайта */
$site-body-width: 1005px;

/*$use-mozilla-ellipsis-binding: true;*/
