@import globals
@import mixins/log_entry

.anime_video_reports
  +text-font

  .change
    +log_entry

  .kind
    min-width: 50px

    &.broken
      color: red
    &.wrong
      color: orange
    &.uploaded
      color: blue

  .state
    display: inline-block
    margin-left: 4px

    &.accepted
      &:before
        content: 'принято'
        color: green

    &.rejected
      &:before
        content: 'отклонено'
        color: red

  .collapsed.spoiler
    float: right
    margin: 0

  .info
    p
      font-size: 12px

      &:last-child
        margin-bottom: 10px

    span
      &:first-child
        color: $gray-color-2
