//= require pages/forum/common

@import globals
@import mixins/bracket_action

.ongoings
  header
    a
      +normal-link

  .to-main-topic
    +plashka
    margin-bottom: 7px
    margin-top: 7px
    display: block

  article
    margin-bottom: 10px

    .collapse
      margin-right: 10px
      margin-top: 10px
      +bracket_action

    .collapsed
      margin-bottom: 30px

    .headline
      margin-bottom: 10px
      font-size: 17px
      padding-top: 3px
      padding-bottom: 1px

  .b-catalog-entry
    &:nth-child(4n)
      margin-right: 31px !important

    &:nth-child(5n)
      margin-right: 0 !important
