@import globals
@import mixins/column

.images-test .main
  margin-bottom: 50px

.traffic-test
  height: 250px

.animes-2 .b-catalog-entry
  +gte_ipad
    +bcolumn(2, 1/2, 8%)
  +iphone
    +bcolumn(1)

.animes-5 .b-catalog-entry
  +gte_ipad
    +bcolumn(5)
  +iphone-landscape
    +bcolumn(3)
  +iphone-portrait
    +bcolumn(2)

.animes-8 .b-catalog-entry
  +gte_ipad
    +bcolumn(8)
  +iphone-landscape
    +bcolumn(5)
  +iphone-portrait
    +bcolumn(3)


.fonts-test
  div
    display: inline-block

  .icon-0
    +icon-button("r")
  .icon-1
    +icon-button("\e801")
  .icon-2
    +icon-button("\e802")
  .icon-3
    +icon-button("s")
  .icon-4
    +icon-button("\e804")
  .icon-5
    +icon-button("\e805")
  .icon-6
    +icon-button("m")
  .icon-7
    +icon-button("\e807")
  .icon-8
    +icon-button("\e808")
  .icon-9
    +icon-button("\e809")
  .icon-10
    +icon-button("\e80a")
  .icon-11
    +icon-button("\e80b")
  .icon-12
    +icon-button("\e80c")
  .icon-13
    +icon-button("\e80d")
  .icon-14
    +icon-button("\e80e")
  .icon-15
    +icon-button("\e80f")
  .icon-16
    +icon-button("\e810")
  .icon-17
    +icon-button("\e811")
  .icon-18
    +icon-button("\e812")
  .icon-19
    +icon-button("\e813")
  .icon-20
    +icon-button("\e814")
  .icon-21
    +icon-button("\e815")
  .icon-22
    +icon-button("\e816")
  .icon-23
    +icon-button("\e817")
  .icon-24
    +icon-button("\e818")
  .icon-25
    +icon-button("\e819")
  .icon-26
    +icon-button("\e81a")
  .icon-27
    +icon-button("\e81b")
  .icon-28
    +icon-button("\e81c")
  .icon-29
    +icon-button("\e81d")
  .icon-30
    +icon-button("\e81e")
  .icon-31
    +icon-button("\e81f")
  .icon-32
    +icon-button("\e820")
  .icon-33
    +icon-button("\e821")
  .icon-34
    +icon-button("\e822")
  .icon-35
    +icon-button("\e823")
  .icon-36
    +icon-button("\e824")
  .icon-37
    +icon-button("\e825")
  .icon-38
    +icon-button("\e826")
  .icon-39
    +icon-button("\e827")
  .icon-40
    +icon-button("-")
  .icon-41
    +icon-button("\e829")
  .icon-42
    +icon-button("\e82a")
  .icon-43
    +icon-button("\e82b")
  .icon-44
    +icon-button("\e82c")
  .icon-45
    +icon-button("\e82d")
  .icon-46
    +icon-button("\e82e")
  .icon-47
    +icon-button("\e82f")
  .icon-48
    +icon-button("\e830")
  .icon-49
    +icon-button("\e831")
  .icon-50
    +icon-button("+")
  .icon-51
    +icon-button("\e833")
  .icon-52
    +icon-button("\e834")
  .icon-53
    +icon-button("\e835")
  .icon-54
    +icon-button("\e836")
  .icon-55
    +icon-button("\e837")
  .icon-56
    +icon-button("\e838")
  .icon-57
    +icon-button("\e839")
  .icon-58
    +icon-button('"')
  .icon-59
    +icon-button("\e83b")
  .icon-60
    +icon-button("\e83c")
  .icon-61
    +icon-button("\e83d")
  .icon-62
    +icon-button("\e83e")
  .icon-63
    +icon-button("\e83f")
  .icon-64
    +icon-button("\e840")
  .icon-65
    +icon-button("\e841")
  .icon-66
    +icon-button("\e842")
  .icon-67
    +icon-button("\e843")
  .icon-68
    +icon-button("\e844")
  .icon-69
    +icon-button("\e845")
  .icon-70
    +icon-button("\e846")
