@import "globals";

.images-test .main {
  margin-bottom: 50px;
}

.traffic-test {
  height: 250px;
}

.fonts-test {
  div {
    display: inline-block;
  }
  .icon-0 {
    @include icon-button('r');
  }
  .icon-1 {
    @include icon-button('\e801');
  }
  .icon-2 {
    @include icon-button('\e802');
  }
  .icon-3 {
    @include icon-button('s');
  }
  .icon-4 {
    @include icon-button('\e804');
  }
  .icon-5 {
    @include icon-button('\e805');
  }
  .icon-6 {
    @include icon-button('m');
  }
  .icon-7 {
    @include icon-button('\e807');
  }
  .icon-8 {
    @include icon-button('\e808');
  }
  .icon-9 {
    @include icon-button('\e809');
  }
  .icon-10 {
    @include icon-button('\e80a');
  }
  .icon-11 {
    @include icon-button('\e80b');
  }
  .icon-12 {
    @include icon-button('\e80c');
  }
  .icon-13 {
    @include icon-button('\e80d');
  }
  .icon-14 {
    @include icon-button('\e80e');
  }
  .icon-15 {
    @include icon-button('\e80f');
  }
  .icon-16 {
    @include icon-button('\e810');
  }
  .icon-17 {
    @include icon-button('\e811');
  }
  .icon-18 {
    @include icon-button('\e812');
  }
  .icon-19 {
    @include icon-button('\e813');
  }
  .icon-20 {
    @include icon-button('\e814');
  }
  .icon-21 {
    @include icon-button('\e815');
  }
  .icon-22 {
    @include icon-button('\e816');
  }
  .icon-23 {
    @include icon-button('\e817');
  }
  .icon-24 {
    @include icon-button('\e818');
  }
  .icon-25 {
    @include icon-button('\e819');
  }
  .icon-26 {
    @include icon-button('\e81a');
  }
  .icon-27 {
    @include icon-button('\e81b');
  }
  .icon-28 {
    @include icon-button('\e81c');
  }
  .icon-29 {
    @include icon-button('\e81d');
  }
  .icon-30 {
    @include icon-button('\e81e');
  }
  .icon-31 {
    @include icon-button('\e81f');
  }
  .icon-32 {
    @include icon-button('\e820');
  }
  .icon-33 {
    @include icon-button('\e821');
  }
  .icon-34 {
    @include icon-button('\e822');
  }
  .icon-35 {
    @include icon-button('\e823');
  }
  .icon-36 {
    @include icon-button('\e824');
  }
  .icon-37 {
    @include icon-button('\e825');
  }
  .icon-38 {
    @include icon-button('\e826');
  }
  .icon-39 {
    @include icon-button('\e827');
  }
  .icon-40 {
    @include icon-button('-');
  }
  .icon-41 {
    @include icon-button('\e829');
  }
  .icon-42 {
    @include icon-button('\e82a');
  }
  .icon-43 {
    @include icon-button('\e82b');
  }
  .icon-44 {
    @include icon-button('\e82c');
  }
  .icon-45 {
    @include icon-button('\e82d');
  }
  .icon-46 {
    @include icon-button('\e82e');
  }
  .icon-47 {
    @include icon-button('\e82f');
  }
  .icon-48 {
    @include icon-button('\e830');
  }
  .icon-49 {
    @include icon-button('\e831');
  }
  .icon-50 {
    @include icon-button('+');
  }
  .icon-51 {
    @include icon-button('\e833');
  }
  .icon-52 {
    @include icon-button('\e834');
  }
  .icon-53 {
    @include icon-button('\e835');
  }
  .icon-54 {
    @include icon-button('\e836');
  }
  .icon-55 {
    @include icon-button('\e837');
  }
  .icon-56 {
    @include icon-button('\e838');
  }
  .icon-57 {
    @include icon-button('\e839');
  }
  .icon-58 {
    @include icon-button('"');
  }
  .icon-59 {
    @include icon-button('\e83b');
  }
  .icon-60 {
    @include icon-button('\e83c');
  }
  .icon-61 {
    @include icon-button('\e83d');
  }
  .icon-62 {
    @include icon-button('\e83e');
  }
  .icon-63 {
    @include icon-button('\e83f');
  }
  .icon-64 {
    @include icon-button('\e840');
  }
  .icon-65 {
    @include icon-button('\e841');
  }
  .icon-66 {
    @include icon-button('\e842');
  }
  .icon-67 {
    @include icon-button('\e843');
  }
  .icon-68 {
    @include icon-button('\e844');
  }
  .icon-69 {
    @include icon-button('\e845');
  }
  .icon-70 {
    @include icon-button('\e846');
  }
}
