@import "globals";

.changes {
  margin-bottom: 10px;

  .head {
    margin-bottom: 5px;
  }
  .comment-block {
    border-top: none;
  }
  &>.changes-title {
    display: none;
  }
}

.animes {
  float: left;
  width: 31.5%;
  overflow: hidden;
  margin-right: 15px;
  margin-bottom: 15px;

  a {
    color: #333333;

    &:hover {
      color: #333333;
      text-decoration: underline;
    }
  }
  .translated {
    text-decoration: line-through;
    color: #777777;
  }
  .translated  a {
    color: inherit!important;
  }
}
/*.collapse {*/
  /*margin-top: -21px;*/
/*}*/
/*.collapsed {*/
  /*margin-top: 5px;*/
/*}*/
.done {
  margin-top: 15px;

  &:first-child {
    margin-top: 0px;
  }
}
.locked-by {
  color: #176093;
  font-weight: bold;
}
.unlockable {
  cursor: pointer;
}
