@import compass/utilities/general/clearfix
@import compass/css3/transition
@import globals/variables
@import mixins/icons
@import mixins/responsive

$menu_link_color: #e1e7f2

+gt_ipad
  .l-top_menu
    height: $menu_height

    .menu-mobile
      display: none

    .menu-search, .menu-userbox
      float: right
      margin-top: 0

      & > .entry
        +transition(backround-color 0.3s ease)
        color: $menu_link_color
        cursor: pointer
        float: left
        font-size: 12px
        line-height: 21px
        padding: 7px 10px 4px

    .menu-items
      +clearfix
      margin-left: 125px
      white-space: nowrap

      & > .entry
        +transition(backround-color 0.3s ease)
        color: $menu_link_color
        cursor: pointer
        float: left

        &.calendar, &.info
          & > a
            margin-left: 0 !important
            line-height: 28px
            padding-top: 5px

            &:before
              font-size: 18px !important
              line-height: 20px !important
              width: 20px !important

        &.calendar > a
          +icon('\e839')

        &.info > a
          +icon('i')

        & > a
          color: inherit
          display: inline-block
          font-size: 12px
          line-height: 27px
          padding: 4px 10px 0

          &:active
            color: #f9f9f9 !important

        &.selected, &:hover
          background-color: lighten(#4a4a4a, 4%)
          color: white
          text-decoration: none

        & > .submenu
          margin-top: 0
          margin-left: 0

        &:active
          background-color: #4A4A4A
          color: $menu_link_color !important

        & > .contest
          margin: 7px 5px 0 0

          &:before
            position: absolute
            margin-left: -5px
            line-height: 15px

    .submenu
      +transition(height 0.3s ease)
      background: #3f3f3f
      border: 2px solid #363636
      border-top: none
      display: none
      margin-left: -10px
      margin-top: 5px
      overflow: hidden
      position: absolute
      z-index: 1000

      &.right
        right: -1px
        margin-top: -1px

      &>.entry
        +transition('backround-color,color' 0.3s ease)
        background: #3f3f3f
        border-bottom: 1px solid #aaa
        color: #f9f9f9
        cursor: pointer
        display: block
        font-family: Tahoma
        font-size: 11px
        height: 21px
        line-height: 22px
        min-width: 80px
        padding: 0 8px 0 8px

        &:hover
          background: #555
          color: white

        &.active
          background: #282828
          cursor: inherit

        &:active
          background: #333
          color: $menu_link_color !important

        &:last-child
          border-bottom: none

    .moderation
      display: block
