@import globals
@import mixins/icons
@import mixins/responsive

+responsive(tablet)
  .l-top_menu
    +clearfix

    .mobile-menu-toggler.active
      background: #545454

    .menu-mobile, .menu-userbox
      float: right
      margin: 0

      #sign_in
        +icon("r")

      .search
        +icon("s")

      .menu
        +icon("m")
        margin-right: 10px

      .search, .menu, #sign_in
        color: #f9f9f9
        float: right
        cursor: pointer
        height: $menu_height - 1px
        margin-left: 15px !important

        &:before
          font-size: 22px
          line-height: $menu_height
          width: 30px

    .menu-userbox
      margin-right: 0

      .entry
        border-top: none

    .menu-items, .menu-search
      display: none
      padding-top: $menu_height + 2px

      &.active
        display: block

    .menu-items
      .entry a
        display: block

      .submenu-toggler
        +icon("m")
        cursor: pointer
        position: absolute
        right: 10px

        &:before
          content: '+'
          width: 30px
          line-height: 34px

        &.active:before
          content: '-'

      .calendar:before
        content: 'Календарь'

    .menu-search
      .entry
        border-top: none

    .submenu
      // important из-за назначения стилей десктопного меню скриптами
      display: none !important
      height: auto !important
      padding-left: 25px

      &.active
        display: block !important

    .entry
      border-top: 1px solid white
      color: white
      display: block
      line-height: $menu_height
      padding-left: 10px

      a
        color: inherit

    .moderation
      display: none
