@import globals
@import mixins/responsive
@import mixins/retina

// спрайты
@import "graphics/*.png"

+all-graphics-sprites

.to-top-fix, .l-top_menu
  +background-inline-retina('/layouts/l-top_menu/noise', 'png', auto, auto, repeat)

.to-top-fix
  //+background-image(linear-gradient(#484848, #363636))
  border-bottom: 1px solid #444
  height: $menu_height
  left: 0
  position: absolute
  top: 0
  width: 60px
  z-index: 1

  +responsive(tablet)
    display: none

.l-top_menu
  //background-color: #3e3e3e
  //+background-image(linear-gradient(#484848, #363636))
  border-bottom: 1px solid #444

  .inner
    margin: 0 auto
    max-width: $site-body-width
    position: relative

    .logo
      +background-inline-retina('/globals/logo', 'png', 106px, 22px)
      float: left
      height: 22px
      margin: 5px 15px 0 10px
      position: absolute
      width: 106px
      z-index: 2

    .moderation
      background: white
      margin-top: 8px
      position: absolute
      right: 10px
      z-index: 2

      .mod-block
        display: inline-block
        font-size: 12px
        padding-left: 10px

        span
          padding-right: 5px
          color: $red

        a
          +normal-link
          text-decoration: underline

  //.manga_online &
    //.inner
      //.logo-prefix
        //+background-inline-retina('/globals/manga_online_logo', 'png', 16px, 30px)
        //position: absolute
        //width: 16px
        //height: 30px
        //margin-left: -14px
        //margin-top: 1px
      //.logo
        //display: inline
        //margin-left: 10px
