- if Rails.env.development? || Rails.env.test?
  div style="width: 728px; height: 90px; background: #ddd; border: 1px solid #aaa;" &nbsp;
- else
  iframe src="#{pingmedia_iframe_728x90_advertur_url}" width='728px' height='90px'
