<div class="block">
  <% if Rails.env.development? || Rails.env.test? %>
    <div style="width: 240px; height: 400px; background: #ddd; border: 1px solid #aaa;">&nbsp;</div>
  <% else %>
    <%# <iframe src="#{pingmedia_iframe_240x400_advertur_url}" width='240px' height='400px' /> %>
    <!-- 240*400 Advertur.ru start -->
    <div id="advertur_2731"></div><script type="text/javascript">
        (function(w, d, n) {
            w[n] = w[n] || [];
            w[n].push({
                section_id: 2731,
                place: "advertur_2731",
                width: 240,
                height: 400
            });
        })(window, document, "advertur_sections");
    </script>
    <script type="text/javascript" src="//ddnk.advertur.ru/v1/s/loader.js" async></script>
    <!-- 240*400 Advertur.ru end -->
  <% end %>
</div>
