<% if Rails.env.development? || Rails.env.test? %>
  <div style="width: 100%; height: 90px; background: #ddd; border: 1px solid #aaa;">&nbsp;</div>
<% else %>
  <iframe src="<%= pingmedia_iframe_728x90_url %>" width='100%' height='90px'></iframe>
<% end %>
