<% if Rails.env.development? || Rails.env.test? %>
  <div style="width: 100%; height: 60px; background: #ddd; border: 1px solid #aaa;">&nbsp;</div>
<% else %>
  <iframe src="<%= pingmedia_iframe_468x60_url %>" width='100%' height='60px'></iframe>
<% end %>
