- t('.instructions').each do |instruction|
  p == I18n.interpolate instruction,
    site_link: link_to(Site::DOMAIN, "http://#{Site::DOMAIN}"),
    reset_password_url: edit_password_url(@resource, reset_password_token: @token)
