- if poster
  picture data-poster_id=poster.id
    source[
      srcset='#{cdn_poster_url db_entry: db_entry, poster: poster, derivative: derivative}, #{cdn_poster_url db_entry: db_entry, poster: poster, derivative: :"#{derivative}_2x"} 2x'
      type='image/webp'
    ]
    img[
      alt=localized_name(db_entry)
      src=cdn_poster_url(db_entry: db_entry, poster: poster, derivative: :"#{derivative}_alt")
      srcset='#{cdn_poster_url db_entry: db_entry, poster: poster, derivative: :"#{derivative}_alt_2x"} 2x'
    ]
    / loading=(:lazy unless derivative == :main)
- else
  img[
    alt=localized_name(db_entry)
    src='/assets/globals/missing/#{derivative}.png'
    srcset='/assets/globals/missing/#{derivative}@2x.png 2x'
  ]
    / loading=(:lazy unless derivative == :main)
