.copyright
  |&copy; #{Shikimori::DOMAIN}&nbsp;
  span.date 2011-#{Time.zone.today.year}

.links
  a.terms[
    href=terms_pages_url(subdomain: false)
    title=t('.terms')
    tabindex="-1"
  ] = t '.terms'
  a.privacy[
    href=privacy_pages_url(subdomain: false)
    title=t('.privacy')
    tabindex="-1"
  ] = t '.privacy'
  - if ru_host?
    a.for-right-holders[
      href=for_right_holders_pages_url(subdomain: false)
      title=t('.for_right_holders')
      tabindex="-1"
    ] = t '.for_right_holders'
  a.sitemap[
    href=sitemap_url(subdomain: false)
    title=t('.sitemap')
    tabindex="-1"
  ] = t '.sitemap'
