@import "globals";

.review-block {
  .content {
    overflow: hidden;
  }

  .vote-block:last-child {
    margin-bottom: 15px;
  }
  .votes-count {
    font-size: 11px;
    color: $gray-color-2;
    white-space: nowrap;
  }
  .votes + .prgrph > img {
    max-width: 505px;
    padding-top: 10px;
  }
  .last-block {
    @include text-font;
    @include clearfix;
    clear: right;

    p {
      font-size: 11px;
      color: #555;
    }
    .vote {
      @include link-color(#444);
      cursor: pointer;
      padding-left: 10px;

      &.selected {
        color: $selected-color;
        text-decoration: underline;
      }
      &:last-child {
        padding-left: 6px;
      }
    }
    .date {
      display: inline;
      float: right!important;
      padding-left: 10px;
    }
  }
  .buttons {
    a:hover, a:hover span {
      text-decoration: none!important;
    }
  }
}
/*.review-block {*/
  /*margin-bottom: 15px;*/
  /*padding-right: 0;*/

  /*&:first-child {*/
    /*border-top: none;*/
  /*}*/
  /*.vote-block:last-child {*/
    /*margin-bottom: 15px;*/
  /*}*/
  /*.votes-count {*/
    /*font-size: 11px;*/
    /*color: $gray-color-2;*/
  /*}*/
  /*.body {*/
    /*clear: none;*/
    /*margin-bottom: 5px;*/
  /*}*/
  /*.last-block {*/
    /*@include text-font;*/

    /*p {*/
      /*font-size: 11px;*/
      /*color: #555;*/
    /*}*/
    /*.vote {*/
      /*@include link-color(#444);*/
      /*cursor: pointer;*/
      /*padding-left: 10px;*/

      /*&.selected {*/
        /*color: $selected-color;*/
        /*text-decoration: underline;*/
      /*}*/
      /*&:last-child {*/
        /*padding-left: 6px;*/
      /*}*/
    /*}*/
    /*.date {*/
      /*display: inline;*/
      /*float: right;*/
      /*padding-left: 10px;*/
    /*}*/
  /*}*/

  /*.comments {*/
    /*margin-top: 10px;*/
  /*}*/
  /*.buttons {*/
    /*.delete-controls {*/
      /*display: none;*/
    /*}*/
/*}*/
/*}*/

.review-block, .reviews-edit {
  .votes {
    float: right;
    margin-left: 20px;
  }
}
.reviews-edit {
  .name-head {
    /*float: left;*/
    font-weight: bold;
  }
  .votes {
    margin-top: 105px;
  }
  .scores-on-top {
    position: absolute;
    right: 29px;
    margin-top: 75px;

    label {
      cursor: pointer;
      padding-right: 5px;
    }
    input {
      vertical-align: middle;
    }
  }
  .name.input {
    background-color: #FCFCFC;
    border-color: #DDD;
    color: #333;
    margin: 0;
    padding-left: 5px;
    width: 375px;
  }
  .votes-head {
    text-align: right;
  }
  .vote-block {
    .title {
      color: #333;
      font-size: 13px;
      font-weight: bold;
      padding-top: 9px;
    }
  }
  .forum-container {
    /*display: none;*/
  }
  .shiki-editor {
    clear: right;
    /*width: 490px;*/

    /*.editor {*/
      /*textarea, div {*/
        /*width: 474px!important;*/
      /*}*/
    /*}*/
    .editor-smiley, .editor-spoiler {
      display: none;
    }
    &.preview {
      padding-top: 5px!important;
    }
  }
  .about {
    ul {
      li {
        @include text-font;
      }
    }
    p {
      /*display: none;*/
      margin-bottom: 5px;
      &:first-child {
        display: block;
      }
    }
    u {
      color: #222;
    }
    a {
      @include normal-link;
    }
    .accepted {
      display: block;
    }
    .accept, .final-accept {
      @include normal-link;
      font-weight: bold;
    }
  }
}
