@import "globals/responsive";
@import "globals";

@include responsive(tablet) {
  .to-top-fix {
    display: none;
  }
  .main-menu {
    @include clearfix;

    .menu-mobile, .menu-userbox {
      float: right;
      margin: 0;

      #sign_in {
        @include icon('r');
      }
      .search {
        @include icon('s');
      }
      .menu {
        @include icon('m');
        margin-right: 10px;
      }
      .search, .menu, #sign_in {
        color: #f9f9f9;
        float: right;
        cursor: pointer;
        height: $menu-height - 1px;
        margin-left: 15px!important;

        &:before {
          font-size: 22px;
          line-height: $menu-height;
          width: 30px;
        }
      }
    }
    .menu-userbox {
      margin-right: 0;

      .entry {
        border-top: none;
      }
    }
    .menu-items, .menu-search {
      display: none;
      padding-top: $menu-height + 2px;

      &.active {
        display: block;
      }
    }
    .menu-items {
      .submenu-toggler {
        @include icon('m');
        cursor: pointer;
        float: right;
        margin-right: 10px;

        &:before {
          content: '+';
          width: 30px;
        }
        &.active:before {
          content: '-';
        }
      }
      .calendar:before {
        content: 'Календарь';
      }
    }
    .menu-search {
      .entry {
        border-top: none;
      }
    }
    .submenu {
      // important из-за назначения стилей десктопного меню скриптами
      display: none!important;
      height: auto!important;
      padding-left: 5px;

      &.active {
        display: block!important;
      }
    }
    .entry {
      border-top: 1px solid white;
      color: white;
      display: block;
      /*height: $menu-height;*/
      line-height: $menu-height;
      padding-left: 10px;

      a {
        color: inherit;
      }
    }
    .moderation {
      display: none;
    }
  }
}
