.news_wall
  = render partial: 'topics/topic',
    collection: @view.news_topic_views[0..(params[:limit] ? params[:limit].to_i - 1 : -1)],
    locals: { do_not_track: true },
    as: :topic_view,
    cached: ->(entry) { cache_keys entry, :do_not_track }

  - if @view.news_topic_views.next_page
    = render 'blocks/postloader',
      filter: 'b-topic',
      next_url: news_tests_url(page: @view.news_topic_views.next_page)
