/iframe src="https://vk.com/video_ext.php?oid=-34650217&id=171057382&hash=7b27d0273c8158cb&hd=2" frameborder="0"

/div
  /= @video.player_html
/br
/br
/br
div style="padding: 0; margin: 0"
  iframe src="https://vk.com/video_ext.php?oid=-43342147&id=171458048&hash=90b3e90fe1ba57de&hd=2" width="853" height="480" frameborder="0"
