.b-info
  .pair
    margin: 4px 0

    .key
      display: inline-block
      color: #aaa
      margin-right: 10px

    .value
      display: inline

    .tooltip-inner
      text-align: left

    .label
      font-size: 13px

