---
http_interactions:
- request:
    method: get
    uri: https://rutube.ru/api/play/trackinfo/10259595?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Clock:
      - '0.046875'
      Allow:
      - GET, HEAD, OPTIONS
      X-Request-Time:
      - '0.0707931518555'
      X-Host-Back:
      - frontend-101.dl.rutube.ru,10.1.61.18:3031
    body:
      encoding: ASCII-8BIT
      string: '{"video_url": "https://rutube.ru/video/8d2ba036c95314a62ce8a0fed801c81d/",
        "html": "<iframe width=\"720\" height=\"405\" src=\"//rutube.ru/play/embed/10259595\"
        frameborder=\"0\" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>",
        "is_licensed": false, "gpmd_id": 2, "gpmd_puid1": 2, "author": {"url": "https://rutube.ru/video/person/1141964/",
        "accounts": [{"net": 2, "uid": "5553731", "is_deleted": false}], "logo": null,
        "id": 1141964, "name": "Risens Team"}, "size": 0, "posting_author_id": null,
        "has_video": true, "captions": [], "cuepoints": [], "tags": [{"id": 2427,
        "name": "\u0410\u043d\u0438\u043c\u0435"}], "category": {"id": 41, "category_url":
        "https://rutube.ru/video/category/41/", "name": "\u0410\u043d\u0438\u043c\u0435",
        "short_name": "cartoons-anime"}, "thumbnail_url": "https://pic.rutube.ru/video/53/fb/53fb1fbf7e5e74e5bf7b8474617d3cf4.jpg",
        "is_livestream": false, "id": "8d2ba036c95314a62ce8a0fed801c81d", "title":
        "Shingeki no Kyojin 2 \u0441\u0435\u0437\u043e\u043d 1 \u0441\u0435\u0440\u0438\u044f
        \u0440\u0443\u0441\u0441\u043a\u0430\u044f \u043e\u0437\u0432\u0443\u0447\u043a\u0430
        Risens Team / \u0410\u0442\u0430\u043a\u0430 \u0422\u0438\u0442\u0430\u043d\u043e\u0432
        \u0422\u0412-2 01 \u044d\u043f\u0438\u0437\u043e\u0434", "is_adult": false,
        "is_hidden": false, "track_id": 10259595, "duration": 1477017, "is_external":
        false, "pepper": null}'
  recorded_at: Mon, 03 Apr 2017 11:11:00 GMT
recorded_with: VCR 3.0.3
